.gray-darker {
  padding: 1rem;
}
.gray-dark {
  padding: 1rem;
}
.gray-medium {
  padding: 1rem;
}
.gray-light {
  padding: 1rem;
}
.gray-lighter {
  padding: 1rem;
}
* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
b,
big,
button,
i,
small,
tt,
abbr,
acronym,
cite,
code,
em,
strong,
a,
br,
img,
map,
object,
span,
sub,
sup,
input,
label,
select,
textarea,
pre {
  max-width: 55rem;
}
b.action,
big.action,
button.action,
i.action,
small.action,
tt.action,
abbr.action,
acronym.action,
cite.action,
code.action,
em.action,
strong.action,
a.action,
br.action,
img.action,
map.action,
object.action,
span.action,
sub.action,
sup.action,
input.action,
label.action,
select.action,
textarea.action {
  color: #247632;
}
b.reaction,
big.reaction,
button.reaction,
i.reaction,
small.reaction,
tt.reaction,
abbr.reaction,
acronym.reaction,
cite.reaction,
code.reaction,
em.reaction,
strong.reaction,
a.reaction,
br.reaction,
img.reaction,
map.reaction,
object.reaction,
span.reaction,
sub.reaction,
sup.reaction,
input.reaction,
label.reaction,
select.reaction,
textarea.reaction {
  color: #c52001;
}
b.alternate,
big.alternate,
button.alternate,
i.alternate,
small.alternate,
tt.alternate,
abbr.alternate,
acronym.alternate,
cite.alternate,
code.alternate,
em.alternate,
strong.alternate,
a.alternate,
br.alternate,
img.alternate,
map.alternate,
object.alternate,
span.alternate,
sub.alternate,
sup.alternate,
input.alternate,
label.alternate,
select.alternate,
textarea.alternate {
  color: #916812;
}
b.info,
big.info,
button.info,
i.info,
small.info,
tt.info,
abbr.info,
acronym.info,
cite.info,
code.info,
em.info,
strong.info,
a.info,
br.info,
img.info,
map.info,
object.info,
span.info,
sub.info,
sup.info,
input.info,
label.info,
select.info,
textarea.info {
  color: #1a789a;
}
b.warning,
big.warning,
button.warning,
i.warning,
small.warning,
tt.warning,
abbr.warning,
acronym.warning,
cite.warning,
code.warning,
em.warning,
strong.warning,
a.warning,
br.warning,
img.warning,
map.warning,
object.warning,
span.warning,
sub.warning,
sup.warning,
input.warning,
label.warning,
select.warning,
textarea.warning {
  color: #90661d;
}
b.accent,
big.accent,
button.accent,
i.accent,
small.accent,
tt.accent,
abbr.accent,
acronym.accent,
cite.accent,
code.accent,
em.accent,
strong.accent,
a.accent,
br.accent,
img.accent,
map.accent,
object.accent,
span.accent,
sub.accent,
sup.accent,
input.accent,
label.accent,
select.accent,
textarea.accent {
  color: #617334;
}
b.success,
big.success,
button.success,
i.success,
small.success,
tt.success,
abbr.success,
acronym.success,
cite.success,
code.success,
em.success,
strong.success,
a.success,
br.success,
img.success,
map.success,
object.success,
span.success,
sub.success,
sup.success,
input.success,
label.success,
select.success,
textarea.success {
  color: #247d3c;
}
b.failure,
big.failure,
button.failure,
i.failure,
small.failure,
tt.failure,
abbr.failure,
acronym.failure,
cite.failure,
code.failure,
em.failure,
strong.failure,
a.failure,
br.failure,
img.failure,
map.failure,
object.failure,
span.failure,
sub.failure,
sup.failure,
input.failure,
label.failure,
select.failure,
textarea.failure {
  color: #b31701;
}
b.highlight,
big.highlight,
button.highlight,
i.highlight,
small.highlight,
tt.highlight,
abbr.highlight,
acronym.highlight,
cite.highlight,
code.highlight,
em.highlight,
strong.highlight,
a.highlight,
br.highlight,
img.highlight,
map.highlight,
object.highlight,
span.highlight,
sub.highlight,
sup.highlight,
input.highlight,
label.highlight,
select.highlight,
textarea.highlight {
  color: #995499;
}
b.default,
big.default,
button.default,
i.default,
small.default,
tt.default,
abbr.default,
acronym.default,
cite.default,
code.default,
em.default,
strong.default,
a.default,
br.default,
img.default,
map.default,
object.default,
span.default,
sub.default,
sup.default,
input.default,
label.default,
select.default,
textarea.default {
  color: #7d6f49;
}
p,
ol,
ul,
pre,
address,
blockquote,
dl,
div,
fieldset,
form,
hr,
main,
section,
table {
  margin-bottom: 1em;
}
p.action,
ol.action,
ul.action,
pre.action,
address.action,
blockquote.action,
dl.action,
div.action,
fieldset.action,
form.action,
hr.action,
main.action,
section.action,
table.action {
  background-color: #257933;
  color: #ffffff;
}
p.reaction,
ol.reaction,
ul.reaction,
pre.reaction,
address.reaction,
blockquote.reaction,
dl.reaction,
div.reaction,
fieldset.reaction,
form.reaction,
hr.reaction,
main.reaction,
section.reaction,
table.reaction {
  background-color: #ca2101;
  color: #ffffff;
}
p.alternate,
ol.alternate,
ul.alternate,
pre.alternate,
address.alternate,
blockquote.alternate,
dl.alternate,
div.alternate,
fieldset.alternate,
form.alternate,
hr.alternate,
main.alternate,
section.alternate,
table.alternate {
  background-color: #ab7a15;
  color: #000000;
}
p.info,
ol.info,
ul.info,
pre.info,
address.info,
blockquote.info,
dl.info,
div.info,
fieldset.info,
form.info,
hr.info,
main.info,
section.info,
table.info {
  background-color: #25acdd;
  color: #02090b;
}
p.warning,
ol.warning,
ul.warning,
pre.warning,
address.warning,
blockquote.warning,
dl.warning,
div.warning,
fieldset.warning,
form.warning,
hr.warning,
main.warning,
section.warning,
table.warning {
  background-color: #efaa31;
  color: #241907;
}
p.accent,
ol.accent,
ul.accent,
pre.accent,
address.accent,
blockquote.accent,
dl.accent,
div.accent,
fieldset.accent,
form.accent,
hr.accent,
main.accent,
section.accent,
table.accent {
  background-color: #b1d05e;
  color: #232a13;
}
p.success,
ol.success,
ul.success,
pre.success,
address.success,
blockquote.success,
dl.success,
div.success,
fieldset.success,
form.success,
hr.success,
main.success,
section.success,
table.success {
  background-color: #3ed969;
  color: #0c2b15;
}
p.failure,
ol.failure,
ul.failure,
pre.failure,
address.failure,
blockquote.failure,
dl.failure,
div.failure,
fieldset.failure,
form.failure,
hr.failure,
main.failure,
section.failure,
table.failure {
  background-color: #b71701;
  color: #ffffff;
}
p.highlight,
ol.highlight,
ul.highlight,
pre.highlight,
address.highlight,
blockquote.highlight,
dl.highlight,
div.highlight,
fieldset.highlight,
form.highlight,
hr.highlight,
main.highlight,
section.highlight,
table.highlight {
  background-color: #ff8cff;
  color: #261526;
}
p.default,
ol.default,
ul.default,
pre.default,
address.default,
blockquote.default,
dl.default,
div.default,
fieldset.default,
form.default,
hr.default,
main.default,
section.default,
table.default {
  background-color: #988659;
  color: #000000;
}
p.action,
ol.action,
ul.action,
pre.action,
address.action,
blockquote.action,
dl.action,
div.action,
fieldset.action,
form.action,
hr.action,
main.action,
section.action,
table.action,
p.reaction,
ol.reaction,
ul.reaction,
pre.reaction,
address.reaction,
blockquote.reaction,
dl.reaction,
div.reaction,
fieldset.reaction,
form.reaction,
hr.reaction,
main.reaction,
section.reaction,
table.reaction,
p.alternate,
ol.alternate,
ul.alternate,
pre.alternate,
address.alternate,
blockquote.alternate,
dl.alternate,
div.alternate,
fieldset.alternate,
form.alternate,
hr.alternate,
main.alternate,
section.alternate,
table.alternate,
p.info,
ol.info,
ul.info,
pre.info,
address.info,
blockquote.info,
dl.info,
div.info,
fieldset.info,
form.info,
hr.info,
main.info,
section.info,
table.info,
p.warning,
ol.warning,
ul.warning,
pre.warning,
address.warning,
blockquote.warning,
dl.warning,
div.warning,
fieldset.warning,
form.warning,
hr.warning,
main.warning,
section.warning,
table.warning,
p.accent,
ol.accent,
ul.accent,
pre.accent,
address.accent,
blockquote.accent,
dl.accent,
div.accent,
fieldset.accent,
form.accent,
hr.accent,
main.accent,
section.accent,
table.accent,
p.success,
ol.success,
ul.success,
pre.success,
address.success,
blockquote.success,
dl.success,
div.success,
fieldset.success,
form.success,
hr.success,
main.success,
section.success,
table.success,
p.failure,
ol.failure,
ul.failure,
pre.failure,
address.failure,
blockquote.failure,
dl.failure,
div.failure,
fieldset.failure,
form.failure,
hr.failure,
main.failure,
section.failure,
table.failure,
p.highlight,
ol.highlight,
ul.highlight,
pre.highlight,
address.highlight,
blockquote.highlight,
dl.highlight,
div.highlight,
fieldset.highlight,
form.highlight,
hr.highlight,
main.highlight,
section.highlight,
table.highlight,
p.default,
ol.default,
ul.default,
pre.default,
address.default,
blockquote.default,
dl.default,
div.default,
fieldset.default,
form.default,
hr.default,
main.default,
section.default,
table.default {
  padding: 1rem;
}
.dropcap:first-letter {
  float: left;
  font-size: 360%;
  line-height: 2;
  padding-top: 0.125em;
  padding-right: 0.15em;
  padding-left: 0.125em;
}
.feature {
  padding: 2rem;
  font-size: 161.8%;
  line-height: 1.618;
}
.text-center {
  text-align: center;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.hide,
.hidden {
  display: none !important;
}
.clearfix {
  clear: both;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  color: #d0d8d1;
  background-color: #123b19;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2248%22%20height%3D%2232%22%20viewBox%3D%220%200%2048%2032%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20fill%3D%22rgb(30,69,37)%22%3E%3Cpath%20d%3D%22M27%2032c0-3.314%202.686-6%206-6%205.523%200%2010-4.477%2010-10S38.523%206%2033%206c-3.314%200-6-2.686-6-6h2c0%202.21%201.79%204%204%204%206.627%200%2012%205.373%2012%2012s-5.373%2012-12%2012c-2.21%200-4%201.79-4%204h-2zm-6%200c0-3.314-2.686-6-6-6-5.523%200-10-4.477-10-10S9.477%206%2015%206c3.314%200%206-2.686%206-6h-2c0%202.21-1.79%204-4%204C8.373%204%203%209.373%203%2016s5.373%2012%2012%2012c2.21%200%204%201.79%204%204h2z%22%20%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: center center;
  background-size: 2 2;
  background-attachment: fixed;
  padding-top: 1rem;
  -webkit-overflow-scrolling: touch;
  font-size: 16px;
  line-height: 25.888px;
}
@media screen and (min-width: 37.618rem) {
  body {
    font-size: 18px;
    line-height: 29.124px;
  }
}
@media screen and (min-width: 56.618rem) {
  body {
    padding-top: 1.618em;
    font-size: 20px;
    line-height: 32.36px;
  }
}
main {
  margin: 0 auto;
  margin-bottom: 1.618em;
  max-width: 55rem;
}
nav {
  display: none;
}
section {
  box-shadow: 0 1px 2px rgba(46, 46, 46, 0.25);
  padding: 0.5rem;
  background-color: #fbfbfb;
  color: #3f3f3f;
  border: 0 solid #3f3f3f;
  margin-bottom: 1.618em;
}
@media screen and (min-width: 37.618rem) {
  section {
    padding: 1rem;
    margin-left: 1em;
    margin-right: 1em;
  }
}
@media screen and (min-width: 56.618rem) {
  section {
    border-width: 1px;
    padding: 2rem;
  }
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  letter-spacing: -0.025em;
  color: inherit;
  max-width: 55rem;
  width: 100%;
}
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 1.5em;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 1rem;
}
h1 {
  font-size: 2.6em;
  line-height: 1.3;
}
h2 {
  font-size: 1.8em;
  line-height: 0.9;
}
h3 {
  font-size: 1.4em;
  line-height: 0.7;
}
h4 {
  font-size: 1.2em;
  line-height: 0.6;
}
h5 {
  font-size: 1.1em;
  line-height: 0.55;
}
h6 {
  font-size: 1em;
  line-height: 0.5;
}
p {
  margin-bottom: 1em;
}
a {
  color: #13566e;
}
form {
  padding: 1rem;
}
input {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 20px;
  line-height: 32.36px;
  border: 1px solid #4f4f4f;
  border-radius: 0.61804697rem;
  color: #323232;
  padding: 1rem;
}
input:focus {
  box-shadow: 0 0 2px #ff8cff;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 3ch;
  margin-left: 1em;
  margin-bottom: 1em;
}
ul {
  padding-left: 3ch;
  margin-left: 1em;
  margin-bottom: 1em;
}
b {
  padding: 0.18em 0 0.22em 0;
}
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  padding: 1rem;
  margin-bottom: 1em;
  border: 1px solid #4f4f4f;
  border-radius: 0.61804697rem;
  font-size: 20px;
  box-shadow: 0 1px 2px rgba(46, 46, 46, 0.25);
  display: inline;
  color: #000000;
  background: #988659;
  width: 100%;
  max-width: 36rem;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  border: 1px solid #3f3f3f;
  transform: scale(1);
  transition: 0.08s linear;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
button:focus,
.button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  box-shadow: 0 1px 2px rgba(63, 63, 63, 0.5);
}
button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  transform: scale(0.98);
  box-shadow: none;
}
@media screen and (min-width: 56.618rem) {
  button,
  .button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    width: auto;
    margin-right: 1ch;
  }
  button:last-child,
  .button:last-child,
  input[type="button"]:last-child,
  input[type="reset"]:last-child,
  input[type="submit"]:last-child {
    margin-right: 0;
  }
}
button.action,
.button.action,
input[type="button"].action,
input[type="reset"].action,
input[type="submit"].action {
  color: #ffffff;
  background: #257933;
}
button.reaction,
.button.reaction,
input[type="button"].reaction,
input[type="reset"].reaction,
input[type="submit"].reaction {
  color: #ffffff;
  background: #ca2101;
}
button.alternate,
.button.alternate,
input[type="button"].alternate,
input[type="reset"].alternate,
input[type="submit"].alternate {
  color: #000000;
  background: #ab7a15;
}
button.info,
.button.info,
input[type="button"].info,
input[type="reset"].info,
input[type="submit"].info {
  color: #02090b;
  background: #25acdd;
}
button.warning,
.button.warning,
input[type="button"].warning,
input[type="reset"].warning,
input[type="submit"].warning {
  color: #241907;
  background: #efaa31;
}
button.accent,
.button.accent,
input[type="button"].accent,
input[type="reset"].accent,
input[type="submit"].accent {
  color: #232a13;
  background: #b1d05e;
}
button.success,
.button.success,
input[type="button"].success,
input[type="reset"].success,
input[type="submit"].success {
  color: #0c2b15;
  background: #3ed969;
}
button.failure,
.button.failure,
input[type="button"].failure,
input[type="reset"].failure,
input[type="submit"].failure {
  color: #ffffff;
  background: #b71701;
}
button.highlight,
.button.highlight,
input[type="button"].highlight,
input[type="reset"].highlight,
input[type="submit"].highlight {
  color: #261526;
  background: #ff8cff;
}
button.default,
.button.default,
input[type="button"].default,
input[type="reset"].default,
input[type="submit"].default {
  color: #000000;
  background: #988659;
}
pre {
  overflow: hidden;
  padding: 1rem;
}
code,
pre {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #3f3f3f;
  color: #bcbcbc;
  padding: 0.2em 1ch;
}
code.action,
code .action {
  color: #8db994;
  background: #3f3f3f;
}
code.reaction,
code .reaction {
  color: #e79b8d;
  background: #3f3f3f;
}
code.alternate,
code .alternate {
  color: #c8a967;
  background: #3f3f3f;
}
code.info,
code .info {
  color: #46b8e2;
  background: #3f3f3f;
}
code.warning,
code .warning {
  color: #f0ac36;
  background: #3f3f3f;
}
code.accent,
code .accent {
  color: #b2d162;
  background: #3f3f3f;
}
code.success,
code .success {
  color: #43da6c;
  background: #3f3f3f;
}
code.failure,
code .failure {
  color: #e19d93;
  background: #3f3f3f;
}
code.highlight,
code .highlight {
  color: #ff8fff;
  background: #3f3f3f;
}
code.default,
code .default {
  color: #b9ad8f;
  background: #3f3f3f;
}
textarea {
  font-size: 20px;
  line-height: 32.36px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  margin-bottom: 1em;
  border: 1px solid #4f4f4f;
  border-radius: 0.61804697rem;
  padding: 1rem;
  color: #323232;
}
textarea:focus {
  box-shadow: 0 0 2px #ff8cff;
}
.color-palette div {
  float: left;
  width: 1.618em;
  height: 1.618em;
  margin-right: 1rem;
  margin-bottom: 1rem;
  overflow: hidden;
  color: transparent !important;
}
.color-palette div:last-child {
  clear: both;
}
.color-palette div:last-child:after {
  display: block;
  clear: both;
  content: "";
}
.less_logo {
  display: block;
  max-width: 132px;
  margin: 0 auto;
}
.powered-by {
  font-size: 90%;
  text-decoration: none;
  margin-right: 12px;
}
.logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 18rem;
  max-width: 132px;
}
.pattern-example {
  width: 100%;
  height: 400px;
  margin-bottom: 1em;
}
.pattern-example:after {
  background-color: #5c9b66;
  color: #000000;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.icon {
  float: left;
  display: block;
  position: relative;
  width: 32.36px;
  height: 32.36px;
  padding: 1rem;
  margin: 1rem;
  margin-right: 222px;
  background: transparent;
  background-repeat: no-repeat;
  color: #257933;
}
.icon:after {
  width: 222px;
  font-size: 85%;
  position: absolute;
  bottom: 0;
  left: 42.36px;
}
.icon:last-child {
  clear: both;
}
.icon:last-child:after {
  display: block;
  clear: both;
  content: "";
}
#icon_library {
  display: none;
}
.gray-darker {
  background-color: #2e2e2e;
  color: #cbcbcb;
}
.gray-dark {
  background-color: #3f3f3f;
  color: #e2e2e2;
}
.gray-medium {
  background-color: #4f4f4f;
  color: #f6f6f6;
}
.gray-light {
  background-color: #a0a0a0;
  color: #080808;
}
.gray-lighter {
  background-color: #f2f2f2;
  color: #3c3c3c;
}
