*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
p,
ol,
ul,
pre,
address,
blockquote,
dl,
div,
fieldset,
form,
hr,
main,
section,
table {
  margin: 0;
  padding: 0;
  max-width: 55rem;
}
body {
  background-color: #e2dbb1;
  color: #38372c;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10px' height='10px'%3E %3Crect width='10px' height='10px' fill='rgb(226,219,177)'/%3E %3Crect width='1' height='1' fill='rgb(113,109,89)'/%3E %3C/svg%3E");
  background-size: 40px, 40px;
  background-position: 5px center;
  font-size: 20px;
  font-size: calc((100vw - 1.6rem)/26.5);
  font-weight: bold;
  line-height: calc((2)*(100vw - 1.6rem)/26.5);
  margin: 0;
  padding: 0;
  padding-top: 5rem;
  overflow-x: hidden;
  width: auto;
  -webkit-overflow-scrolling: touch;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
@media screen and (min-width: 35.6rem) {
  body {
    font-size: 20px;
    font-weight: normal;
    line-height: 32.36px;
  }
}
main {
  padding: 0.8rem;
  margin: 0 auto 0.8rem auto;
  max-width: 110rem;
  background-color: white;
  color: #404040;
  border: 1px solid white;
  border-color: #404040;
}
section {
  padding: 0.8rem;
}
p {
  margin-bottom: 1em;
  border: 1px solid transparent;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 4rem;
  font-size: calc((100vw - 1.6rem)/100);
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 4rem;
  letter-spacing: -0.025em;
  color: #4f4c3e;
  max-width: 55rem;
  width: 100%;
}
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 1.5em;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 1rem;
}
h1 {
  font-size: calc((100vw - 1.6rem)/9);
  line-height: calc((8/7)*(100vw - 1.6rem)/9);
}
h2 {
  font-size: calc((100vw - 1.6rem)/10.625);
  line-height: calc((7/6)*(100vw - 1.6rem)/10.625);
}
h3 {
  font-size: calc((100vw - 1.6rem)/12.625);
  line-height: calc((6/5)*(100vw - 1.6rem)/12.625);
}
h4 {
  font-size: calc((100vw - 1.6rem)/14);
  line-height: calc((5/4)*(100vw - 1.6rem)/14);
}
h5 {
  font-size: calc((100vw - 1.6rem)/16.5);
  line-height: calc((4/3)*(100vw - 1.6rem)/16.5);
}
h6 {
  font-size: calc((100vw - 1.6rem)/18);
  line-height: calc((3/2)*(100vw - 1.6rem)/18);
}
@media screen and (min-width: 35.6rem) {
  h1 {
    font-size: 6rem;
    line-height: 8rem;
  }
  h2 {
    font-size: 5rem;
    line-height: 7rem;
  }
  h3 {
    font-size: 4rem;
    line-height: 6rem;
  }
  h4 {
    font-size: 3rem;
    line-height: 5rem;
  }
  h5 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  h6 {
    font-size: 2rem;
    line-height: 3rem;
  }
}
ol {
  padding-left: 0.8rem;
  margin-left: 0.8rem;
  margin-bottom: 0.8rem;
}
.hide,
.hidden {
  display: none !important;
}
.clearfix {
  clear: both;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
.action,
.reaction,
.alternate,
.info,
.warning,
.accent,
.success,
.failure,
.highlight {
  padding: 0.8rem;
}
.action a {
  color: #3c697a;
}
.reaction a {
  color: #3f6f80;
}
.alternate a {
  color: #3c697a;
}
.info a {
  color: #2d4f5b;
}
.warning a {
  color: #3c697a;
}
.accent a {
  color: #3c697a;
}
.success a {
  color: #365f6e;
}
.failure a {
  color: #2d4f5b;
}
.action {
  background-color: #f6e9a2;
  color: #3e3a28;
  border-color: #3e3a28;
}
.reaction {
  background-color: #eef1fc;
  color: #3c3c3f;
  border-color: #3c3c3f;
}
.alternate {
  background-color: #aef9da;
  color: #2c3e36;
  border-color: #2c3e36;
}
.info {
  background-color: #78d3f4;
  color: #182a31;
  border-color: #182a31;
}
.warning {
  background-color: #eff14a;
  color: #3c3c12;
  border-color: #3c3c12;
}
.accent {
  background-color: #acff59;
  color: #2b4016;
  border-color: #2b4016;
}
.success {
  background-color: #5ffa89;
  color: #183e22;
  border-color: #183e22;
}
.failure {
  background-color: #f3b9aa;
  color: #312522;
  border-color: #312522;
}
.highlight {
  background-color: #a6ffff;
  color: #2a4040;
  border-color: #2a4040;
}
