*,
*:before,
*:after {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
p,
ol,
ul,
pre,
address,
blockquote,
dl,
div,
fieldset,
form,
hr,
main,
section,
table,
button {
  margin: 0;
  padding: 0;
  max-width: 55rem;
}
body {
  background-color: #684b73;
  color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='10px' height='10px'%3E %3Crect width='10px' height='10px' fill='rgb(104,75,115)'/%3E %3Crect width='1' height='1' fill='rgb(180,165,185)'/%3E %3C/svg%3E");
  background-size: 40px, 40px;
  background-position: 5px center;
  font-size: 20px;
  font-size: calc((100vw - 1.6rem)/26.5);
  font-weight: normal;
  line-height: calc((2)*(100vw - 1.6rem)/26.5);
  margin: 0;
  padding: 0;
  padding-top: 5rem;
  overflow-x: hidden;
  width: auto;
  -webkit-overflow-scrolling: touch;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
@media screen and (min-width: 35.6rem) {
  body {
    font-size: 20px;
    font-weight: normal;
    line-height: 32.36px;
  }
}
main {
  padding: 0.8rem;
  margin: 0 auto;
  margin-bottom: 1.6rem;
  background-color: white;
  color: #404040;
  border: 1px solid white;
  border-color: #404040;
}
section {
  padding: 0.8rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 4.4rem;
  font-size: calc((100vw - 1.6rem)/100);
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 4rem;
  letter-spacing: -0.025em;
  color: inherit;
  max-width: 55rem;
  width: 100%;
}
p + h1,
p + h2,
p + h3,
p + h4,
p + h5,
p + h6 {
  margin-top: 1.5em;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 1rem;
}
h1 {
  font-size: calc((100vw - 1.6rem)/9);
  line-height: calc((8/7)*(100vw - 1.6rem)/9);
}
h2 {
  font-size: calc((100vw - 1.6rem)/10.625);
  line-height: calc((7/6)*(100vw - 1.6rem)/10.625);
}
h3 {
  font-size: calc((100vw - 1.6rem)/12.625);
  line-height: calc((6/5)*(100vw - 1.6rem)/12.625);
}
h4 {
  font-size: calc((100vw - 1.6rem)/14);
  line-height: calc((5/4)*(100vw - 1.6rem)/14);
}
h5 {
  font-size: calc((100vw - 1.6rem)/16.5);
  line-height: calc((4/3)*(100vw - 1.6rem)/16.5);
}
h6 {
  font-size: calc((100vw - 1.6rem)/18);
  line-height: calc((3/2)*(100vw - 1.6rem)/18);
}
@media screen and (min-width: 35.6rem) {
  h1 {
    font-size: 6rem;
    line-height: 8rem;
  }
  h2 {
    font-size: 5rem;
    line-height: 7rem;
  }
  h3 {
    font-size: 4rem;
    line-height: 6rem;
  }
  h4 {
    font-size: 3rem;
    line-height: 5rem;
  }
  h5 {
    font-size: 2.5rem;
    line-height: 4rem;
  }
  h6 {
    font-size: 2rem;
    line-height: 3rem;
  }
}
p {
  margin-bottom: 1em;
  border: 1px solid transparent;
}
ol {
  padding-left: 0.8rem;
  margin-left: 0.8rem;
  margin-bottom: 0.8rem;
}
ul {
  padding-left: 0.8rem;
  margin-left: 0.8rem;
  margin-bottom: 0.8rem;
}
span.action,
span.reaction,
span.info,
span.warning,
span.success,
span.failure,
span.highlight {
  padding: 0.18em 0 0.22em 0;
}
mark {
  background-color: #ff2b99 !important;
  color: #000000 !important;
}
mark.action,
mark.reaction,
mark.info,
mark.warning,
mark.success,
mark.failure,
mark.highlight {
  padding: 0.18em 0 0.22em 0;
}
mark.action {
  background-color: #5d2372 !important;
  color: #e7deea !important;
}
mark.reaction {
  background-color: #467014 !important;
  color: #ffffff !important;
}
mark.alternate {
  background-color: #12627c !important;
  color: #ffffff !important;
}
mark.info {
  background-color: #18789b !important;
  color: #ffffff !important;
}
mark.warning {
  background-color: #ffe639 !important;
  color: #403a0e !important;
}
mark.accent {
  background-color: #466ae0 !important;
  color: #ffffff !important;
}
mark.success {
  background-color: #3ed267 !important;
  color: #09200f !important;
}
mark.failure {
  background-color: #b42903 !important;
  color: #ffffff !important;
}
mark.highlight {
  background-color: #ff2b99 !important;
  color: #000000 !important;
}
button,
.button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  font-family: inherit;
  font-size: 2.2rem;
  margin-bottom: 0.8rem;
  display: inline-block;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding: 0.8rem;
  border: 4px solid transparent;
  border-radius: 0.5em;
  touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  background-color: #5d2372;
  color: white;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background-color: #4d1d5e;
}
button:active,
.button:active,
input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active {
  background: #ebe3ed;
}
button.action,
.button.action,
input[type="button"].action,
input[type="reset"].action,
input[type="submit"].action {
  background-color: #5d2372;
  color: white;
}
button.action:active,
.button.action:active,
input[type="button"].action:active,
input[type="reset"].action:active,
input[type="submit"].action:active {
  background-color: #4d1d5e;
}
button.action:active,
.button.action:active,
input[type="button"].action:active,
input[type="reset"].action:active,
input[type="submit"].action:active {
  background: #ebe3ed;
}
button.reaction,
.button.reaction,
input[type="button"].reaction,
input[type="reset"].reaction,
input[type="submit"].reaction {
  background-color: #467014;
  color: white;
}
button.reaction:active,
.button.reaction:active,
input[type="button"].reaction:active,
input[type="reset"].reaction:active,
input[type="submit"].reaction:active {
  background-color: #385a10;
}
button.reaction:active,
.button.reaction:active,
input[type="button"].reaction:active,
input[type="reset"].reaction:active,
input[type="submit"].reaction:active {
  background: #e8ede2;
}
button.alternate,
.button.alternate,
input[type="button"].alternate,
input[type="reset"].alternate,
input[type="submit"].alternate {
  background-color: #12627c;
  color: white;
}
button.alternate:active,
.button.alternate:active,
input[type="button"].alternate:active,
input[type="reset"].alternate:active,
input[type="submit"].alternate:active {
  background-color: #0e5066;
}
button.alternate:active,
.button.alternate:active,
input[type="button"].alternate:active,
input[type="reset"].alternate:active,
input[type="submit"].alternate:active {
  background: #e1ebef;
}
button.info,
.button.info,
input[type="button"].info,
input[type="reset"].info,
input[type="submit"].info {
  color: white;
  background-color: #18789b;
  color: #ffffff;
}
button.info:active,
.button.info:active,
input[type="button"].info:active,
input[type="reset"].info:active,
input[type="submit"].info:active {
  background-color: #156785;
}
button.info:active,
.button.info:active,
input[type="button"].info:active,
input[type="reset"].info:active,
input[type="submit"].info:active {
  background: #e2eef3;
}
button.warning,
.button.warning,
input[type="button"].warning,
input[type="reset"].warning,
input[type="submit"].warning {
  background-color: #6c5e00;
  color: white;
  background-color: #ffe639;
  color: #665c17;
}
button.warning:active,
.button.warning:active,
input[type="button"].warning:active,
input[type="reset"].warning:active,
input[type="submit"].warning:active {
  background-color: #524800;
}
button.warning:active,
.button.warning:active,
input[type="button"].warning:active,
input[type="reset"].warning:active,
input[type="submit"].warning:active {
  background: #201d07;
}
button.accent,
.button.accent,
input[type="button"].accent,
input[type="reset"].accent,
input[type="submit"].accent {
  color: white;
  background-color: #466ae0;
  color: #ffffff;
}
button.accent:active,
.button.accent:active,
input[type="button"].accent:active,
input[type="reset"].accent:active,
input[type="submit"].accent:active {
  background-color: #3059dd;
}
button.accent:active,
.button.accent:active,
input[type="button"].accent:active,
input[type="reset"].accent:active,
input[type="submit"].accent:active {
  background: #e8ecfb;
}
button.success,
.button.success,
input[type="button"].success,
input[type="reset"].success,
input[type="submit"].success {
  background-color: #1f863b;
  color: white;
}
button.success:active,
.button.success:active,
input[type="button"].success:active,
input[type="reset"].success:active,
input[type="submit"].success:active {
  background-color: #1a7232;
}
button.success:active,
.button.success:active,
input[type="button"].success:active,
input[type="reset"].success:active,
input[type="submit"].success:active {
  background: #081a0d;
}
button.failure,
.button.failure,
input[type="button"].failure,
input[type="reset"].failure,
input[type="submit"].failure {
  background-color: #b42903;
  color: white;
}
button.failure:active,
.button.failure:active,
input[type="button"].failure:active,
input[type="reset"].failure:active,
input[type="submit"].failure:active {
  background-color: #9b2303;
}
button.failure:active,
.button.failure:active,
input[type="button"].failure:active,
input[type="reset"].failure:active,
input[type="submit"].failure:active {
  background: #f6e4e0;
}
button.highlight,
.button.highlight,
input[type="button"].highlight,
input[type="reset"].highlight,
input[type="submit"].highlight {
  background-color: #bf0063;
  color: white;
  background-color: #ff2b99;
  color: #33091f;
}
button.highlight:active,
.button.highlight:active,
input[type="button"].highlight:active,
input[type="reset"].highlight:active,
input[type="submit"].highlight:active {
  background-color: #a60056;
}
button.highlight:active,
.button.highlight:active,
input[type="button"].highlight:active,
input[type="reset"].highlight:active,
input[type="submit"].highlight:active {
  background: #200513;
}
@media screen and (min-width: 35.6rem) {
  button,
  .button,
  input[type="button"],
  input[type="reset"],
  input[type="submit"] {
    width: auto;
  }
}
button:disabled,
.button:disabled,
input[type="button"]:disabled,
input[type="reset"]:disabled,
input[type="submit"]:disabled {
  background-color: #727272 !important;
  color: white !important;
  opacity: 0.5;
}
button:disabled:active,
.button:disabled:active,
input[type="button"]:disabled:active,
input[type="reset"]:disabled:active,
input[type="submit"]:disabled:active {
  background-color: #656565 !important;
}
button:disabled:active,
.button:disabled:active,
input[type="button"]:disabled:active,
input[type="reset"]:disabled:active,
input[type="submit"]:disabled:active {
  background: #151515 !important;
}
button:focus,
.button:focus,
input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus {
  outline: none;
}
.hide,
.hidden {
  display: none !important;
}
.clearfix {
  clear: both;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
b.action,
big.action,
i.action,
small.action,
tt.action,
abbr.action,
acronym.action,
cite.action,
code.action,
em.action,
strong.action,
a.action,
br.action,
img.action,
map.action,
object.action,
span.action,
sub.action,
sup.action,
input.action,
label.action,
select.action,
textarea.action {
  color: #5a226f;
}
b.reaction,
big.reaction,
i.reaction,
small.reaction,
tt.reaction,
abbr.reaction,
acronym.reaction,
cite.reaction,
code.reaction,
em.reaction,
strong.reaction,
a.reaction,
br.reaction,
img.reaction,
map.reaction,
object.reaction,
span.reaction,
sub.reaction,
sup.reaction,
input.reaction,
label.reaction,
select.reaction,
textarea.reaction {
  color: #446d13;
}
b.alternate,
big.alternate,
i.alternate,
small.alternate,
tt.alternate,
abbr.alternate,
acronym.alternate,
cite.alternate,
code.alternate,
em.alternate,
strong.alternate,
a.alternate,
br.alternate,
img.alternate,
map.alternate,
object.alternate,
span.alternate,
sub.alternate,
sup.alternate,
input.alternate,
label.alternate,
select.alternate,
textarea.alternate {
  color: #115f79;
}
b.info,
big.info,
i.info,
small.info,
tt.info,
abbr.info,
acronym.info,
cite.info,
code.info,
em.info,
strong.info,
a.info,
br.info,
img.info,
map.info,
object.info,
span.info,
sub.info,
sup.info,
input.info,
label.info,
select.info,
textarea.info {
  color: #187598;
}
b.warning,
big.warning,
i.warning,
small.warning,
tt.warning,
abbr.warning,
acronym.warning,
cite.warning,
code.warning,
em.warning,
strong.warning,
a.warning,
br.warning,
img.warning,
map.warning,
object.warning,
span.warning,
sub.warning,
sup.warning,
input.warning,
label.warning,
select.warning,
textarea.warning {
  color: #796d1b;
}
b.accent,
big.accent,
i.accent,
small.accent,
tt.accent,
abbr.accent,
acronym.accent,
cite.accent,
code.accent,
em.accent,
strong.accent,
a.accent,
br.accent,
img.accent,
map.accent,
object.accent,
span.accent,
sub.accent,
sup.accent,
input.accent,
label.accent,
select.accent,
textarea.accent {
  color: #4468db;
}
b.success,
big.success,
i.success,
small.success,
tt.success,
abbr.success,
acronym.success,
cite.success,
code.success,
em.success,
strong.success,
a.success,
br.success,
img.success,
map.success,
object.success,
span.success,
sub.success,
sup.success,
input.success,
label.success,
select.success,
textarea.success {
  color: #257e3e;
}
b.failure,
big.failure,
i.failure,
small.failure,
tt.failure,
abbr.failure,
acronym.failure,
cite.failure,
code.failure,
em.failure,
strong.failure,
a.failure,
br.failure,
img.failure,
map.failure,
object.failure,
span.failure,
sub.failure,
sup.failure,
input.failure,
label.failure,
select.failure,
textarea.failure {
  color: #af2803;
}
b.highlight,
big.highlight,
i.highlight,
small.highlight,
tt.highlight,
abbr.highlight,
acronym.highlight,
cite.highlight,
code.highlight,
em.highlight,
strong.highlight,
a.highlight,
br.highlight,
img.highlight,
map.highlight,
object.highlight,
span.highlight,
sub.highlight,
sup.highlight,
input.highlight,
label.highlight,
select.highlight,
textarea.highlight {
  color: #d2247e;
}
p.action,
ol.action,
ul.action,
pre.action,
address.action,
blockquote.action,
dl.action,
div.action,
fieldset.action,
form.action,
hr.action,
main.action,
section.action,
table.action,
button.action {
  background-color: #5d2372;
  color: #e7deea;
}
p.reaction,
ol.reaction,
ul.reaction,
pre.reaction,
address.reaction,
blockquote.reaction,
dl.reaction,
div.reaction,
fieldset.reaction,
form.reaction,
hr.reaction,
main.reaction,
section.reaction,
table.reaction,
button.reaction {
  background-color: #467014;
  color: #ffffff;
}
p.alternate,
ol.alternate,
ul.alternate,
pre.alternate,
address.alternate,
blockquote.alternate,
dl.alternate,
div.alternate,
fieldset.alternate,
form.alternate,
hr.alternate,
main.alternate,
section.alternate,
table.alternate,
button.alternate {
  background-color: #12627c;
  color: #ffffff;
}
p.info,
ol.info,
ul.info,
pre.info,
address.info,
blockquote.info,
dl.info,
div.info,
fieldset.info,
form.info,
hr.info,
main.info,
section.info,
table.info,
button.info {
  background-color: #18789b;
  color: #ffffff;
}
p.warning,
ol.warning,
ul.warning,
pre.warning,
address.warning,
blockquote.warning,
dl.warning,
div.warning,
fieldset.warning,
form.warning,
hr.warning,
main.warning,
section.warning,
table.warning,
button.warning {
  background-color: #ffe639;
  color: #403a0e;
}
p.accent,
ol.accent,
ul.accent,
pre.accent,
address.accent,
blockquote.accent,
dl.accent,
div.accent,
fieldset.accent,
form.accent,
hr.accent,
main.accent,
section.accent,
table.accent,
button.accent {
  background-color: #466ae0;
  color: #ffffff;
}
p.success,
ol.success,
ul.success,
pre.success,
address.success,
blockquote.success,
dl.success,
div.success,
fieldset.success,
form.success,
hr.success,
main.success,
section.success,
table.success,
button.success {
  background-color: #3ed267;
  color: #09200f;
}
p.failure,
ol.failure,
ul.failure,
pre.failure,
address.failure,
blockquote.failure,
dl.failure,
div.failure,
fieldset.failure,
form.failure,
hr.failure,
main.failure,
section.failure,
table.failure,
button.failure {
  background-color: #b42903;
  color: #ffffff;
}
p.highlight,
ol.highlight,
ul.highlight,
pre.highlight,
address.highlight,
blockquote.highlight,
dl.highlight,
div.highlight,
fieldset.highlight,
form.highlight,
hr.highlight,
main.highlight,
section.highlight,
table.highlight,
button.highlight {
  background-color: #ff2b99;
  color: #000000;
}
p.action,
ol.action,
ul.action,
pre.action,
address.action,
blockquote.action,
dl.action,
div.action,
fieldset.action,
form.action,
hr.action,
main.action,
section.action,
table.action,
button.action,
p.reaction,
ol.reaction,
ul.reaction,
pre.reaction,
address.reaction,
blockquote.reaction,
dl.reaction,
div.reaction,
fieldset.reaction,
form.reaction,
hr.reaction,
main.reaction,
section.reaction,
table.reaction,
button.reaction,
p.alternate,
ol.alternate,
ul.alternate,
pre.alternate,
address.alternate,
blockquote.alternate,
dl.alternate,
div.alternate,
fieldset.alternate,
form.alternate,
hr.alternate,
main.alternate,
section.alternate,
table.alternate,
button.alternate,
p.info,
ol.info,
ul.info,
pre.info,
address.info,
blockquote.info,
dl.info,
div.info,
fieldset.info,
form.info,
hr.info,
main.info,
section.info,
table.info,
button.info,
p.warning,
ol.warning,
ul.warning,
pre.warning,
address.warning,
blockquote.warning,
dl.warning,
div.warning,
fieldset.warning,
form.warning,
hr.warning,
main.warning,
section.warning,
table.warning,
button.warning,
p.accent,
ol.accent,
ul.accent,
pre.accent,
address.accent,
blockquote.accent,
dl.accent,
div.accent,
fieldset.accent,
form.accent,
hr.accent,
main.accent,
section.accent,
table.accent,
button.accent,
p.success,
ol.success,
ul.success,
pre.success,
address.success,
blockquote.success,
dl.success,
div.success,
fieldset.success,
form.success,
hr.success,
main.success,
section.success,
table.success,
button.success,
p.failure,
ol.failure,
ul.failure,
pre.failure,
address.failure,
blockquote.failure,
dl.failure,
div.failure,
fieldset.failure,
form.failure,
hr.failure,
main.failure,
section.failure,
table.failure,
button.failure,
p.highlight,
ol.highlight,
ul.highlight,
pre.highlight,
address.highlight,
blockquote.highlight,
dl.highlight,
div.highlight,
fieldset.highlight,
form.highlight,
hr.highlight,
main.highlight,
section.highlight,
table.highlight,
button.highlight {
  padding: 0.8rem;
}
