// TODO: namespace these

@icons-all: activity,
alert-circle,
alert-triangle,
archive,
arrow-back,
arrow-circle-down,
arrow-circle-left,
arrow-circle-right,
arrow-circle-up,
arrow-down,
arrow-downward,
arrow-forward,
arrowhead-down,
arrowhead-left,
arrowhead-right,
arrowhead-up,
arrow-ios-back,
arrow-ios-downward,
arrow-ios-forward,
arrow-ios-upward,
arrow-left,
arrow-right,
arrow-up,
arrow-upward,
at,
attach-2,
attach,
award,
backspace,
bar-chart-2,
bar-chart,
battery,
behance,
bell-off,
bell,
bluetooth,
bookmark,
book-open,
book,
briefcase,
browser,
brush,
bulb,
calendar,
camera,
car,
cast,
charging,
checkmark-circle-2,
checkmark-circle,
checkmark-square-2,
checkmark-square,
checkmark,
chevron-down,
chevron-left,
chevron-right,
chevron-up,
clipboard,
clock,
close-circle,
close-square,
close,
cloud-download,
cloud-upload,
code-download,
code,
collapse,
color-palette,
color-picker,
compass,
copy,
corner-down-left,
corner-down-right,
corner-left-down,
corner-left-up,
corner-right-down,
corner-right-up,
corner-up-left,
corner-up-right,
credit-card,
crop,
cube,
diagonal-arrow-left-down,
diagonal-arrow-left-up,
diagonal-arrow-right-down,
diagonal-arrow-right-up,
done-all,
download,
droplet-off,
droplet,
edit-2,
edit,
email,
expand,
external-link,
eye-off-2,
eye-off,
eye,
facebook,
file-add,
file-remove,
file,
file-text,
film,
flag,
flash-off,
flash,
flip-2,
flip,
folder-add,
folder-remove,
folder,
funnel,
gift,
github,
globe-2,
globe-3,
globe,
google,
grid,
hard-drive,
hash,
headphones,
heart,
home,
image-2,
image,
inbox,
info,
keypad,
layers,
layout,
link-2,
linkedin,
link,
list,
lock,
log-in,
log-out,
map,
maximize,
menu-2,
menu-arrow,
menu,
message-circle,
message-square,
mic-off,
mic,
minimize,
minus-circle,
minus-square,
minus,
monitor,
moon,
more-horizontal,
more-vertical,
move,
music,
navigation-2,
navigation,
npm,
options-2,
options,
pantone,
paper-plane,
pause-circle,
people,
percent,
person-add,
person-delete,
person-done,
person-remove,
person,
phone-call,
phone-missed,
phone-off,
phone,
pie-chart-2,
pie-chart,
pin,
play-circle,
plus-circle,
plus-square,
plus,
power,
pricetags,
printer,
question-mark-circle,
question-mark,
radio-button-off,
radio-button-on,
radio,
recording,
refresh,
repeat,
rewind-left,
rewind-right,
save,
scissors,
search,
settings-2,
settings,
shake,
share,
shield-off,
shield,
shopping-bag,
shopping-cart,
shuffle-2,
shuffle,
skip-back,
skip-forward,
slash,
smartphone,
smiling-face,
speaker,
square,
star,
stop-circle,
sun,
swap,
sync,
text,
thermometer-minus,
thermometer-plus,
thermometer,
toggle-left,
toggle-right,
trash-2,
trash,
trending-down,
trending-up,
tv,
twitter,
umbrella,
undo,
unlock,
upload,
video-off,
video,
volume-down,
volume-mute,
volume-off,
volume-up,
wifi-off,
wifi;

each(@icons-all, {
    // this outputs everything in an escaped SVG format
    .invoke-icon(@value);
    // this is just for the demo site
    .icon.@{value} {
        .icon(@value; @action;);
        

        &:after {
            content: "@{value}";
        }
    }
});

.invoke-icon(@icon-name) {
    .icon.@{icon-name} { background-image: data-uri('image/svg+xml;charset=UTF-8', 'icons/@{icon-name}.svg')}
}

.icon(@icon-name: wifi; @base: @background-color;) {
   
    // @icon: @@icon-name;

    .contrast-fill(@base; 1.125;);
    @bg-base: @fill;
  
    @bg-red: round(red(@bg-base));
    @bg-green: round(green(@bg-base));
    @bg-blue: round(blue(@bg-base));
    @bg: ~"rgb(@{bg-red},@{bg-green},@{bg-blue})";

    // background-color: @base;
    fill: currentColor;
    // background-image: url("data:image/svg+xml,@{icon}");
    background-position: center center;
}