// environment
// all of these files only output variables/mixins for the environment, no CSS rules

@import (reference) "properties";
@import (reference) "settings";
@import (reference) "viewports";
@import (reference) "targets";
@import (reference) "colors/grays";
@import "colors/semantic";
@import (reference) "colors/turbo";
// TODO: add some sort of color palette feature
@import "icons";
@import (reference) "patterns"; 
@import (reference) "mixins/mixins";

// css output
// edit these files directly to change the appearance of HTML elements

@import "reset";
@import "utilities";

@import "elements/body";
@import "elements/main";
@import "elements/nav";
@import "elements/section";
@import "elements/headline";
@import "elements/p";
@import "elements/a";
@import "elements/form";
@import "elements/fieldset";
@import "elements/ol";
@import "elements/ul";
@import "elements/span";
@import "elements/mark";
@import "elements/b";
@import "elements/button";
@import "elements/pre";
@import "elements/code";
@import "elements/blockquote";
@import "elements/textarea";
// TODO: support all HTML elements

// button.warning {
//     &:before {
//         content:"";
//         float: left;
//         margin-top: -2px;
//         margin-right: @padding*.6;
//         .icon(alert-triangle; @warning;);
//     }
// }

// button.failure {
//     &:before {
//         content:"";
//         float: left;
//         margin-top: -2px;
//         margin-right: @padding*.6;
//         .icon(alert-triangle; @failure;);
//     }
// }

// add any other Less/CSS here

.less_logo {
    // @logo: data-uri("less_logo.png");

    display: block;
    max-width: image-width("less_logo.png")/4;
    // height: image-height("less_logo.png")/4;
    // background: @logo;
    // background-size: 100% 100%;
    margin: 0 auto;
}

.powered-by {
    font-size: 90%;
    text-decoration: none;
}

.pattern-example {
    width: 100%;
    height: 400px;
    .default(margin-bottom);

    &:after {
        .set-tone(@base-color);
        @color: mix(@base-color, @tone, 75%);
        .colorize(@color);
        padding: @text-padding;
    }
}

.icon {
    @width: @line-height;
    @spacer: 222px;

    float: left;
    display: block;
    position: relative;
    width: @width;
    height: @width;
    padding: @padding;
    margin: @padding;
    margin-right: @spacer;
    background: transparent;
    background-repeat: no-repeat;
    color: @action;

    &:after {
        width: @spacer;
        font-size: 85%;
        position: absolute;
        bottom: 0;
        left: @width + 10px;
    }

    &:last-child {
        .clearfix();
    }
}


#icon_library { display: none;}