// utility classes

.no-user-select {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.hide, .hidden { display: none !important;}

.clearfix {
  clear: both;
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

// semantic color classes

.inline-elements({
  each(@semantic-colors, { &.@{value} { .color-text(@@value);};});
});

.block-level-elements({
  each(@semantic-colors, { &.@{value} { .colorize(@@value);};});
});