// utility classes

.no-user-select {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.hide, .hidden { display: none !important;}

.clearfix {
  clear: both;
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

@semantic-link-cr: 4.5; // contrast-ratio for semantic links to meet

.inline-elements({
  &.action { .color-text(@action);}
  &.reaction { .color-text(@reaction);}
  &.alternate { .color-text(@alternate);}
  &.info { .color-text(@info);}
  &.warning { .color-text(@warning);}
  &.accent { .color-text(@accent);}
  &.success { .color-text(@success);}
  &.failure { .color-text(@failure);}
  &.highlight { .color-text(@highlight);}
});

.block-level-elements({
  &.action { .colorize(@action);}
  &.reaction { .colorize(@reaction);}
  &.alternate { .colorize(@alternate);}
  &.info { .colorize(@info);}
  &.warning { .colorize(@warning);}
  &.accent { .colorize(@accent);}
  &.success { .colorize(@success);}
  &.failure { .colorize(@failure);}
  &.highlight { .colorize(@highlight);}

  &.action,
  &.reaction,
  &.alternate,
  &.info, 
  &.warning, 
  &.accent, 
  &.success, 
  &.failure, 
  &.highlight {
    .default(padding);
  }
});