// defaults for inline and block level elements
// these rules generate a lot of CSS but cover tons of HTML edge cases

.inline-elements({
  .default(max-width);
  each(@semantic-color-names, { &.@{value} { .color-text(@@value);};});
});

.block-level-elements({
  margin-bottom: @margin;

  each(@semantic-color-names, { &.@{value} { .colorize(@@value);};});
  
  each(@extended-color-names, { 
    @replace: replace(e(@value), "var-", "");
    &.@{replace} { 
      .colorize(@@value);

      &:before {
        content: "@{replace}";
      }
    };
  });

  .semantic-classes({
      .default(padding);
  });
});


// utility classes

.dropcap {
  &:first-letter {
    float: left;
    font-size: 360%;
    line-height: 2;
    padding-top: .125em;
    padding-right: .15em;
    padding-left: .125em;
  }
}

.feature {
  padding: @padding*2;
  font-size: @golden-ratio*100%;
  line-height: @golden-ratio;
}

.text-center {
  text-align: center;
}

.no-user-select {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.hide, .hidden { display: none !important;}

.clearfix {
  clear: both;
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

