body {
    @body-char: 31.334;
    @body-char: 26.5; // why does this work?
    background-color: @background;
    .contrast-text-against(@background);
    // .blueprint(@background);
    // .honeycomb(@background);
    // .dots(@background);
    font-size: @font-size;
    font-size: ~"calc((100vw - @{gutter})/@{body-char})";
    font-weight: bold;
    line-height: ~"calc((2)*(100vw - @{gutter})/@{body-char})";
    margin: 0;
    padding: 0;
    padding-top: @nav-height;
    overflow-x: hidden;
    width: auto;
    -webkit-overflow-scrolling: touch;
  
    & when (@monospace = true) {
        font-family:
          "SFMono-Regular",
          Consolas,
          "Liberation Mono",
          Menlo,
          Courier,
          monospace;
    }
  
    .on-tablet({
      font-size: @font-size;
      font-weight: normal;
      line-height: @line-height;
    });
  }
  