.button-elements({
    .default(margin-bottom);
    .default(border);
    .default(border-radius);
    .default(font-size);
    .default(box-shadow);
  
    display: inline;
    .button-color(@action);
    // padding: 0 .5rem .25rem .5rem;
    // font-family: inherit;
    font-size: 115%; 
    width: 100%;
    .default(padding-left);
    .default(padding-right);
    line-height: @line-height*2;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    outline: none;
    border: none;
    white-space: nowrap;
    text-decoration: none;
    touch-action: manipulation;
    cursor: pointer;
    .no-user-select;
    border: 1px solid transparent;
    .make-buttons-for(@semantic-colors);



    @list: transparent 0%, transparent 1%, rgba(red(@ambient), green(@ambient), blue(@ambient), .6) 1%, transparent 62%;
    background-image: svg-gradient(to bottom, @list);
    background-repeat: repeat-x;

    &:active {
      @list: transparent 0%, transparent 1%, rgba(red(@ambient), green(@ambient), blue(@ambient), .3) 1%, transparent 62%;
      background-image: svg-gradient(to bottom, @list);
      box-shadow: 0 1px 2px rgba(red(@gray), green(@gray), blue(@gray), .5);

    }

    .on-tablet({
      width: auto;
    });
});
  
.make-buttons-for(@colors) {
    // make buttons for a list of color variable names
    // buttons will use variable names as class names
  
    @length: length(@colors);
  
    .make-button();
  
    .make-button(@index:1) when (@index <= @length) {
      @color-name: extract(@colors, @index);
      @color: @@color-name;
  
      &.@{color-name} { .button-color(@color);}
  
      .make-button(@index + 1);
    }
}

.button-borders(@color) {
  .set-border-color() {
    .set-lumafix(@color; @gray-darker; 40%;);
    border-color: @lumafix;
  }
  .set-border-color();
}

.button-color(@color; @contrast-standard: 4.5;) 
                      when (@color = @highlight)
                        or (@color = @accent)
                        or (@color = @warning)
                        or (@color = @info) {
    @button-bg: @color;
    .colorize(@button-bg; @contrast-standard);
    .button-borders(@button-bg);

    &:active {
      @active-bg: darken(@button-bg, 16%);
      background-color: @active-bg;
      .colorize(@button-bg; @contrast-standard*.8);
    }
}

.button-color(@color; @contrast-standard: 3;) when (default()) {
  @button-bg: @color;
  .invert-text-against(@button-bg; @contrast-standard;);
  .button-borders(@button-bg);

  &:active {
    .invert-text-against(@button-bg; @contrast-standard*1.6;);
    color: mix(@button-bg, white, 16%);
  }
}