@h1-base: 6;
@h2-base: 5;
@h3-base: 4;
@h4-base: 3;
@h5-base: 2.5;
@h6-base: 2;

.headline-elements({
  font-weight: bold;
  margin-top: 2rem;
  margin-bottom: 4rem;
  letter-spacing: -.025em;
  color: inherit;
  //.contrast-text-against(@background; @contrast-standard: 4.5;);
  
  // line-height: 10rem;

  max-width: @max-width;
  width: 100%;
  // .clearfix();

  p + & {
    margin-top: 1.5em;
  }

  &:first-child {
    margin-top: 1rem;
  }
});

.headline-size(@size; @height;) {
  font-size: @size;
  line-height: @height*.42;
}

h1 { .headline-size(3em; 3;)}
h2 { .headline-size(3em; 2.5;)}
h3 { .headline-size(2.5em; 2;)}
h4 { .headline-size(2em; 1.5;)}
h5 { .headline-size(1.5em; 1.25;)}
h6 { .headline-size(1em; 1;)}