main {
    @background: white;

    padding: @padding/2;

    margin: 0 auto;
    margin-bottom: @gutter;
    background-color: @background;
    .contrast(@background);
    width: 100%;
    max-width: @page-width;

    .on-tablet({
        .default(padding);
    });

    // > * {
    //     margin: 0 auto;
    // }
}