main {
    @background: white;

    .has(padding);

    margin: 0 auto;
    margin-bottom: @gutter;
    background-color: @background;
    .contrast-text-against(@background);
    border: 1px solid @background;
    .contrast-border-against(@background);
}