main {
    @background: white;

    padding: @padding/2;

    margin: 0 auto;
    margin-bottom: @gutter;
    background-color: @background;
    .contrast(@background);
    width: 100%;
    max-width: @page-width;
    .default(box-shadow);

    .on-tablet({
        .default(padding);
    });

    .set-lumafix(@background; @gray-darker;);
    border: 1px solid @lumafix;

    // > * {
    //     margin: 0 auto;
    // }
}