section {
    .default(box-shadow);

    padding: @padding/2;
    .colorize(@main-background);
    border: 0 solid @gray-dark;
    .contrast(border-color; average(@main-background, @background); 1.5;);
    margin-bottom: @gutter;

    .on-large-phone({
        padding: @padding;
        margin-left: @margin;
        margin-right: @margin;
    });

    .on-tablet({
        border-width: 1px;
        padding: @padding*2;
    });
}