.white {
  background-color: #fefefe;
  color: #4c4c4c;
}
.black {
  background-color: #1a390a;
  color: #c0c8bc;
}
.red {
  background-color: #ff7453;
  color: #ffffff;
}
.orange {
  background-color: #ffbc14;
  color: #402f05;
}
.yellow {
  background-color: #f4f503;
  color: #494a01;
}
.olive {
  background-color: #aab603;
  color: #ffffff;
}
.green {
  background-color: #14ad03;
  color: #ffffff;
}
.teal {
  background-color: #14bbab;
  color: #ffffff;
}
.cyan {
  background-color: #14f3f0;
  color: #054342;
}
.skyblue {
  background-color: #67d7f6;
  color: #1a363e;
}
.blue {
  background-color: #7aa9eb;
  color: #ffffff;
}
.indigo {
  background-color: #815fa6;
  color: #ffffff;
}
.purple {
  background-color: #bb74b6;
  color: #ffffff;
}
.violet {
  background-color: #f1a6f0;
  color: #362536;
}
.gray {
  background-color: #a7b3a1;
  color: #ffffff;
}
.brown {
  background-color: #bb9056;
  color: #ffffff;
}
.magenta {
  background-color: #ef83ee;
  color: #ffffff;
}
.lavender {
  background-color: #dee2f8;
  color: #3d3e44;
}
.cream {
  background-color: #eff8dc;
  color: #484a42;
}
.charcoal {
  background-color: #76754b;
  color: #ffffff;
}
.crimson {
  background-color: #d57c6b;
  color: #ffffff;
}
.clover {
  background-color: #46e50e;
  color: #123904;
}
.cobalt {
  background-color: #4e8aec;
  color: #ffffff;
}
.graphite {
  background-color: #506d69;
  color: #ffffff;
}
.action {
  background-color: #53e638;
  color: #153a0e;
}
.reaction {
  background-color: #e7a5f4;
  color: #342537;
}
.info {
  background-color: #815fa6;
  color: #ffffff;
}
.warning {
  background-color: #ffbc14;
  color: #402f05;
}
.success {
  background-color: #14ad03;
  color: #ffffff;
}
.failure {
  background-color: #ff7453;
  color: #ffffff;
}
.default {
  background-color: #7dcd6c;
  color: #ffffff;
}
:root {
  --base-color: #53e638;
  --body-background: #53e638;
  --main-background: #fefefe;
  --action: #53e638;
  --reaction: #e7a5f4;
  --info: #815fa6;
  --warning: #ffbc14;
  --success: #14ad03;
  --failure: #ff7453;
  --default: #7dcd6c;
  --text-contrast: 7;
  --ambient: #b1ff86;
  --shadow-color: rgba(26, 57, 10, 0.1824829);
  --shadow-position: 0 1px;
  --shadow-blur: 5px;
  --text-measure: 35;
  --text-padding: 0.18em 0.3236em 0.22em 0.3236em;
  --text-padding-top: 0.18em;
  --text-padding-right: 0.3236em;
  --text-padding-bottom: 0.22em;
  --text-padding-left: 0.3236em;
  --gutter: 55.012px;
  --page-width: 56.63rem;
  --aside-width: 21.631644rem;
  --column-width: 35rem;
  --avatar-width: 10rem;
  --icon-width: 2.4rem;
  --full-width: 100%;
  --grid-width: 4.42253333rem;
  --tablet-width: calc(35rem + 55.012px);
  --desktop-width: calc(56.63rem + 55.012px);
  --background: background;
  --background-attachment: background-attachment;
  --background-clip: background-clip;
  --background-color: background-color;
  --background-image: background-image;
  --background-origin: background-origin;
  --background-position: background-position;
  --background-repeat: background-repeat;
  --background-size: background-size;
  --border: border;
  --border-bottom: border-bottom;
  --border-bottom-color: border-bottom-color;
  --border-bottom-left-radius: border-bottom-left-radius;
  --border-bottom-right-radius: border-bottom-right-radius;
  --border-bottom-style: border-bottom-style;
  --border-bottom-width: border-bottom-width;
  --border-color: border-color;
  --border-image: border-image;
  --border-image-outset: border-image-outset;
  --border-image-repeat: border-image-repeat;
  --border-image-slice: border-image-slice;
  --border-image-source: border-image-source;
  --border-image-width: border-image-width;
  --border-left: border-left;
  --border-left-color: border-left-color;
  --border-left-style: border-left-style;
  --border-left-width: border-left-width;
  --border-radius: border-radius;
  --border-right: border-right;
  --border-right-color: border-right-color;
  --border-right-style: border-right-style;
  --border-right-width: border-right-width;
  --border-style: border-style;
  --border-top: border-top;
  --border-top-color: border-top-color;
  --border-top-left-radius: border-top-left-radius;
  --border-top-right-radius: border-top-right-radius;
  --border-top-style: border-top-style;
  --border-top-width: border-top-width;
  --border-width: border-width;
  --opacity: opacity;
  --height: height;
  --max-height: max-height;
  --max-width: max-width;
  --min-height: min-height;
  --min-width: min-width;
  --width: width;
  --content: content;
  --quotes: quotes;
  --counter-reset: counter-reset;
  --counter-increment: counter-increment;
  --align-content: align-content;
  --align-items: align-items;
  --align-self: align-self;
  --flex: flex;
  --flex-basis: flex-basis;
  --flex-direction: flex-direction;
  --flex-flow: flex-flow;
  --flex-grow: flex-grow;
  --flex-shrink: flex-shrink;
  --flex-wrap: flex-wrap;
  --justify-content: justify-content;
  --order: order;
  --font: font;
  --font-family: font-family;
  --font-size: font-size;
  --font-size-adjust: font-size-adjust;
  --font-stretch: font-stretch;
  --font-style: font-style;
  --font-variant: font-variant;
  --font-weight: font-weight;
  --list-style: list-style;
  --list-style-image: list-style-image;
  --list-style-position: list-style-position;
  --list-style-type: list-style-type;
  --margin: margin;
  --margin-bottom: margin-bottom;
  --margin-left: margin-left;
  --margin-right: margin-right;
  --margin-top: margin-top;
  --column-count: column-count;
  --column-fill: column-fill;
  --column-gap: column-gap;
  --column-rule: column-rule;
  --column-rule-color: column-rule-color;
  --column-rule-style: column-rule-style;
  --column-rule-width: column-rule-width;
  --column-span: column-span;
  --column-width: column-width;
  --columns: columns;
  --outline: outline;
  --outline-color: outline-color;
  --outline-offset: outline-offset;
  --outline-style: outline-style;
  --outline-width: outline-width;
  --padding: padding;
  --padding-bottom: padding-bottom;
  --padding-left: padding-left;
  --padding-right: padding-right;
  --padding-top: padding-top;
  --page-break-after: page-break-after;
  --page-break-before: page-break-before;
  --page-break-inside: page-break-inside;
  --border-collapse: border-collapse;
  --border-spacing: border-spacing;
  --caption-side: caption-side;
  --empty-cells: empty-cells;
  --table-layout: table-layout;
  --direction: direction;
  --tab-size: tab-size;
  --text-align: text-align;
  --text-align-last: text-align-last;
  --text-decoration: text-decoration;
  --text-decoration-color: text-decoration-color;
  --text-decoration-line: text-decoration-line;
  --text-decoration-style: text-decoration-style;
  --text-indent: text-indent;
  --text-justify: text-justify;
  --text-overflow: text-overflow;
  --text-shadow: text-shadow;
  --text-transform: text-transform;
  --line-height: line-height;
  --vertical-align: vertical-align;
  --letter-spacing: letter-spacing;
  --word-spacing: word-spacing;
  --white-space: white-space;
  --word-break: word-break;
  --word-wrap: word-wrap;
  --backface-visibility: backface-visibility;
  --perspective: perspective;
  --perspective-origin: perspective-origin;
  --transform: transform;
  --transform-origin: transform-origin;
  --transform-style: transform-style;
  --transition: transition;
  --transition-delay: transition-delay;
  --transition-duration: transition-duration;
  --transition-property: transition-property;
  --transition-timing-function: transition-timing-function;
  --display: display;
  --position: position;
  --top: top;
  --right: right;
  --bottom: bottom;
  --left: left;
  --float: float;
  --clear: clear;
  --z-index: z-index;
  --overflow: overflow;
  --overflow-x: overflow-x;
  --overflow-y: overflow-y;
  --resize: resize;
  --clip: clip;
  --visibility: visibility;
  --cursor: cursor;
  --box-shadow: box-shadow;
  --box-sizing: box-sizing;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:only-child {
  margin-bottom: 0;
}
.background {
  background: #89f06c;
}
.background-attachment {
  background-attachment: scroll;
}
.background-clip {
  background-clip: border-box;
}
.background-color {
  background-color: #89f06c;
}
.background-image {
  background-image: none;
}
.background-origin {
  background-origin: padding-box;
}
.background-position {
  background-position: top center;
}
.background-repeat {
  background-repeat: no-repeat;
}
.background-size {
  background-size: auto;
}
.border {
  border: 1px solid currentColor;
}
.border-bottom {
  border-bottom: 1px solid currentColor;
}
.border-bottom-color {
  border-bottom-color: currentColor;
}
.border-bottom-left-radius {
  border-bottom-left-radius: 3px;
}
.border-bottom-right-radius {
  border-bottom-right-radius: 3px;
}
.border-bottom-style {
  border-bottom-style: solid;
}
.border-bottom-width {
  border-bottom-width: 1px;
}
.border-color {
  border-color: currentColor;
}
.border-image {
  border-image: none;
}
.border-image-outset {
  border-image-outset: 0;
}
.border-image-repeat {
  border-image-repeat: stretch;
}
.border-image-slice {
  border-image-slice: 100%;
}
.border-image-source {
  border-image-source: none;
}
.border-image-width {
  border-image-width: 1;
}
.border-left {
  border-left: 1px solid currentColor;
}
.border-left-color {
  border-left-color: currentColor;
}
.border-left-style {
  border-left-style: solid;
}
.border-left-width {
  border-left-width: 1px;
}
.border-radius {
  border-radius: 3px;
}
.border-right {
  border-right: 1px solid currentColor;
}
.border-right-color {
  border-right-color: currentColor;
}
.border-right-style {
  border-right-style: solid;
}
.border-right-width {
  border-right-width: 1px;
}
.border-style {
  border-style: solid;
}
.border-top {
  border-top: 1px solid currentColor;
}
.border-top-color {
  border-top-color: currentColor;
}
.border-top-left-radius {
  border-top-left-radius: 3px;
}
.border-top-right-radius {
  border-top-right-radius: 3px;
}
.border-top-style {
  border-top-style: solid;
}
.border-top-width {
  border-top-width: 1px;
}
.border-width {
  border-width: 1px;
}
.opacity {
  opacity: 1;
}
.height {
  height: auto;
}
.max-height {
  max-height: none;
}
.max-width {
  max-width: 56.63rem;
}
.min-height {
  min-height: 0;
}
.min-width {
  min-width: 0;
}
.width {
  width: auto;
}
.content {
  content: normal;
}
.quotes {
  quotes: inherit;
}
.counter-reset {
  counter-reset: none;
}
.counter-increment {
  counter-increment: none;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction {
  flex-direction: column;
}
.flex-flow {
  flex-flow: column nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content {
  justify-content: center;
}
.order {
  order: 0;
}
.font {
  font: normal normal normal 19px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.font-family {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.font-size {
  font-size: 19px;
}
.font-size-adjust {
  font-size-adjust: none;
}
.font-stretch {
  font-stretch: normal;
}
.font-style {
  font-style: normal;
}
.font-variant {
  font-variant: normal;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc outside none;
}
.list-style-image {
  list-style-image: none;
}
.list-style-position {
  list-style-position: outside;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 34px;
}
.margin-bottom {
  margin-bottom: 34px;
}
.margin-left {
  margin-left: 34px;
}
.margin-right {
  margin-right: 34px;
}
.margin-top {
  margin-top: 34px;
}
.column-count {
  column-count: auto;
}
.column-fill {
  column-fill: balance;
}
.column-gap {
  column-gap: 1.9416em;
}
.column-rule {
  column-rule: 1px solid currentColor;
}
.column-rule-color {
  column-rule-color: currentColor;
}
.column-rule-style {
  column-rule-style: solid;
}
.column-rule-width {
  column-rule-width: 1px;
}
.column-span {
  column-span: 2;
}
.column-width {
  column-width: 35rem;
}
.columns {
  columns: 35rem auto;
}
.outline {
  outline: 1px solid currentColor;
}
.outline-color {
  outline-color: currentColor;
}
.outline-offset {
  outline-offset: 0;
}
.outline-style {
  outline-style: solid;
}
.outline-width {
  outline-width: 1px;
}
.padding {
  padding: 14px;
}
.padding-bottom {
  padding-bottom: 14px;
}
.padding-left {
  padding-left: 14px;
}
.padding-right {
  padding-right: 14px;
}
.padding-top {
  padding-top: 14px;
}
.page-break-after {
  page-break-after: auto;
}
.page-break-before {
  page-break-before: auto;
}
.page-break-inside {
  page-break-inside: auto;
}
.border-collapse {
  border-collapse: collapse;
}
.border-spacing {
  border-spacing: 7px;
}
.caption-side {
  caption-side: left;
}
.empty-cells {
  empty-cells: hide;
}
.table-layout {
  table-layout: auto;
}
.direction {
  direction: ltr;
}
.tab-size {
  tab-size: 2;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-decoration {
  text-decoration: underline #7dcd6c solid;
}
.text-decoration-color {
  text-decoration-color: #7dcd6c;
}
.text-decoration-line {
  text-decoration-line: underline;
}
.text-decoration-style {
  text-decoration-style: solid;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 0 1px 5px rgba(26, 57, 10, 0.1824829);
}
.text-transform {
  text-transform: uppercase;
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.backface-visibility {
  backface-visibility: visible;
}
.perspective {
  perspective: none;
}
.perspective-origin {
  perspective-origin: 50% 50%;
}
.transform {
  transform: none;
}
.transform-origin {
  transform-origin: 50% 50% 0;
}
.transform-style {
  transform-style: flat;
}
.transition {
  transition: all 0s ease 0s;
}
.transition-delay {
  transition-delay: 0s;
}
.transition-duration {
  transition-duration: 0s;
}
.transition-property {
  transition-property: all;
}
.transition-timing-function {
  transition-timing-function: ease;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: show;
}
.overflow-x {
  overflow-x: show;
}
.overflow-y {
  overflow-y: show;
}
.resize {
  resize: none;
}
.clip {
  clip: auto;
}
.visibility {
  visibility: visible;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 0 1px 5px rgba(26, 57, 10, 0.1824829);
}
.box-sizing {
  box-sizing: border-box;
}
p,
ol,
ul,
pre,
blockquote,
div,
form,
main,
section,
table {
  margin-bottom: 34px;
}
.gutter {
  margin: 55.012px;
}
.gutter-top {
  margin-top: 55.012px;
}
.gutter-right {
  margin-right: 55.012px;
}
.gutter-bottom {
  margin-bottom: 55.012px;
}
.gutter-left {
  margin-left: 55.012px;
}
.icon-width {
  max-width: 2.4rem;
}
.avatar-width {
  max-width: 10rem;
}
.aside-width {
  max-width: 21.631644rem;
}
.column-width {
  max-width: 35rem;
}
.page-width {
  max-width: 56.63rem;
}
.full-width,
.stack > * {
  width: 100%;
}
body {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #b1ff86;
  color: #354c28;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  pattern-name: tic-tac-toe;
  background-image: url("data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%20standalone%3D%22no%22%3F%3E%0A%3Csvg%20width%3D%2264px%22%20height%3D%2264px%22%20viewBox%3D%220%200%2064%2064%22%20version%3D%221.1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%0A%20%20%20%20%3C!--%20Generator%3A%20Sketch%2040.1%20(33804)%20-%20http%3A%2F%2Fwww.bohemiancoding.com%2Fsketch%20--%3E%0A%20%20%20%20%3Ctitle%3Etic-tac-toe%3C%2Ftitle%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C%2Fdesc%3E%0A%20%20%20%20%3Cdefs%3E%3C%2Fdefs%3E%0A%20%20%20%20%3Cg%20id%3D%22Page-1%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill-opacity%3D%220.14%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22tic-tac-toe%22%20fill-opacity%3D%220.14%22%20fill%3D%22rgb(26,56,9)%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M8%2C16%20C12.418278%2C16%2016%2C12.418278%2016%2C8%20C16%2C3.581722%2012.418278%2C0%208%2C0%20C3.581722%2C0%200%2C3.581722%200%2C8%20C0%2C12.418278%203.581722%2C16%208%2C16%20Z%20M8%2C14%20C11.3137085%2C14%2014%2C11.3137085%2014%2C8%20C14%2C4.6862915%2011.3137085%2C2%208%2C2%20C4.6862915%2C2%202%2C4.6862915%202%2C8%20C2%2C11.3137085%204.6862915%2C14%208%2C14%20Z%20M41.4142136%2C8%20L47.363961%2C2.05025253%20L45.9497475%2C0.636038969%20L40%2C6.58578644%20L34.0502525%2C0.636038969%20L32.636039%2C2.05025253%20L38.5857864%2C8%20L32.636039%2C13.9497475%20L34.0502525%2C15.363961%20L40%2C9.41421356%20L45.9497475%2C15.363961%20L47.363961%2C13.9497475%20L41.4142136%2C8%20Z%20M40%2C48%20C44.418278%2C48%2048%2C44.418278%2048%2C40%20C48%2C35.581722%2044.418278%2C32%2040%2C32%20C35.581722%2C32%2032%2C35.581722%2032%2C40%20C32%2C44.418278%2035.581722%2C48%2040%2C48%20Z%20M40%2C46%20C43.3137085%2C46%2046%2C43.3137085%2046%2C40%20C46%2C36.6862915%2043.3137085%2C34%2040%2C34%20C36.6862915%2C34%2034%2C36.6862915%2034%2C40%20C34%2C43.3137085%2036.6862915%2C46%2040%2C46%20Z%20M9.41421356%2C40%20L15.363961%2C34.0502525%20L13.9497475%2C32.636039%20L8%2C38.5857864%20L2.05025253%2C32.636039%20L0.636038969%2C34.0502525%20L6.58578644%2C40%20L0.636038969%2C45.9497475%20L2.05025253%2C47.363961%20L8%2C41.4142136%20L13.9497475%2C47.363961%20L15.363961%2C45.9497475%20L9.41421356%2C40%20Z%22%20id%3D%22Combined-Shape%22%3E%3C%2Fpath%3E%0A%20%20%20%20%20%20%20%20%3C%2Fg%3E%0A%20%20%20%20%3C%2Fg%3E%0A%3C%2Fsvg%3E");
  font-size: 17.1px;
  line-height: 1.62;
}
@media screen and (min-width: calc(35rem + 55.012px)) {
  body {
    font-size: 19px;
    line-height: 1.8;
  }
}
main {
  margin: 0 auto;
  margin-bottom: 55.012px;
}
nav {
  z-index: 99;
}
section {
  background-color: #fefefe;
  color: #4c4c4c;
  max-width: 56.63rem;
  padding: 7px;
  margin: 0 auto 34px auto;
}
@media screen and (min-width: calc(35rem + 55.012px)) {
  section {
    padding: 14px;
  }
}
@media screen and (min-width: calc(56.63rem + 55.012px)) {
  section {
    padding: 28px;
  }
}
aside {
  margin: 0 auto;
  margin-bottom: 34px;
  max-width: 21.631644rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-weight: bold;
  margin-top: 1.618em;
  margin-bottom: 0.61804697em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1 {
  font-size: 2.4em;
}
h1.feature {
  font-size: 3.144em;
}
h2 {
  font-size: 1.8em;
}
h2.feature {
  font-size: 2.358em;
}
h3 {
  font-size: 1.4em;
}
h3.feature {
  font-size: 1.834em;
}
h4 {
  font-size: 1.2em;
}
h4.feature {
  font-size: 1.572em;
}
h5 {
  font-size: 1.1em;
}
h5.feature {
  font-size: 1.441em;
}
h6 {
  font-size: 1em;
}
h6.feature {
  font-size: 1.31em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 19px;
  line-height: 1.8;
  border: 1px solid currentColor;
  border-radius: 3px;
  color: #3f403e;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #815fa6;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 34px;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  padding-left: 3ch;
  margin-left: 34px;
  margin-bottom: 34px;
}
kbd {
  background-color: #1a390a;
  color: #dde1da;
  border-radius: 3px;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
button,
.button,
input[type="button"],
input[type="submit"] {
  border-style: solid;
  border-radius: 3px;
  box-shadow: 0 1px 5px rgba(26, 57, 10, 0.1824829);
  display: inline;
  font: inherit;
  padding: 0.61804697em;
  color: #2f4d29;
  border-width: 0;
  border-color: #66c352;
  max-width: 21.631644rem;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  background-color: #7dcd6c;
  background-image: none;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
button:active,
.button:active,
input[type="button"]:active,
input[type="submit"]:active {
  transform: scale(0.99);
  box-shadow: none;
}
button.border,
.button.border,
input[type="button"].border,
input[type="submit"].border {
  border-width: 1px;
}
pre {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  overflow: hidden;
  border-radius: 3px;
  background-color: #506d69;
  color: #ffffff;
}
pre.white-space,
pre.word-break {
  white-space: pre-wrap;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  background-color: #76754b;
  color: #ffffff;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  pattern-name: texture;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%224%22%20height%3D%224%22%20viewBox%3D%220%200%204%204%22%3E%3Cpath%20fill-opacity%3D%220.14%22%20fill%3D%22rgb(26,56,9)%22%20d%3D%22M1%203h1v1H1V3zm2-2h1v1H3V1z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}
code.terminal::before {
  content: "$ ";
  color: #ffffff;
}
textarea {
  font-size: 19px;
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  line-height: 1.8;
  border: 1px solid currentColor;
  border-radius: 3px;
  margin-bottom: 34px;
  color: #3f403e;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #815fa6;
}
.group,
.tray {
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
  max-width: 21.631644rem;
}
.group.border-radius > *:first-child {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.group.border-radius > *:last-child {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}
.group.padding {
  padding: 14px;
}
.group.border {
  border-width: 0;
}
ul.group.border,
ol.group.border {
  border-width: 1px;
}
.group.border > li {
  border-bottom: 1px solid currentColor;
}
.group.border > li:last-child {
  border-bottom-width: 0;
}
.group.border button,
.group.border .button,
.group.border input[type="button"],
.group.border input[type="submit"] {
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 0;
}
.group.border button:last-child,
.group.border .button:last-child,
.group.border input[type="button"]:last-child,
.group.border input[type="submit"]:last-child {
  border-bottom-width: 1px;
}
ul.group {
  list-style-type: none;
}
ol.group {
  list-style-position: inside;
}
.group li {
  border-bottom: 1px solid currentColor;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.group li:last-child {
  border-bottom: none;
}
.group button,
.group .button,
.group input[type="button"],
.group input[type="submit"] {
  display: block;
  width: 100%;
  max-width: none;
  margin-bottom: -1px;
  border-radius: 0;
}
.group button:last-child,
.group .button:last-child,
.group input[type="button"]:last-child,
.group input[type="submit"]:last-child {
  margin-bottom: 0;
  margin-top: -1px;
}
.bar,
.tray {
  position: relative;
  line-height: 1.618;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 8.6526576px;
}
.bar .top,
.bar .bottom,
.bar .left,
.bar .right {
  float: left;
  position: absolute;
}
.bar .top {
  top: 0.18em;
}
.bar > * {
  display: inline;
  width: auto;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.bar > *:first-child {
  margin-left: 0;
}
.bar > *:last-child {
  margin-right: 0;
}
.bar * {
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0 !important;
}
.bar button,
.bar .button,
.bar input[type="button"],
.bar input[type="submit"] {
  width: auto;
  display: inline;
  margin-bottom: 0;
  line-height: 1;
  padding: 8.6526576px;
}
.bar button:last-child,
.bar .button:last-child,
.bar input[type="button"]:last-child,
.bar input[type="submit"]:last-child {
  margin-top: 0;
}
.bar li {
  border-bottom: none;
  margin: 0;
  padding: 0;
}
.bar.border-radius > *:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.bar.border-radius > *:last-child {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.bar.group > * {
  margin-right: 0;
  margin-left: -1px;
}
.bar.group > *:first-child {
  margin-left: 0;
  margin-right: -1px;
}
.bar.group.border > * {
  border-bottom-width: 1px;
}
.stack {
  padding: 0;
  margin: 0;
  margin-bottom: 34px;
  max-width: 21.631644rem;
}
.stack > * {
  margin-bottom: 14px;
}
.stack > *:last-child {
  margin-bottom: 0;
}
ul.stack {
  list-style-type: none;
}
ol.stack {
  list-style-position: inside;
}
.stack li {
  border-bottom: 1px solid currentColor;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.stack li:last-child {
  border-bottom: none;
}
.feature {
  padding: 28px;
  font-size: 131%;
  line-height: 1.618;
}
.card {
  margin-bottom: 34px;
  background-color: #fefefe;
  color: #4c4c4c;
  position: relative;
  max-width: 21.631644rem;
  overflow: hidden;
  line-height: 1.618;
}
.card > * {
  margin: 14px;
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 14px;
}
.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  margin-top: 0.4em;
  margin-bottom: 0.6em;
}
.card .full-width {
  width: calc(100% - 28px);
}
.card .hero {
  width: calc(100% - 28px);
}
.card .bar {
  width: 100%;
}
.card .overlay {
  margin-bottom: 14px;
}
.card p {
  margin-bottom: 1em;
}
.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  margin-bottom: 14px;
}
.card h1:first-child,
.card h2:first-child,
.card h3:first-child,
.card h4:first-child,
.card h5:first-child,
.card h6:first-child {
  margin: 0;
  margin-bottom: 14px;
  line-height: 1;
  padding-top: 0.18em;
  padding: 14px;
}
.matte {
  box-shadow: 0 1px 5px rgba(26, 57, 10, 0.1824829);
  border-radius: 3px;
  padding: 14px;
  margin-bottom: 34px;
}
.well {
  border-radius: 3px;
  padding: 14px;
  margin-bottom: 34px;
  box-shadow: inset 0 1px 5px rgba(26, 57, 10, 0.1824829);
}
.well.card {
  padding: 0;
}
.island {
  padding: 14px;
  margin: 34px;
}
@media screen and (min-width: calc(35rem + 55.012px)) {
  .island {
    margin: 16%;
  }
}
.overlay {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0;
}
.overlay .bottom {
  bottom: 0;
}
.overlay .left {
  left: 0;
}
.overlay .right {
  right: 0;
}
.overlay:last-child {
  margin-bottom: 0;
}
.overlay > * {
  position: absolute;
  padding: 14px;
}
.overlay img {
  position: relative;
  display: block;
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}
.hero {
  padding: 55.012px 89.009416px;
  margin-bottom: 34px;
}
.hero button,
.hero .button,
.hero input[type="button"],
.hero input[type="submit"] {
  font-size: 125%;
}
.hero p {
  text-indent: 0;
}
.hero.island {
  margin: 0 auto;
  margin-bottom: 55.012px;
}
@media screen and (min-width: calc(35rem + 55.012px)) {
  .hero.island {
    padding: 8% 16%;
  }
}
.badge {
  border-radius: 3px;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 14px;
  padding-left: 14px;
  vertical-align: middle;
  background-color: #7dcd6c;
  color: #ffffff;
  border-radius: 99px;
}
.two-column > * {
  margin-bottom: 34px;
}
@media screen and (min-width: calc(35rem + 55.012px)) {
  .two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 14px;
  }
}
.three-column {
  margin-bottom: 34px;
}
@media screen and (min-width: calc(35rem + 55.012px)) {
  .three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 14px;
  }
}
.golden-column > * {
  margin-bottom: 34px;
  max-width: none;
}
@media screen and (min-width: calc(35rem + 55.012px)) {
  .golden-column {
    display: grid;
    grid-template-columns: 1.618fr 1fr;
    grid-gap: 14px;
  }
  .golden-column.reverse {
    grid-template-columns: 1fr 1.618fr;
  }
}
.inner-max-width {
  position: relative;
  padding-left: calc(50% - 28.315rem);
  padding-right: calc(50% - 28.315rem);
}
.inner-max-width > .right {
  right: calc(50% - 28.315rem);
}
.inner-max-width > .left {
  left: calc(50% - 28.315rem);
}
.inner-column-width {
  position: relative;
  padding-left: 14px;
  padding-right: 14px;
}
@media screen and (min-width: calc(35rem + 55.012px)) {
  .inner-column-width {
    padding-left: calc(50% - 17.5rem);
    padding-right: calc(50% - 17.5rem);
  }
  .inner-column-width > .right {
    right: calc(50% - 17.5rem);
  }
  .inner-column-width > .left {
    left: calc(50% - 17.5rem);
  }
}
.inner-page-width {
  position: relative;
  padding-left: 14px;
  padding-right: 14px;
}
@media screen and (min-width: calc(56.63rem + 55.012px)) {
  .inner-page-width {
    padding-left: calc(50% - 28.315rem);
    padding-right: calc(50% - 28.315rem);
  }
  .inner-page-width > .right {
    right: calc(50% - 28.315rem);
  }
  .inner-page-width > .left {
    left: calc(50% - 28.315rem);
  }
}
.inner-gutter {
  padding: 55.012px;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
}
.small {
  font-size: 90%;
  line-height: 1.62;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.table {
  display: table;
}
.flex {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.transparent {
  color: inherit;
  position: ;
  background: transparent;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.inset {
  box-shadow: inset 0 1px 5px rgba(26, 57, 10, 0.1824829);
}
.viewport-height {
  height: 100vh;
}
.fade {
  opacity: 0.8;
}
@media screen and (max-width: calc(calc(35rem + 55.012px) - 1px)) {
  .tablet > * {
    width: 100%;
  }
}
.light,
.matte,
.well,
.color-palette .color::after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22rgb(255,255,255)%22%20fill-opacity%3D%220.16%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.lighter {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22rgb(255,255,255)%22%20fill-opacity%3D%220.25%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.dark,
.color-palette .color::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22rgb(0,0,0)%22%20fill-opacity%3D%220.12%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.darker {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22rgb(0,0,0)%22%20fill-opacity%3D%220.18%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
@media screen and (min-width: calc(35rem + 55.012px)) {
  .grid {
    display: grid;
    grid-gap: 14px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .grid-width-two {
    grid-column: auto / span 2;
  }
  .grid-width-three {
    grid-column: auto / span 3;
  }
  .grid-width-four {
    grid-column: auto / span 4;
  }
  .grid-width-five {
    grid-column: auto / span 5;
  }
  .grid-width-six {
    grid-column: auto / span 6;
  }
  .grid-width-seven {
    grid-column: auto / span 7;
  }
  .grid-width-eight {
    grid-column: auto / span 8;
  }
  .grid-width-nine {
    grid-column: auto / span 9;
  }
  .grid-width-ten {
    grid-column: auto / span 10;
  }
  .grid-width-eleven {
    grid-column: auto / span 11;
  }
  .grid-width-twelve {
    grid-column: auto / span 12;
  }
}
.serif,
.font-family-serif {
  font-family: Constantia, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
.monospace,
.font-family-monospace {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}
.sans-serif,
.font-family-sans-serif {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.texture {
  pattern-name: texture;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%224%22%20height%3D%224%22%20viewBox%3D%220%200%204%204%22%3E%3Cpath%20fill-opacity%3D%220.14%22%20fill%3D%22rgb(26,56,9)%22%20d%3D%22M1%203h1v1H1V3zm2-2h1v1H3V1z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
}
.ascii {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-left: 1ch;
  padding-right: 1ch;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-justify {
  text-align: justify;
}
.hide,
.hidden {
  display: none !important;
}
.clearfix {
  clear: both;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.no-padding {
  padding: 0;
}
.no-padding-top {
  padding-top: 0;
}
.no-padding-right {
  padding-right: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.no-padding-left {
  padding-left: 0;
}
.no-margin {
  margin: 0;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-right {
  margin-right: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.no-margin-left {
  margin-left: 0;
}
.no-margin-bottom > * {
  margin-bottom: 0;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows * {
  text-shadow: unset;
}
.no-border {
  border: none;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.ambient {
  background-color: #b1ff86;
  color: #354c28;
}
.base-color {
  background-color: #53e638;
  color: #153a0e;
}
.text-on-blue {
  color: #f2f2ff;
}
#blue_headline_example {
  color: #9393ff;
}
#blue_headline_example2 {
  color: #9393ff;
}
#blue_headline_example2 p {
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
}
#blue_headline_example3 {
  color: #9393ff;
}
#blue_headline_example3 p {
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}
.color-palette .color {
  margin-bottom: 7px;
  position: relative;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  text-align: center;
  width: 100%;
  border-width: 1px;
  border-radius: 3px;
}
.color-palette .color::before {
  display: block;
  position: absolute;
  content: "";
  width: 16%;
  height: 100%;
  top: 0;
  right: 0;
}
.color-palette .color::after {
  display: block;
  position: absolute;
  content: "";
  width: 16%;
  height: 100%;
  top: 0;
  left: 0;
}
.color-palette .color:last-child {
  clear: both;
}
.color-palette .color:last-child::after {
  display: block;
  clear: both;
  content: "";
}
.pattern-example {
  width: 100%;
  height: 250px;
  margin-bottom: 34px;
}
.pattern-example::after {
  font-size: 90%;
  line-height: 1.62;
  background-color: #3ead2a;
  color: #ffffff;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
