:root {
  --base-color: #b56267;
  --body-background: #b56267;
  --main-background: #f4f3f3;
  --action: action;
  --reaction: reaction;
  --info: info;
  --warning: warning;
  --success: success;
  --failure: failure;
  --default: default;
  --text-contrast: 7;
  --ambient: #f9c3c9;
  --shadow-color: rgba(60, 45, 46, 0.27273999);
  --shadow-position: 0 1px;
  --shadow-blur: 3px;
  --text-measure: 45;
  --text-padding: 0.18em 0.3236em 0.22em 0.3236em;
  --text-padding-top: 0.18em;
  --text-padding-right: 0.3236em;
  --text-padding-bottom: 0.22em;
  --text-padding-left: 0.3236em;
  --gutter: 29.124px;
  --page-width: 72.81rem;
  --aside-width: 27.81211372rem;
  --column-width: 45rem;
  --avatar-width: 10rem;
  --icon-width: 2.4rem;
  --full-width: 100%;
  --grid-width: 5.77086667rem;
  --tablet-width: calc(45rem + 29.124000000000002px);
  --desktop-width: calc(72.81rem + 29.124000000000002px);
  --nightshade: #613387;
  --lily: #eeafe6;
  --emerald: #278d58;
  --ruby: #ce1659;
  --amethyst: #b65ec2;
  --sapphire: #3970cf;
  --sunset: #f1893a;
  --moonlight: #cebcca;
  --tan: #cead88;
  --royalpurple: #8850ae;
  --olivedrab: #7e9336;
  --chocolate: #c36a2f;
  --vanilla: #ece2c2;
  --strawberry: #f36488;
  --orchid: #cf67d6;
  --sand: #f2d0b0;
  --graphite: #585375;
  --goldenrod: #dbb225;
  --mint: #b4e5e4;
  --wheat: #dccd97;
  --steel: #83a1c7;
  --slate: #78719c;
  --cream: #e7ebda;
  --bacon: #ce2b1b;
  --platinum: #d8d3d1;
  --twilight: #ce628d;
  --mist: #c3dbf0;
  --snow: #fddddd;
  --plum: #da92d7;
  --seafoam: #77ded1;
  --seagreen: #52a16e;
  --grapefruit: #e23954;
  --cornhusk: #acc94f;
  --scarlet: #fc3618;
  --tangerine: #eba140;
  --army: #5c8d3f;
  --ultramarine: #4b35b1;
  --midnight: #2c1454;
  --turquoise: #54cdc0;
  --peach: #e4ac7e;
  --coral: #f37244;
  --cobalt: #4062eb;
  --copper: #da8050;
  --hotpink: #fa63af;
  --neongreen: #51eb26;
  --khaki: #b6a960;
  --gold: #e9d718;
  --silver: #c3bba6;
  --bronze: #d29541;
  --gunmetal: #646c7e;
  --salmon: #f87466;
  --iron: #7f3c3d;
  --lavender: #cecaf4;
  --crimson: #d4263c;
  --clover: #4fc821;
  --charcoal: #805a50;
  --red: #fb1618;
  --electricblue: #50bee3;
  --orange: #e99d18;
  --yellow: #e9e718;
  --lemon: #cfe643;
  --olive: #899027;
  --drab: #a19c60;
  --green: #279218;
  --teal: #279192;
  --aquamarine: #69d6ae;
  --cyan: #27dfdf;
  --skyblue: #4db2db;
  --blue: #6785e8;
  --indigo: #882fba;
  --violet: #e35ce1;
  --magenta: #de16dc;
  --purple: #bf16bb;
  --brown: #88482d;
  --pink: #f9a6b5;
  --lime: #71dc58;
  --navy: #5156b9;
  --black: #3c2d2e;
  --white: #f4f3f3;
  --gray: #989091;
  --background: background;
  --background-attachment: background-attachment;
  --background-clip: background-clip;
  --background-color: background-color;
  --background-image: background-image;
  --background-origin: background-origin;
  --background-position: background-position;
  --background-repeat: background-repeat;
  --background-size: background-size;
  --border: border;
  --border-bottom: border-bottom;
  --border-bottom-color: border-bottom-color;
  --border-bottom-left-radius: border-bottom-left-radius;
  --border-bottom-right-radius: border-bottom-right-radius;
  --border-bottom-style: border-bottom-style;
  --border-bottom-width: border-bottom-width;
  --border-color: border-color;
  --border-image: border-image;
  --border-image-outset: border-image-outset;
  --border-image-repeat: border-image-repeat;
  --border-image-slice: border-image-slice;
  --border-image-source: border-image-source;
  --border-image-width: border-image-width;
  --border-left: border-left;
  --border-left-color: border-left-color;
  --border-left-style: border-left-style;
  --border-left-width: border-left-width;
  --border-radius: border-radius;
  --border-right: border-right;
  --border-right-color: border-right-color;
  --border-right-style: border-right-style;
  --border-right-width: border-right-width;
  --border-style: border-style;
  --border-top: border-top;
  --border-top-color: border-top-color;
  --border-top-left-radius: border-top-left-radius;
  --border-top-right-radius: border-top-right-radius;
  --border-top-style: border-top-style;
  --border-top-width: border-top-width;
  --border-width: border-width;
  --opacity: opacity;
  --height: height;
  --max-height: max-height;
  --max-width: max-width;
  --min-height: min-height;
  --min-width: min-width;
  --width: width;
  --content: content;
  --quotes: quotes;
  --counter-reset: counter-reset;
  --counter-increment: counter-increment;
  --align-content: align-content;
  --align-items: align-items;
  --align-self: align-self;
  --flex: flex;
  --flex-basis: flex-basis;
  --flex-direction: flex-direction;
  --flex-flow: flex-flow;
  --flex-grow: flex-grow;
  --flex-shrink: flex-shrink;
  --flex-wrap: flex-wrap;
  --justify-content: justify-content;
  --order: order;
  --font: font;
  --font-family: font-family;
  --font-size: font-size;
  --font-size-adjust: font-size-adjust;
  --font-stretch: font-stretch;
  --font-style: font-style;
  --font-variant: font-variant;
  --font-weight: font-weight;
  --list-style: list-style;
  --list-style-image: list-style-image;
  --list-style-position: list-style-position;
  --list-style-type: list-style-type;
  --margin: margin;
  --margin-bottom: margin-bottom;
  --margin-left: margin-left;
  --margin-right: margin-right;
  --margin-top: margin-top;
  --column-count: column-count;
  --column-fill: column-fill;
  --column-gap: column-gap;
  --column-rule: column-rule;
  --column-rule-color: column-rule-color;
  --column-rule-style: column-rule-style;
  --column-rule-width: column-rule-width;
  --column-span: column-span;
  --column-width: column-width;
  --columns: columns;
  --outline: outline;
  --outline-color: outline-color;
  --outline-offset: outline-offset;
  --outline-style: outline-style;
  --outline-width: outline-width;
  --padding: padding;
  --padding-bottom: padding-bottom;
  --padding-left: padding-left;
  --padding-right: padding-right;
  --padding-top: padding-top;
  --page-break-after: page-break-after;
  --page-break-before: page-break-before;
  --page-break-inside: page-break-inside;
  --border-collapse: border-collapse;
  --border-spacing: border-spacing;
  --caption-side: caption-side;
  --empty-cells: empty-cells;
  --table-layout: table-layout;
  --direction: direction;
  --tab-size: tab-size;
  --text-align: text-align;
  --text-align-last: text-align-last;
  --text-decoration: text-decoration;
  --text-decoration-color: text-decoration-color;
  --text-decoration-line: text-decoration-line;
  --text-decoration-style: text-decoration-style;
  --text-indent: text-indent;
  --text-justify: text-justify;
  --text-overflow: text-overflow;
  --text-shadow: text-shadow;
  --text-transform: text-transform;
  --line-height: line-height;
  --vertical-align: vertical-align;
  --letter-spacing: letter-spacing;
  --word-spacing: word-spacing;
  --white-space: white-space;
  --word-break: word-break;
  --word-wrap: word-wrap;
  --backface-visibility: backface-visibility;
  --perspective: perspective;
  --perspective-origin: perspective-origin;
  --transform: transform;
  --transform-origin: transform-origin;
  --transform-style: transform-style;
  --transition: transition;
  --transition-delay: transition-delay;
  --transition-duration: transition-duration;
  --transition-property: transition-property;
  --transition-timing-function: transition-timing-function;
  --display: display;
  --position: position;
  --top: top;
  --right: right;
  --bottom: bottom;
  --left: left;
  --float: float;
  --clear: clear;
  --z-index: z-index;
  --overflow: overflow;
  --overflow-x: overflow-x;
  --overflow-y: overflow-y;
  --resize: resize;
  --clip: clip;
  --visibility: visibility;
  --cursor: cursor;
  --box-shadow: box-shadow;
  --box-sizing: box-sizing;
}
* {
  margin: 0;
  padding: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
*:only-child {
  margin-bottom: 0;
}
.background {
  background: #c3767c;
}
.background-attachment {
  background-attachment: scroll;
}
.background-clip {
  background-clip: border-box;
}
.background-color {
  background-color: #c3767c;
}
.background-image {
  background-image: none;
}
.background-origin {
  background-origin: padding-box;
}
.background-position {
  background-position: top center;
}
.background-repeat {
  background-repeat: no-repeat;
}
.background-size {
  background-size: auto;
}
.border {
  border: 1px solid currentColor;
}
.border-bottom {
  border-bottom: 1px solid currentColor;
}
.border-bottom-color {
  border-bottom-color: currentColor;
}
.border-bottom-left-radius {
  border-bottom-left-radius: 7px;
}
.border-bottom-right-radius {
  border-bottom-right-radius: 7px;
}
.border-bottom-style {
  border-bottom-style: solid;
}
.border-bottom-width {
  border-bottom-width: 1px;
}
.border-color {
  border-color: currentColor;
}
.border-image {
  border-image: none;
}
.border-image-outset {
  border-image-outset: 0;
}
.border-image-repeat {
  border-image-repeat: stretch;
}
.border-image-slice {
  border-image-slice: 100%;
}
.border-image-source {
  border-image-source: none;
}
.border-image-width {
  border-image-width: 1;
}
.border-left {
  border-left: 1px solid currentColor;
}
.border-left-color {
  border-left-color: currentColor;
}
.border-left-style {
  border-left-style: solid;
}
.border-left-width {
  border-left-width: 1px;
}
.border-radius {
  border-radius: 7px;
}
.border-right {
  border-right: 1px solid currentColor;
}
.border-right-color {
  border-right-color: currentColor;
}
.border-right-style {
  border-right-style: solid;
}
.border-right-width {
  border-right-width: 1px;
}
.border-style {
  border-style: solid;
}
.border-top {
  border-top: 1px solid currentColor;
}
.border-top-color {
  border-top-color: currentColor;
}
.border-top-left-radius {
  border-top-left-radius: 7px;
}
.border-top-right-radius {
  border-top-right-radius: 7px;
}
.border-top-style {
  border-top-style: solid;
}
.border-top-width {
  border-top-width: 1px;
}
.border-width {
  border-width: 1px;
}
.opacity {
  opacity: 1;
}
.height {
  height: auto;
}
.max-height {
  max-height: none;
}
.max-width {
  max-width: 72.81rem;
}
.min-height {
  min-height: 0;
}
.min-width {
  min-width: 0;
}
.width {
  width: auto;
}
.content {
  content: normal;
}
.quotes {
  quotes: inherit;
}
.counter-reset {
  counter-reset: none;
}
.counter-increment {
  counter-increment: none;
}
.align-content {
  align-content: stretch;
}
.align-items {
  align-items: stretch;
}
.align-self {
  align-self: auto;
}
.flex {
  flex: 0 1 auto;
}
.flex-basis {
  flex-basis: auto;
}
.flex-direction {
  flex-direction: row;
}
.flex-flow {
  flex-flow: row nowrap;
}
.flex-grow {
  flex-grow: 0;
}
.flex-shrink {
  flex-shrink: 1;
}
.flex-wrap {
  flex-wrap: nowrap;
}
.justify-content {
  justify-content: flex-start;
}
.order {
  order: 0;
}
.font {
  font: normal normal normal 25px "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-family {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
}
.font-size {
  font-size: 25px;
}
.font-size-adjust {
  font-size-adjust: none;
}
.font-stretch {
  font-stretch: normal;
}
.font-style {
  font-style: normal;
}
.font-variant {
  font-variant: normal;
}
.font-weight {
  font-weight: normal;
}
.list-style {
  list-style: disc outside none;
}
.list-style-image {
  list-style-image: none;
}
.list-style-position {
  list-style-position: outside;
}
.list-style-type {
  list-style-type: disc;
}
.margin {
  margin: 18px;
}
.margin-bottom {
  margin-bottom: 18px;
}
.margin-left {
  margin-left: 18px;
}
.margin-right {
  margin-right: 18px;
}
.margin-top {
  margin-top: 18px;
}
.column-count {
  column-count: auto;
}
.column-fill {
  column-fill: balance;
}
.column-gap {
  column-gap: 1.9416em;
}
.column-rule {
  column-rule: 1px solid currentColor;
}
.column-rule-color {
  column-rule-color: currentColor;
}
.column-rule-style {
  column-rule-style: solid;
}
.column-rule-width {
  column-rule-width: 1px;
}
.column-span {
  column-span: 2;
}
.column-width {
  column-width: 45rem;
}
.columns {
  columns: 45rem auto;
}
.outline {
  outline: 1px solid currentColor;
}
.outline-color {
  outline-color: currentColor;
}
.outline-offset {
  outline-offset: 0;
}
.outline-style {
  outline-style: solid;
}
.outline-width {
  outline-width: 1px;
}
.padding {
  padding: 10px;
}
.padding-bottom {
  padding-bottom: 10px;
}
.padding-left {
  padding-left: 10px;
}
.padding-right {
  padding-right: 10px;
}
.padding-top {
  padding-top: 10px;
}
.page-break-after {
  page-break-after: auto;
}
.page-break-before {
  page-break-before: auto;
}
.page-break-inside {
  page-break-inside: auto;
}
.border-collapse {
  border-collapse: collapse;
}
.border-spacing {
  border-spacing: 5px;
}
.caption-side {
  caption-side: left;
}
.empty-cells {
  empty-cells: hide;
}
.table-layout {
  table-layout: auto;
}
.direction {
  direction: ltr;
}
.tab-size {
  tab-size: 2;
}
.text-align {
  text-align: left;
}
.text-align-last {
  text-align-last: left;
}
.text-decoration {
  text-decoration: underline #bd5e47 solid;
}
.text-decoration-color {
  text-decoration-color: #bd5e47;
}
.text-decoration-line {
  text-decoration-line: underline;
}
.text-decoration-style {
  text-decoration-style: solid;
}
.text-indent {
  text-indent: 2ch;
}
.text-justify {
  text-justify: justify;
}
.text-overflow {
  text-overflow: hidden;
}
.text-shadow {
  text-shadow: 0 1px 3px rgba(60, 45, 46, 0.27273999);
}
.text-transform {
  text-transform: uppercase;
}
.line-height {
  line-height: 1.8;
}
.vertical-align {
  vertical-align: middle;
}
.letter-spacing {
  letter-spacing: 0;
}
.word-spacing {
  word-spacing: normal;
}
.white-space {
  white-space: nowrap;
}
.word-break {
  word-break: break-all;
}
.word-wrap {
  word-wrap: break-word;
}
.backface-visibility {
  backface-visibility: visible;
}
.perspective {
  perspective: none;
}
.perspective-origin {
  perspective-origin: 50% 50%;
}
.transform {
  transform: none;
}
.transform-origin {
  transform-origin: 50% 50% 0;
}
.transform-style {
  transform-style: flat;
}
.transition {
  transition: all 0s ease 0s;
}
.transition-delay {
  transition-delay: 0s;
}
.transition-duration {
  transition-duration: 0s;
}
.transition-property {
  transition-property: all;
}
.transition-timing-function {
  transition-timing-function: ease;
}
.display {
  display: block;
}
.position {
  position: absolute;
}
.top {
  top: 0;
}
.right {
  right: 0;
}
.bottom {
  bottom: 0;
}
.left {
  left: 0;
}
.float {
  float: left;
}
.clear {
  clear: both;
}
.z-index {
  z-index: 10;
}
.overflow {
  overflow: show;
}
.overflow-x {
  overflow-x: show;
}
.overflow-y {
  overflow-y: show;
}
.resize {
  resize: none;
}
.clip {
  clip: auto;
}
.visibility {
  visibility: visible;
}
.cursor {
  cursor: pointer;
}
.box-shadow {
  box-shadow: 0 1px 3px rgba(60, 45, 46, 0.27273999);
}
.box-sizing {
  box-sizing: border-box;
}
p,
ol,
ul,
pre,
blockquote,
div,
form,
main,
section,
table {
  margin-bottom: 18px;
}
.gutter {
  margin: 29.124px;
}
.gutter-top {
  margin-top: 29.124px;
}
.gutter-right {
  margin-right: 29.124px;
}
.gutter-bottom {
  margin-bottom: 29.124px;
}
.gutter-left {
  margin-left: 29.124px;
}
.icon-width {
  max-width: 2.4rem;
}
.avatar-width {
  max-width: 10rem;
}
.aside-width {
  max-width: 60%;
}
.column-width {
  max-width: 45rem;
}
.page-width {
  max-width: 72.81rem;
}
.full-width,
.stack > * {
  width: 100%;
}
body {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #c3767c;
  color: #ffffff;
  border-color: #c57a7f;
  pattern-name: circuit-board;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20304%20304%22%20width%3D%22304%22%20height%3D%22304%22%3E%3Cpath%20fill%3D%22rgb(201,131,136)%22%20d%3D%22M44.1%20224a5%205%200%201%201%200%202H0v-2h44.1zm160%2048a5%205%200%201%201%200%202H82v-2h122.1zm57.8-46a5%205%200%201%201%200-2H304v2h-42.1zm0%2016a5%205%200%201%201%200-2H304v2h-42.1zm6.2-114a5%205%200%201%201%200%202h-86.2a5%205%200%201%201%200-2h86.2zm-256-48a5%205%200%201%201%200%202H0v-2h12.1zm185.8%2034a5%205%200%201%201%200-2h86.2a5%205%200%201%201%200%202h-86.2zM258%2012.1a5%205%200%201%201-2%200V0h2v12.1zm-64%20208a5%205%200%201%201-2%200v-54.2a5%205%200%201%201%202%200v54.2zm48-198.2V80h62v2h-64V21.9a5%205%200%201%201%202%200zm16%2016V64h46v2h-48V37.9a5%205%200%201%201%202%200zm-128%2096V208h16v12.1a5%205%200%201%201-2%200V210h-16v-76.1a5%205%200%201%201%202%200zm-5.9-21.9a5%205%200%201%201%200%202H114v48H85.9a5%205%200%201%201%200-2H112v-48h12.1zm-6.2%20130a5%205%200%201%201%200-2H176v-74.1a5%205%200%201%201%202%200V242h-60.1zm-16-64a5%205%200%201%201%200-2H114v48h10.1a5%205%200%201%201%200%202H112v-48h-10.1zM66%20284.1a5%205%200%201%201-2%200V274H50v30h-2v-32h18v12.1zM236.1%20176a5%205%200%201%201%200%202H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5%205%200%201%201%200-2H274v44.1a5%205%200%201%201-2%200V146h-10.1zm-64%2096a5%205%200%201%201%200-2H208v-80h16v-14h-42.1a5%205%200%201%201%200-2H226v18h-16v80h-12.1zm86.2-210a5%205%200%201%201%200%202H272V0h2v32h10.1zM98%20101.9V146H53.9a5%205%200%201%201%200-2H96v-42.1a5%205%200%201%201%202%200zM53.9%2034a5%205%200%201%201%200-2H80V0h2v34H53.9zm60.1%203.9V66H82v64H69.9a5%205%200%201%201%200-2H80V64h32V37.9a5%205%200%201%201%202%200zM101.9%2082a5%205%200%201%201%200-2H128V37.9a5%205%200%201%201%202%200V82h-28.1zm16-64a5%205%200%201%201%200-2H146v44.1a5%205%200%201%201-2%200V18h-26.1zm102.2%20270a5%205%200%201%201%200%202H98v14h-2v-16h124.1zM242%20149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5%205%200%201%201%202%200zM53.9%2018a5%205%200%201%201%200-2H64V2H48V0h18v18H53.9zm112%2032a5%205%200%201%201%200-2H192V0h50v2h-48v48h-28.1zm-48-48a5%205%200%200%201-9.8-2h2.07a3%203%200%201%200%205.66%200H178v34h-18V21.9a5%205%200%201%201%202%200V32h14V2h-58.1zm0%2096a5%205%200%201%201%200-2H137l32-32h39V21.9a5%205%200%201%201%202%200V66h-40.17l-32%2032H117.9zm28.1%2090.1a5%205%200%201%201-2%200v-76.51L175.59%2080H224V21.9a5%205%200%201%201%202%200V82h-49.59L146%20112.41v75.69zm16%2032a5%205%200%201%201-2%200v-99.51L184.59%2096H300.1a5%205%200%200%201%203.9-3.9v2.07a3%203%200%200%200%200%205.66v2.07a5%205%200%200%201-3.9-3.9H185.41L162%20121.41v98.69zm-144-64a5%205%200%201%201-2%200v-3.51l48-48V48h32V0h2v50H66v55.41l-48%2048v2.69zM50%2053.9v43.51l-48%2048V208h26.1a5%205%200%201%201%200%202H0v-65.41l48-48V53.9a5%205%200%201%201%202%200zm-16%2016V89.41l-34%2034v-2.82l32-32V69.9a5%205%200%201%201%202%200zM12.1%2032a5%205%200%201%201%200%202H9.41L0%2043.41V40.6L8.59%2032h3.51zm265.8%2018a5%205%200%201%201%200-2h18.69l7.41-7.41v2.82L297.41%2050H277.9zm-16%20160a5%205%200%201%201%200-2H288v-71.41l16-16v2.82l-14%2014V210h-28.1zm-208%2032a5%205%200%201%201%200-2H64v-22.59L40.59%20194H21.9a5%205%200%201%201%200-2H41.41L66%20216.59V242H53.9zm150.2%2014a5%205%200%201%201%200%202H96v-56.6L56.6%20162H37.9a5%205%200%201%201%200-2h19.5L98%20200.6V256h106.1zm-150.2%202a5%205%200%201%201%200-2H80v-46.59L48.59%20178H21.9a5%205%200%201%201%200-2H49.41L82%20208.59V258H53.9zM34%2039.8v1.61L9.41%2066H0v-2h8.59L32%2040.59V0h2v39.8zM2%20300.1a5%205%200%200%201%203.9%203.9H3.83A3%203%200%200%200%200%20302.17V256h18v48h-2v-46H2v42.1zM34%20241v63h-2v-62H0v-2h34v1zM17%2018H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32%20273v15h-2v-14h-14v14h-2v-16h18v1zM0%2092.1A5.02%205.02%200%200%201%206%2097a5%205%200%200%201-6%204.9v-2.07a3%203%200%201%200%200-5.66V92.1zM80%20272h2v32h-2v-32zm37.9%2032h-2.07a3%203%200%200%200-5.66%200h-2.07a5%205%200%200%201%209.8%200zM5.9%200A5.02%205.02%200%200%201%200%205.9V3.83A3%203%200%200%200%203.83%200H5.9zm294.2%200h2.07A3%203%200%200%200%20304%203.83V5.9a5%205%200%200%201-3.9-5.9zm3.9%20300.1v2.07a3%203%200%200%200-1.83%201.83h-2.07a5%205%200%200%201%203.9-3.9zM97%20100a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm0-16a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16%2016a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16%2016a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm0%2016a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-48%2032a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16%2016a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm32%2048a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-16%2016a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm32-16a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm0-32a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16%2032a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm32%2016a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm0-16a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-16-64a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16%200a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16%2096a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm0%2016a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16%2016a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16-144a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm0%2032a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16-32a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16-16a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-96%200a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm0%2016a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16-32a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm96%200a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-16-64a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16-16a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-32%200a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm0-16a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-16%200a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-16%200a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-16%200a3%203%200%201%200%200-6%203%203%200%200%200%200%206zM49%2036a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-32%200a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm32%2016a3%203%200%201%200%200-6%203%203%200%200%200%200%206zM33%2068a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16-48a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm0%20240a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16%2032a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-16-64a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm0%2016a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-16-32a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm80-176a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16%200a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-16-16a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm32%2048a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16-16a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm0-32a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm112%20176a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm-16%2016a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm0%2016a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm0%2016a3%203%200%201%200%200-6%203%203%200%200%200%200%206zM17%20180a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm0%2016a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm0-32a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16%200a3%203%200%201%200%200-6%203%203%200%200%200%200%206zM17%2084a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm32%2064a3%203%200%201%200%200-6%203%203%200%200%200%200%206zm16-16a3%203%200%201%200%200-6%203%203%200%200%200%200%206z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  background-position: top center;
  font-size: 22.5px;
  line-height: 1.62;
}
@media screen and (min-width: calc(45rem + 29.124000000000002px)) {
  body {
    font-size: 25px;
    line-height: 1.8;
  }
}
main {
  margin: 0 auto;
  margin-bottom: 29.124px;
}
nav {
  z-index: 99;
}
section {
  background-color: #f4f3f3;
  color: #494949;
  border-color: #eeeded;
  max-width: 72.81rem;
  padding: 5px;
  margin: 0 auto 29.124px auto;
}
@media screen and (min-width: calc(45rem + 29.124000000000002px)) {
  section {
    padding: 10px;
  }
}
@media screen and (min-width: calc(72.81rem + 29.124000000000002px)) {
  section {
    padding: 20px;
  }
}
aside {
  margin: 0 auto;
  margin-bottom: 18px;
  max-width: 27.81211372rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-weight: bold;
  margin-top: 1.618em;
  margin-bottom: 0.61804697em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1 {
  font-size: 2.4em;
}
h1.feature {
  font-size: 3.144em;
}
h2 {
  font-size: 1.8em;
}
h2.feature {
  font-size: 2.358em;
}
h3 {
  font-size: 1.4em;
}
h3.feature {
  font-size: 1.834em;
}
h4 {
  font-size: 1.2em;
}
h4.feature {
  font-size: 1.572em;
}
h5 {
  font-size: 1.1em;
}
h5.feature {
  font-size: 1.441em;
}
h6 {
  font-size: 1em;
}
h6.feature {
  font-size: 1.31em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: inherit;
  text-decoration: underline;
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  font-size: 25px;
  line-height: 1.8;
  border: 1px solid currentColor;
  border-radius: 7px;
  color: #373737;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #aeb5f7;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: 18px;
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  padding-left: 3ch;
  margin-left: 18px;
  margin-bottom: 18px;
}
kbd {
  background-color: #3c2d2e;
  color: #e2dfe0;
  border-color: #413234;
  border-radius: 7px;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  white-space: nowrap;
}
b {
  padding: 0.18em 0 0.22em 0;
}
button,
.button,
input[type="button"],
input[type="submit"] {
  border-style: solid;
  border-radius: 7px;
  box-shadow: 0 1px 3px rgba(60, 45, 46, 0.27273999);
  display: inline;
  font: inherit;
  padding: 0.61804697em;
  color: white;
  border-width: 0;
  border-color: #cc8371;
  max-width: 27.81211372rem;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  background-color: #bd5e47;
  background-image: none;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
button:active,
.button:active,
input[type="button"]:active,
input[type="submit"]:active {
  transform: scale(0.99);
  box-shadow: none;
}
button.border,
.button.border,
input[type="button"].border,
input[type="submit"].border {
  border-width: 1px;
}
pre {
  overflow: hidden;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  box-shadow: inset 0 1px 3px rgba(60, 45, 46, 0.27273999);
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  border-radius: 7px;
  background-color: #805a50;
  color: #ffffff;
  border-color: #845e55;
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  background-color: #805a50;
  color: #ffffff;
  border-color: #845e55;
  pattern-name: texture;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%224%22%20height%3D%224%22%20viewBox%3D%220%200%204%204%22%3E%3Cpath%20fill%3D%22rgb(137,101,92)%22%20d%3D%22M1%203h1v1H1V3zm2-2h1v1H3V1z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  background-position: top center;
}
code.terminal::before {
  content: "$ ";
  color: #ffffff;
}
textarea {
  font-size: 25px;
  font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
  line-height: 1.8;
  border: 1px solid currentColor;
  border-radius: 7px;
  margin-bottom: 18px;
  color: #373737;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #aeb5f7;
}
.hero {
  padding: 29.124px;
  margin-bottom: 18px;
  background-color: #b56267;
  color: #ffffff;
  border-color: #b7666b;
  pattern-name: charlie-brown;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2212%22%20viewBox%3D%220%200%2020%2012%22%3E%3Cg%20fill-rule%3D%22evenodd%22%3E%3Cg%20id%3D%22charlie-brown%22%20fill%3D%22rgb(186,108,113)%22%3E%3Cpath%20d%3D%22M9.8%2012L0%202.2V.8l10%2010%2010-10v1.4L10.2%2012h-.4zm-4%200L0%206.2V4.8L7.2%2012H5.8zm8.4%200L20%206.2V4.8L12.8%2012h1.4zM9.8%200l.2.2.2-.2h-.4zm-4%200L10%204.2%2014.2%200h-1.4L10%202.8%207.2%200H5.8z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: top center;
}
.hero p {
  text-indent: 0;
}
.hero.island {
  margin: 0;
  margin-bottom: 29.124px;
}
@media screen and (min-width: calc(45rem + 29.124000000000002px)) {
  .hero.island {
    padding: 12% 16%;
  }
}
.group,
.tray {
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
  max-width: 27.81211372rem;
}
.group.border-radius > *:first-child {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
.group.border-radius > *:last-child {
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
.group.padding {
  padding: 10px;
}
.group.border {
  border-width: 0;
}
ul.group.border,
ol.group.border {
  border-width: 1px;
}
.group.border > li {
  border-bottom: 1px solid currentColor;
}
.group.border > li:last-child {
  border-bottom-width: 0;
}
.group.border button,
.group.border .button,
.group.border input[type="button"],
.group.border input[type="submit"] {
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 0;
}
.group.border button:last-child,
.group.border .button:last-child,
.group.border input[type="button"]:last-child,
.group.border input[type="submit"]:last-child {
  border-bottom-width: 1px;
}
ul.group {
  list-style-type: none;
}
ol.group {
  list-style-position: inside;
}
.group li {
  border-bottom: 1px solid currentColor;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.group li:last-child {
  border-bottom: none;
}
.group button,
.group .button,
.group input[type="button"],
.group input[type="submit"] {
  display: block;
  width: 100%;
  max-width: none;
  margin-bottom: -1px;
  border-radius: 0;
}
.group button:last-child,
.group .button:last-child,
.group input[type="button"]:last-child,
.group input[type="submit"]:last-child {
  margin-bottom: 0;
  margin-top: -1px;
}
.bar,
.tray {
  position: relative;
  line-height: 1.8;
  line-height: 1.618;
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 6.18046972px;
}
.bar .top,
.bar .bottom,
.bar .left,
.bar .right {
  float: left;
  position: absolute;
}
.bar .top {
  top: 0.18em;
}
.bar > * {
  display: inline;
  width: auto;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.bar > *:first-child {
  margin-left: 0;
}
.bar > *:last-child {
  margin-right: 0;
}
.bar * {
  margin-right: 0.3236em;
  margin-left: 0.3236em;
  margin-bottom: 0 !important;
}
.bar button,
.bar .button,
.bar input[type="button"],
.bar input[type="submit"] {
  width: auto;
  display: inline;
  margin-bottom: 0;
  line-height: 1;
  padding: 6.18046972px;
}
.bar button:last-child,
.bar .button:last-child,
.bar input[type="button"]:last-child,
.bar input[type="submit"]:last-child {
  margin-top: 0;
}
.bar li {
  border-bottom: none;
  margin: 0;
  padding: 0;
}
.bar.border-radius > *:first-child {
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.bar.border-radius > *:last-child {
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.bar.group > * {
  margin-right: 0;
  margin-left: -1px;
}
.bar.group > *:first-child {
  margin-left: 0;
  margin-right: -1px;
}
.bar.group.border > * {
  border-bottom-width: 1px;
}
.stack {
  padding: 0;
  margin: 0;
  margin-bottom: 18px;
  max-width: 27.81211372rem;
}
.stack > * {
  margin-bottom: 10px;
}
.stack > *:last-child {
  margin-bottom: 0;
}
ul.stack {
  list-style-type: none;
}
ol.stack {
  list-style-position: inside;
}
.stack li {
  border-bottom: 1px solid currentColor;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.stack li:last-child {
  border-bottom: none;
}
.feature {
  padding: 20px;
  font-size: 131%;
  line-height: 1.618;
}
.card {
  border-radius: 7px;
  margin-bottom: 18px;
  background-color: white;
  color: #4d4d4d;
  border-color: #f9f9f9;
  position: relative;
  max-width: 27.81211372rem;
  overflow: hidden;
  line-height: 1.618;
}
.card > * {
  margin: 10px;
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 10px;
}
.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  margin-top: 0.4em;
  margin-bottom: 0.6em;
}
.card .full-width {
  width: calc(100% - 20px);
}
.card .hero {
  width: calc(100% - 20px);
}
.card .bar {
  width: 100%;
}
.card .overlay {
  margin-bottom: 10px;
}
.card p {
  margin-bottom: 1em;
}
.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  margin-bottom: 10px;
}
.card h1:first-child,
.card h2:first-child,
.card h3:first-child,
.card h4:first-child,
.card h5:first-child,
.card h6:first-child {
  margin: 0;
  margin-bottom: 10px;
  line-height: 1;
  padding-top: 0.18em;
  padding: 10px;
}
.matte {
  box-shadow: 0 1px 3px rgba(60, 45, 46, 0.27273999);
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 18px;
}
.well {
  border-radius: 7px;
  padding: 10px;
  margin-bottom: 18px;
  box-shadow: inset 0 1px 3px rgba(60, 45, 46, 0.27273999);
}
.well.card {
  padding: 0;
}
.island {
  padding: 10px;
  margin: 18px;
}
@media screen and (min-width: calc(45rem + 29.124000000000002px)) {
  .island {
    margin: 16%;
  }
}
.overlay {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.overlay .top,
.overlay .bottom,
.overlay .left,
.overlay .right {
  position: absolute;
}
.overlay .top {
  top: 0;
}
.overlay .bottom {
  bottom: 0;
}
.overlay .left {
  left: 0;
}
.overlay .right {
  right: 0;
}
.overlay:last-child {
  margin-bottom: 0;
}
.overlay > * {
  position: absolute;
  padding: 10px;
}
.overlay img {
  position: relative;
  display: block;
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}
.badge {
  border-radius: 7px;
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-right: 10px;
  padding-left: 10px;
  vertical-align: middle;
  background-color: #bd5e47;
  color: #ffffff;
  border-color: #be624b;
  border-radius: 99px;
}
.two-column > * {
  margin-bottom: 18px;
}
@media screen and (min-width: calc(45rem + 29.124000000000002px)) {
  .two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
}
.three-column > * {
  margin-bottom: 18px;
}
@media screen and (min-width: calc(45rem + 29.124000000000002px)) {
  .three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}
.golden-column > * {
  margin-bottom: 18px;
  max-width: none;
}
@media screen and (min-width: calc(45rem + 29.124000000000002px)) {
  .golden-column {
    display: grid;
    grid-template-columns: 1.618fr 1fr;
    grid-gap: 10px;
  }
  .golden-column.reverse {
    grid-template-columns: 1fr 1.618fr;
  }
}
.inner-max-width {
  position: relative;
  padding-left: calc(50% - 36.405rem);
  padding-right: calc(50% - 36.405rem);
}
.inner-max-width > .right {
  right: calc(50% - 36.405rem);
}
.inner-max-width > .left {
  left: calc(50% - 36.405rem);
}
.inner-column-width {
  position: relative;
}
@media screen and (min-width: calc(45rem + 29.124000000000002px)) {
  .inner-column-width {
    padding-left: calc(50% - 22.5rem);
    padding-right: calc(50% - 22.5rem);
  }
  .inner-column-width > .right {
    right: calc(50% - 22.5rem);
  }
  .inner-column-width > .left {
    left: calc(50% - 22.5rem);
  }
}
.inner-page-width {
  position: relative;
  padding-left: 29.124px;
  padding-right: 29.124px;
}
@media screen and (min-width: calc(72.81rem + 29.124000000000002px)) {
  .inner-page-width {
    padding-left: calc(50% - 36.405rem);
    padding-right: calc(50% - 36.405rem);
  }
  .inner-page-width > .right {
    right: calc(50% - 36.405rem);
  }
  .inner-page-width > .left {
    left: calc(50% - 36.405rem);
  }
}
.inner-gutter {
  padding: 29.124px;
}
.reset {
  all: initial;
}
.big {
  font-size: 125%;
}
.small {
  font-size: 90%;
  line-height: 1.62;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.table {
  display: table;
}
.flex {
  display: flex;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.transparent {
  color: inherit;
  position: ;
  background: transparent;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto {
  margin-left: auto;
  margin-right: auto;
}
.inset {
  box-shadow: inset 0 1px 3px rgba(60, 45, 46, 0.27273999);
}
.viewport-height {
  height: 100vh;
}
.fade {
  opacity: 0.8;
}
@media screen and (max-width: calc(calc(45rem + 29.124000000000002px) - 1px)) {
  .tablet > * {
    width: 100%;
  }
}
.light,
.matte,
.color-palette .color::after {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22rgb(244,243,243)%22%20fill-opacity%3D%220.12%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.lighter {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22rgb(255,255,255)%22%20fill-opacity%3D%220.24%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.dark,
.well,
.color-palette .color::before {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22rgb(59,44,46)%22%20fill-opacity%3D%220.07%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
.darker {
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%202.646%202.646%22%20height%3D%2210%22%20width%3D%2210%22%3E%3Cpath%20fill%3D%22rgb(0,0,0)%22%20fill-opacity%3D%220.14%22%20d%3D%22M0%200h2.646v2.646H0z%22%2F%3E%3C%2Fsvg%3E");
}
@media screen and (min-width: calc(45rem + 29.124000000000002px)) {
  .grid {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, minmax(0, 1fr));
  }
  .grid-width-two {
    grid-column: auto / span 2;
  }
  .grid-width-three {
    grid-column: auto / span 3;
  }
  .grid-width-four {
    grid-column: auto / span 4;
  }
  .grid-width-five {
    grid-column: auto / span 5;
  }
  .grid-width-six {
    grid-column: auto / span 6;
  }
  .grid-width-seven {
    grid-column: auto / span 7;
  }
  .grid-width-eight {
    grid-column: auto / span 8;
  }
  .grid-width-nine {
    grid-column: auto / span 9;
  }
  .grid-width-ten {
    grid-column: auto / span 10;
  }
  .grid-width-eleven {
    grid-column: auto / span 11;
  }
  .grid-width-twelve {
    grid-column: auto / span 12;
  }
}
.placeholder::before {
  content: " ";
  white-space: pre;
}
.ascii {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-left: 1ch;
  padding-right: 1ch;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-justify {
  text-align: justify;
}
.hide,
.hidden {
  display: none !important;
}
.clearfix {
  clear: both;
}
.clearfix::after {
  display: block;
  clear: both;
  content: "";
}
.action {
  background-color: #b56267;
  color: #ffffff;
  border-color: #b7666b;
}
.color-action {
  color: #9f565b;
}
.reaction {
  background-color: #408783;
  color: #ffffff;
  border-color: #448a86;
}
.color-reaction {
  color: #387773;
}
.info {
  background-color: #aeb5f7;
  color: #ffffff;
  border-color: #b0b7f7;
}
.color-info {
  color: #65698f;
}
.warning {
  background-color: #edaf41;
  color: #ffffff;
  border-color: #eeb146;
}
.color-warning {
  color: #896626;
}
.success {
  background-color: #30b61d;
  color: #ffffff;
  border-color: #36b823;
}
.color-success {
  color: #217c14;
}
.failure {
  background-color: #fb1618;
  color: #ffffff;
  border-color: #fb1c1d;
}
.color-failure {
  color: #d81314;
}
.default {
  background-color: #bd5e47;
  color: #ffffff;
  border-color: #be624b;
}
.color-default {
  color: #aa553f;
}
.nightshade {
  background-color: #613387;
  color: #ebe5f0;
  border-color: #65388a;
}
.color-nightshade {
  color: #5f3284;
}
.lily {
  background-color: #eeafe6;
  color: #362734;
  border-color: #e8abe0;
}
.color-lily {
  color: #815f7c;
}
.emerald {
  background-color: #278d58;
  color: #ffffff;
  border-color: #2c905c;
}
.color-emerald {
  color: #217a4b;
}
.ruby {
  background-color: #ce1659;
  color: #ffffff;
  border-color: #cf1c5d;
}
.color-ruby {
  color: #ca1557;
}
.amethyst {
  background-color: #b65ec2;
  color: #ffffff;
  border-color: #b862c4;
}
.color-amethyst {
  color: #994fa3;
}
.sapphire {
  background-color: #3970cf;
  color: #ffffff;
  border-color: #3e74d1;
}
.color-sapphire {
  color: #3669c3;
}
.sunset {
  background-color: #f1893a;
  color: #ffffff;
  border-color: #f18c3f;
}
.color-sunset {
  color: #9f5a26;
}
.moonlight {
  background-color: #cebcca;
  color: #2e2a2d;
  border-color: #c9b8c5;
}
.color-moonlight {
  color: #6f666d;
}
.tan {
  background-color: #cead88;
  color: #ffffff;
  border-color: #cfaf8b;
}
.color-tan {
  color: #7b6851;
}
.royalpurple {
  background-color: #8850ae;
  color: #ffffff;
  border-color: #8b54b0;
}
.color-royalpurple {
  color: #864eab;
}
.olivedrab {
  background-color: #7e9336;
  color: #ffffff;
  border-color: #81953b;
}
.color-olivedrab {
  color: #62722a;
}
.chocolate {
  background-color: #c36a2f;
  color: #ffffff;
  border-color: #c46d34;
}
.color-chocolate {
  color: #a35927;
}
.vanilla {
  background-color: #ece2c2;
  color: #413e35;
  border-color: #e6ddbd;
}
.color-vanilla {
  color: #6d6859;
}
.strawberry {
  background-color: #f36488;
  color: #ffffff;
  border-color: #f3688b;
}
.color-strawberry {
  color: #af4862;
}
.orchid {
  background-color: #cf67d6;
  color: #ffffff;
  border-color: #d16bd7;
}
.color-orchid {
  color: #994c9e;
}
.sand {
  background-color: #f2d0b0;
  color: #433930;
  border-color: #eccbab;
}
.color-sand {
  color: #796858;
}
.graphite {
  background-color: #585375;
  color: #ffffff;
  border-color: #5c5779;
}
.color-graphite {
  color: #565273;
}
.goldenrod {
  background-color: #dbb225;
  color: #ffffff;
  border-color: #dcb42a;
}
.color-goldenrod {
  color: #7f6715;
}
.mint {
  background-color: #b4e5e4;
  color: #323f3f;
  border-color: #b0dfdf;
}
.color-mint {
  color: #576e6e;
}
.wheat {
  background-color: #dccd97;
  color: #373326;
  border-color: #d6c893;
}
.color-wheat {
  color: #726a4f;
}
.steel {
  background-color: #83a1c7;
  color: #ffffff;
  border-color: #86a3c8;
}
.color-steel {
  color: #596d87;
}
.slate {
  background-color: #78719c;
  color: #ffffff;
  border-color: #7b759e;
}
.color-slate {
  color: #6e688f;
}
.cream {
  background-color: #e7ebda;
  color: #454741;
  border-color: #e2e6d4;
}
.color-cream {
  color: #666860;
}
.bacon {
  background-color: #ce2b1b;
  color: #ffffff;
  border-color: #cf3020;
}
.color-bacon {
  color: #ca2a1a;
}
.platinum {
  background-color: #d8d3d1;
  color: #3b3a39;
  border-color: #d2cecb;
}
.color-platinum {
  color: #6c6a68;
}
.twilight {
  background-color: #ce628d;
  color: #ffffff;
  border-color: #cf6690;
}
.color-twilight {
  color: #a44e71;
}
.mist {
  background-color: #c3dbf0;
  color: #363c42;
  border-color: #bed6ea;
}
.color-mist {
  color: #5d6973;
}
.snow {
  background-color: #fddddd;
  color: #463d3d;
  border-color: #f7d7d7;
}
.color-snow {
  color: #746666;
}
.plum {
  background-color: #da92d7;
  color: #ffffff;
  border-color: #db94d8;
}
.color-plum {
  color: #875a85;
}
.seafoam {
  background-color: #77ded1;
  color: #1e3734;
  border-color: #74d8cc;
}
.color-seafoam {
  color: #3e736d;
}
.seagreen {
  background-color: #52a16e;
  color: #ffffff;
  border-color: #56a372;
}
.color-seagreen {
  color: #3d7752;
}
.grapefruit {
  background-color: #e23954;
  color: #ffffff;
  border-color: #e23e58;
}
.color-grapefruit {
  color: #c6324a;
}
.cornhusk {
  background-color: #acc94f;
  color: #272d12;
  border-color: #a8c44d;
}
.color-cornhusk {
  color: #60702c;
}
.scarlet {
  background-color: #fc3618;
  color: #ffffff;
  border-color: #fc3b1d;
}
.color-scarlet {
  color: #cf2c13;
}
.tangerine {
  background-color: #eba140;
  color: #ffffff;
  border-color: #eba445;
}
.color-tangerine {
  color: #8d6127;
}
.army {
  background-color: #5c8d3f;
  color: #ffffff;
  border-color: #619043;
}
.color-army {
  color: #4e7735;
}
.ultramarine {
  background-color: #4b35b1;
  color: #f1f0f9;
  border-color: #4f3ab3;
}
.color-ultramarine {
  color: #4934ae;
}
.midnight {
  background-color: #2c1454;
  color: #bab3c7;
  border-color: #311a58;
}
.color-midnight {
  color: #2b1352;
}
.turquoise {
  background-color: #54cdc0;
  color: #ffffff;
  border-color: #58cec2;
}
.color-turquoise {
  color: #31776f;
}
.peach {
  background-color: #e4ac7e;
  color: #ffffff;
  border-color: #e4ae81;
}
.color-peach {
  color: #846449;
}
.coral {
  background-color: #f37244;
  color: #ffffff;
  border-color: #f37549;
}
.color-coral {
  color: #aa502f;
}
.cobalt {
  background-color: #4062eb;
  color: #ffffff;
  border-color: #4566ec;
}
.color-cobalt {
  color: #3f60e7;
}
.copper {
  background-color: #da8050;
  color: #ffffff;
  border-color: #db8355;
}
.color-copper {
  color: #9d5c3a;
}
.hotpink {
  background-color: #fa63af;
  color: #ffffff;
  border-color: #fa67b1;
}
.color-hotpink {
  color: #af457b;
}
.neongreen {
  background-color: #51eb26;
  color: #143b0a;
  border-color: #4fe525;
}
.color-neongreen {
  color: #2a7a14;
}
.khaki {
  background-color: #b6a960;
  color: #ffffff;
  border-color: #b7ab64;
}
.color-khaki {
  color: #746c3d;
}
.gold {
  background-color: #e9d718;
  color: #403b06;
  border-color: #e3d117;
}
.color-gold {
  color: #746b0c;
}
.silver {
  background-color: #c3bba6;
  color: #ffffff;
  border-color: #c5bca8;
}
.color-silver {
  color: #6d695d;
}
.bronze {
  background-color: #d29541;
  color: #ffffff;
  border-color: #d39846;
}
.color-bronze {
  color: #8a632b;
}
.gunmetal {
  background-color: #646c7e;
  color: #ffffff;
  border-color: #687081;
}
.color-gunmetal {
  color: #626a7b;
}
.salmon {
  background-color: #f87466;
  color: #ffffff;
  border-color: #f9786a;
}
.color-salmon {
  color: #a94f45;
}
.iron {
  background-color: #7f3c3d;
  color: #f9f5f5;
  border-color: #824142;
}
.color-iron {
  color: #7c3b3c;
}
.lavender {
  background-color: #cecaf4;
  color: #33323d;
  border-color: #c9c5ee;
}
.color-lavender {
  color: #6b697f;
}
.crimson {
  background-color: #d4263c;
  color: #ffffff;
  border-color: #d52c41;
}
.color-crimson {
  color: #d0263b;
}
.clover {
  background-color: #4fc821;
  color: #ffffff;
  border-color: #54c926;
}
.color-clover {
  color: #317c14;
}
.charcoal {
  background-color: #805a50;
  color: #ffffff;
  border-color: #845e55;
}
.color-charcoal {
  color: #7e584f;
}
.red {
  background-color: #fb1618;
  color: #ffffff;
  border-color: #fb1c1d;
}
.color-red {
  color: #d81314;
}
.electricblue {
  background-color: #50bee3;
  color: #ffffff;
  border-color: #55c0e4;
}
.color-electricblue {
  color: #307288;
}
.orange {
  background-color: #e99d18;
  color: #ffffff;
  border-color: #eaa01d;
}
.color-orange {
  color: #91620f;
}
.yellow {
  background-color: #e9e718;
  color: #404006;
  border-color: #e3e117;
}
.color-yellow {
  color: #6b6a0b;
}
.lemon {
  background-color: #cfe643;
  color: #393f13;
  border-color: #cae042;
}
.color-lemon {
  color: #636e20;
}
.olive {
  background-color: #899027;
  color: #ffffff;
  border-color: #8c922d;
}
.color-olive {
  color: #6b701f;
}
.drab {
  background-color: #a19c60;
  color: #ffffff;
  border-color: #a39e64;
}
.color-drab {
  color: #716d43;
}
.green {
  background-color: #279218;
  color: #ffffff;
  border-color: #2c941d;
}
.color-green {
  color: #217d14;
}
.teal {
  background-color: #279192;
  color: #ffffff;
  border-color: #2c9494;
}
.color-teal {
  color: #207777;
}
.aquamarine {
  background-color: #69d6ae;
  color: #183027;
  border-color: #66d1a9;
}
.color-aquamarine {
  color: #38745e;
}
.cyan {
  background-color: #27dfdf;
  color: #0a3838;
  border-color: #26dada;
}
.color-cyan {
  color: #147474;
}
.skyblue {
  background-color: #4db2db;
  color: #ffffff;
  border-color: #51b4dc;
}
.color-skyblue {
  color: #31728c;
}
.blue {
  background-color: #6785e8;
  color: #ffffff;
  border-color: #6b89e9;
}
.color-blue {
  color: #5068b5;
}
.indigo {
  background-color: #882fba;
  color: #ffffff;
  border-color: #8b34bb;
}
.color-indigo {
  color: #852eb6;
}
.violet {
  background-color: #e35ce1;
  color: #ffffff;
  border-color: #e360e1;
}
.color-violet {
  color: #a844a6;
}
.magenta {
  background-color: #de16dc;
  color: #ffffff;
  border-color: #df1cdd;
}
.color-magenta {
  color: #bf13bd;
}
.purple {
  background-color: #bf16bb;
  color: #ffffff;
  border-color: #c11cbc;
}
.color-purple {
  color: #bb15b7;
}
.brown {
  background-color: #88482d;
  color: #ffffff;
  border-color: #8b4d32;
}
.color-brown {
  color: #85472c;
}
.pink {
  background-color: #f9a6b5;
  color: #382529;
  border-color: #f2a2b0;
}
.color-pink {
  color: #8b5d65;
}
.lime {
  background-color: #71dc58;
  color: #193114;
  border-color: #6ed656;
}
.color-lime {
  color: #3d7730;
}
.navy {
  background-color: #5156b9;
  color: #ffffff;
  border-color: #565bbb;
}
.color-navy {
  color: #5055b5;
}
.black {
  background-color: #3c2d2e;
  color: #c9c5c6;
  border-color: #413234;
}
.color-black {
  color: #3b2c2d;
}
.white {
  background-color: #f4f3f3;
  color: #494949;
  border-color: #eeeded;
}
.color-white {
  color: #676666;
}
.gray {
  background-color: #989091;
  color: #ffffff;
  border-color: #9b9394;
}
.color-gray {
  color: #706b6b;
}
.no-padding {
  padding: 0;
}
.no-padding-top {
  padding-top: 0;
}
.no-padding-right {
  padding-right: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.no-padding-left {
  padding-left: 0;
}
.no-margin {
  margin: 0;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-right {
  margin-right: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.no-margin-left {
  margin-left: 0;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows * {
  text-shadow: unset;
}
.no-border {
  border: none;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.ambient {
  background-color: #f9c3c9;
  color: #3e3132;
  border-color: #f3bfc4;
}
.base-color {
  background-color: #b56267;
  color: #ffffff;
  border-color: #b7666b;
}
.text-on-blue {
  color: #f2f2ff;
}
#blue_headline_example {
  color: #9393ff;
}
#blue_headline_example2 {
  color: #9393ff;
}
#blue_headline_example2 p {
  border-style: solid;
  border-width: 1px;
  border-color: #ffffff;
}
#blue_headline_example3 {
  color: #9393ff;
}
#blue_headline_example3 p {
  border-style: solid;
  border-width: 1px;
  border-color: #000000;
}
.color-palette .color {
  margin-bottom: 5px;
  position: relative;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  overflow: hidden;
  text-align: center;
  width: 100%;
  border-width: 1px;
  border-radius: 7px;
}
.color-palette .color::before {
  display: block;
  position: absolute;
  content: "";
  width: 31%;
  height: 100%;
  top: 0;
  right: 0;
}
.color-palette .color::after {
  display: block;
  position: absolute;
  content: "";
  width: 31%;
  height: 100%;
  top: 0;
  left: 0;
}
.color-palette .color:last-child {
  clear: both;
}
.color-palette .color:last-child::after {
  display: block;
  clear: both;
  content: "";
}
.pattern-example {
  width: 100%;
  height: 250px;
  margin-bottom: 18px;
}
.pattern-example::after {
  font-size: 90%;
  line-height: 1.62;
  background-color: #c8898d;
  color: #ffffff;
  border-color: #c98c90;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
