* {
  margin: 0;
  padding: 0;
}
*,
*:before,
*:after {
  box-sizing: var(--box-sizing);
}
:root {
  --base-color: #57e5b1;
  --body-background: #57e5b1;
  --main-background: #fafafa;
  --action: #57e5b1;
  --reaction: #f0c2d3;
  --info: #bfd0fd;
  --warning: #ffc862;
  --success: #8bcf95;
  --failure: #e89a91;
  --default: #b3cbb4;
  --text-contrast: 9;
  --ambient: #b6fff8;
  --shadow-color: rgba(48, 68, 66, 0.18304721);
  --shadow-position: 0 0;
  --shadow-blur: 9px;
  --text-measure: 79;
  --text-padding: 0.18em 0.3236em 0.22em 0.3236em;
  --text-padding-top: 0.18em;
  --text-padding-right: 0.3236em;
  --text-padding-bottom: 0.22em;
  --text-padding-left: 0.3236em;
  --gutter: 25.888px;
  --page-width: 77.664rem;
  --aside-width: 29rem;
  --avatar-width: 10rem;
  --icon-width: 1rem;
  --full-width: 100%;
  --grid-width: 6.472rem;
  --tablet-width: calc(48rem + 25.888px);
  --desktop-width: calc(77.664rem + 25.888px);
  --red: #e89a91;
  --orange: #ffbb3c;
  --yellow: #f4f526;
  --olive: #93ae3a;
  --green: #59bb68;
  --teal: #11c6c6;
  --skyblue: #98d9ef;
  --cyan: #11f1f1;
  --blue: #9abcf2;
  --indigo: #a586ca;
  --violet: #f2abf4;
  --magenta: #ff81ff;
  --purple: #c586ca;
  --brown: #ba8060;
  --pink: #ffc7d1;
  --lime: #11f926;
  --navy: #7885c9;
  --black: #304442;
  --white: #fafafa;
  --gray-lighter: #ececec;
  --gray-light: #bababa;
  --gray-medium: #959595;
  --gray: #959595;
  --gray-dark: #686b6b;
  --gray-darker: #2e3c3b;
  --background: #73e9be;
  --background-attachment: scroll;
  --background-clip: border-box;
  --background-color: #73e9be;
  --background-image: none;
  --background-origin: padding-box;
  --background-position: top center;
  --background-repeat: no-repeat;
  --background-size: auto;
  --border: 1px solid #b3cbb4;
  --border-bottom: 1px solid #b3cbb4;
  --border-bottom-color: #b3cbb4;
  --border-bottom-left-radius: 1px;
  --border-bottom-right-radius: 1px;
  --border-bottom-style: solid;
  --border-bottom-width: 1px;
  --border-color: #b3cbb4;
  --border-image: none;
  --border-image-outset: 0;
  --border-image-repeat: stretch;
  --border-image-slice: 100%;
  --border-image-source: none;
  --border-image-width: 1;
  --border-left: 1px solid #b3cbb4;
  --border-left-color: #b3cbb4;
  --border-left-style: solid;
  --border-left-width: 1px;
  --border-radius: 1px;
  --border-right: 1px solid #b3cbb4;
  --border-right-color: #b3cbb4;
  --border-right-style: solid;
  --border-right-width: 1px;
  --border-style: solid;
  --border-top: 1px solid #b3cbb4;
  --border-top-color: #b3cbb4;
  --border-top-left-radius: 1px;
  --border-top-right-radius: 1px;
  --border-top-style: solid;
  --border-top-width: 1px;
  --border-width: 1px;
  --color: #2e3c3b;
  --opacity: 1;
  --height: auto;
  --max-height: none;
  --max-width: 48rem;
  --min-height: 0;
  --min-width: 0;
  --width: auto;
  --content: normal;
  --quotes: inherit;
  --counter-reset: none;
  --counter-increment: none;
  --align-content: stretch;
  --align-items: stretch;
  --align-self: auto;
  --flex: 0 1 auto;
  --flex-basis: auto;
  --flex-direction: row;
  --flex-flow: row nowrap;
  --flex-grow: 0;
  --flex-shrink: 1;
  --flex-wrap: nowrap;
  --justify-content: flex-start;
  --order: 0;
  --font: normal normal normal 20px "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  --font-size: 20px;
  --font-size-adjust: none;
  --font-stretch: normal;
  --font-style: normal;
  --font-variant: normal;
  --font-weight: normal;
  --list-style: disc outside none;
  --list-style-image: none;
  --list-style-position: outside;
  --list-style-type: disc;
  --margin: 16px;
  --margin-bottom: 16px;
  --margin-left: 16px;
  --margin-right: 16px;
  --margin-top: 16px;
  --column-count: auto;
  --column-fill: balance;
  --column-gap: 1.9416em;
  --column-rule: 1px solid #b3cbb4;
  --column-rule-color: #b3cbb4;
  --column-rule-style: solid;
  --column-rule-width: 1px;
  --column-span: 2;
  --column-width: 48rem;
  --columns: 48rem auto;
  --outline: 1px solid #b3cbb4;
  --outline-color: #b3cbb4;
  --outline-offset: 0;
  --outline-style: solid;
  --outline-width: 1px;
  --padding: 20px;
  --padding-bottom: 20px;
  --padding-left: 20px;
  --padding-right: 20px;
  --padding-top: 20px;
  --page-break-after: auto;
  --page-break-before: auto;
  --page-break-inside: auto;
  --border-collapse: collapse;
  --border-spacing: 10px;
  --caption-side: left;
  --empty-cells: hide;
  --table-layout: auto;
  --direction: ltr;
  --tab-size: 2;
  --text-align: left;
  --text-align-last: left;
  --text-decoration: underline #b3cbb4 solid;
  --text-decoration-color: #b3cbb4;
  --text-decoration-line: underline;
  --text-decoration-style: solid;
  --text-indent: 2ch;
  --text-justify: 'test';
  --text-overflow: 'test';
  --text-shadow: 'test';
  --text-transform: 'test';
  --line-height: 2.1rem;
  --vertical-align: 'test';
  --letter-spacing: 'test';
  --word-spacing: 'test';
  --white-space: 'test';
  --word-break: 'test';
  --word-wrap: 'test';
  --backface-visibility: visible;
  --perspective: none;
  --perspective-origin: 50% 50%;
  --transform: none;
  --transform-origin: 50% 50% 0;
  --transform-style: flat;
  --transition: all 0s ease 0s;
  --transition-delay: 0s;
  --transition-duration: 0s;
  --transition-property: all;
  --transition-timing-function: ease;
  --display: block;
  --position: absolute;
  --top: 0;
  --right: 0;
  --bottom: 0;
  --left: 0;
  --float: right;
  --clear: both;
  --z-index: 10;
  --overflow: show;
  --overflow-x: show;
  --overflow-y: show;
  --resize: none;
  --clip: auto;
  --visibility: visible;
  --cursor: pointer;
  --box-shadow: 0 0 9px rgba(48, 68, 66, 0.18304721);
  --box-sizing: border-box;
}
.background {
  background: var(--background);
}
.background-attachment {
  background-attachment: var(--background-attachment);
}
.background-clip {
  background-clip: var(--background-clip);
}
.background-color {
  background-color: var(--background-color);
}
.background-image {
  background-image: var(--background-image);
}
.background-origin {
  background-origin: var(--background-origin);
}
.background-position {
  background-position: var(--background-position);
}
.background-repeat {
  background-repeat: var(--background-repeat);
}
.background-size {
  background-size: var(--background-size);
}
.border {
  border: var(--border);
}
.border-bottom {
  border-bottom: var(--border-bottom);
}
.border-bottom-color {
  border-bottom-color: var(--border-bottom-color);
}
.border-bottom-left-radius {
  border-bottom-left-radius: var(--border-bottom-left-radius);
}
.border-bottom-right-radius {
  border-bottom-right-radius: var(--border-bottom-right-radius);
}
.border-bottom-style {
  border-bottom-style: var(--border-bottom-style);
}
.border-bottom-width {
  border-bottom-width: var(--border-bottom-width);
}
.border-color {
  border-color: var(--border-color);
}
.border-image {
  border-image: var(--border-image);
}
.border-image-outset {
  border-image-outset: var(--border-image-outset);
}
.border-image-repeat {
  border-image-repeat: var(--border-image-repeat);
}
.border-image-slice {
  border-image-slice: var(--border-image-slice);
}
.border-image-source {
  border-image-source: var(--border-image-source);
}
.border-image-width {
  border-image-width: var(--border-image-width);
}
.border-left {
  border-left: var(--border-left);
}
.border-left-color {
  border-left-color: var(--border-left-color);
}
.border-left-style {
  border-left-style: var(--border-left-style);
}
.border-left-width {
  border-left-width: var(--border-left-width);
}
.border-radius {
  border-radius: var(--border-radius);
}
.border-right {
  border-right: var(--border-right);
}
.border-right-color {
  border-right-color: var(--border-right-color);
}
.border-right-style {
  border-right-style: var(--border-right-style);
}
.border-right-width {
  border-right-width: var(--border-right-width);
}
.border-style {
  border-style: var(--border-style);
}
.border-top {
  border-top: var(--border-top);
}
.border-top-color {
  border-top-color: var(--border-top-color);
}
.border-top-left-radius {
  border-top-left-radius: var(--border-top-left-radius);
}
.border-top-right-radius {
  border-top-right-radius: var(--border-top-right-radius);
}
.border-top-style {
  border-top-style: var(--border-top-style);
}
.border-top-width {
  border-top-width: var(--border-top-width);
}
.border-width {
  border-width: var(--border-width);
}
.color {
  color: #142921;
}
.opacity {
  opacity: var(--opacity);
}
.height {
  height: var(--height);
}
.max-height {
  max-height: var(--max-height);
}
.max-width {
  max-width: var(--max-width);
}
.min-height {
  min-height: var(--min-height);
}
.min-width {
  min-width: var(--min-width);
}
.width {
  width: var(--width);
}
.content {
  content: var(--content);
}
.quotes {
  quotes: var(--quotes);
}
.counter-reset {
  counter-reset: var(--counter-reset);
}
.counter-increment {
  counter-increment: var(--counter-increment);
}
.align-content {
  align-content: var(--align-content);
}
.align-items {
  align-items: var(--align-items);
}
.align-self {
  align-self: var(--align-self);
}
.flex {
  flex: var(--flex);
}
.flex-basis {
  flex-basis: var(--flex-basis);
}
.flex-direction {
  flex-direction: var(--flex-direction);
}
.flex-flow {
  flex-flow: var(--flex-flow);
}
.flex-grow {
  flex-grow: var(--flex-grow);
}
.flex-shrink {
  flex-shrink: var(--flex-shrink);
}
.flex-wrap {
  flex-wrap: var(--flex-wrap);
}
.justify-content {
  justify-content: var(--justify-content);
}
.order {
  order: var(--order);
}
.font {
  font: var(--font);
}
.font-family {
  font-family: var(--font-family);
}
.font-size {
  font-size: var(--font-size);
}
.font-size-adjust {
  font-size-adjust: var(--font-size-adjust);
}
.font-stretch {
  font-stretch: var(--font-stretch);
}
.font-style {
  font-style: var(--font-style);
}
.font-variant {
  font-variant: var(--font-variant);
}
.font-weight {
  font-weight: var(--font-weight);
}
.list-style {
  list-style: var(--list-style);
}
.list-style-image {
  list-style-image: var(--list-style-image);
}
.list-style-position {
  list-style-position: var(--list-style-position);
}
.list-style-type {
  list-style-type: var(--list-style-type);
}
.margin {
  margin: var(--margin);
}
.margin-bottom {
  margin-bottom: var(--margin-bottom);
}
.margin-left {
  margin-left: var(--margin-left);
}
.margin-right {
  margin-right: var(--margin-right);
}
.margin-top {
  margin-top: var(--margin-top);
}
.column-count {
  column-count: var(--column-count);
}
.column-fill {
  column-fill: var(--column-fill);
}
.column-gap {
  column-gap: var(--column-gap);
}
.column-rule {
  column-rule: var(--column-rule);
}
.column-rule-color {
  column-rule-color: var(--column-rule-color);
}
.column-rule-style {
  column-rule-style: var(--column-rule-style);
}
.column-rule-width {
  column-rule-width: var(--column-rule-width);
}
.column-span {
  column-span: var(--column-span);
}
.column-width {
  column-width: var(--column-width);
}
.columns {
  columns: var(--columns);
}
.outline {
  outline: var(--outline);
}
.outline-color {
  outline-color: var(--outline-color);
}
.outline-offset {
  outline-offset: var(--outline-offset);
}
.outline-style {
  outline-style: var(--outline-style);
}
.outline-width {
  outline-width: var(--outline-width);
}
.padding {
  padding: var(--padding);
}
.padding-bottom {
  padding-bottom: var(--padding-bottom);
}
.padding-left {
  padding-left: var(--padding-left);
}
.padding-right {
  padding-right: var(--padding-right);
}
.padding-top {
  padding-top: var(--padding-top);
}
.page-break-after {
  page-break-after: var(--page-break-after);
}
.page-break-before {
  page-break-before: var(--page-break-before);
}
.page-break-inside {
  page-break-inside: var(--page-break-inside);
}
.border-collapse {
  border-collapse: var(--border-collapse);
}
.border-spacing {
  border-spacing: var(--border-spacing);
}
.caption-side {
  caption-side: var(--caption-side);
}
.empty-cells {
  empty-cells: var(--empty-cells);
}
.table-layout {
  table-layout: var(--table-layout);
}
.direction {
  direction: var(--direction);
}
.tab-size {
  tab-size: var(--tab-size);
}
.text-align {
  text-align: var(--text-align);
}
.text-align-last {
  text-align-last: var(--text-align-last);
}
.text-decoration {
  text-decoration: var(--text-decoration);
}
.text-decoration-color {
  text-decoration-color: var(--text-decoration-color);
}
.text-decoration-line {
  text-decoration-line: var(--text-decoration-line);
}
.text-decoration-style {
  text-decoration-style: var(--text-decoration-style);
}
.text-indent {
  text-indent: var(--text-indent);
}
.text-justify {
  text-justify: var(--text-justify);
}
.text-overflow {
  text-overflow: var(--text-overflow);
}
.text-shadow {
  text-shadow: var(--text-shadow);
}
.text-transform {
  text-transform: var(--text-transform);
}
.line-height {
  line-height: var(--line-height);
}
.vertical-align {
  vertical-align: var(--vertical-align);
}
.letter-spacing {
  letter-spacing: var(--letter-spacing);
}
.word-spacing {
  word-spacing: var(--word-spacing);
}
.white-space {
  white-space: var(--white-space);
}
.word-break {
  word-break: var(--word-break);
}
.word-wrap {
  word-wrap: var(--word-wrap);
}
.backface-visibility {
  backface-visibility: var(--backface-visibility);
}
.perspective {
  perspective: var(--perspective);
}
.perspective-origin {
  perspective-origin: var(--perspective-origin);
}
.transform {
  transform: var(--transform);
}
.transform-origin {
  transform-origin: var(--transform-origin);
}
.transform-style {
  transform-style: var(--transform-style);
}
.transition {
  transition: var(--transition);
}
.transition-delay {
  transition-delay: var(--transition-delay);
}
.transition-duration {
  transition-duration: var(--transition-duration);
}
.transition-property {
  transition-property: var(--transition-property);
}
.transition-timing-function {
  transition-timing-function: var(--transition-timing-function);
}
.display {
  display: var(--display);
}
.position {
  position: var(--position);
}
.top {
  top: var(--top);
}
.right {
  right: var(--right);
}
.bottom {
  bottom: var(--bottom);
}
.left {
  left: var(--left);
}
.float {
  float: var(--float);
}
.clear {
  clear: var(--clear);
}
.z-index {
  z-index: var(--z-index);
}
.overflow {
  overflow: var(--overflow);
}
.overflow-x {
  overflow-x: var(--overflow-x);
}
.overflow-y {
  overflow-y: var(--overflow-y);
}
.resize {
  resize: var(--resize);
}
.clip {
  clip: var(--clip);
}
.visibility {
  visibility: var(--visibility);
}
.cursor {
  cursor: var(--cursor);
}
.box-shadow {
  box-shadow: var(--box-shadow);
}
.box-sizing {
  box-sizing: var(--box-sizing);
}
p,
ol,
ul,
pre,
blockquote,
div,
form,
main,
section,
table {
  margin-bottom: var(--margin-bottom);
}
.gutter {
  margin: 25.888px;
}
.gutter-top {
  margin-top: 25.888px;
}
.gutter-right {
  margin-right: 25.888px;
}
.gutter-bottom {
  margin-bottom: 25.888px;
}
.gutter-left {
  margin-left: 25.888px;
}
.icon-width {
  width: 1rem;
}
.avatar-width {
  width: 10rem;
}
.aside-width {
  max-width: 29rem;
}
.column-width {
  max-width: 48rem;
}
.full-width {
  width: 100%;
}
body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: #0f281f;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  background-color: #73e9be;
  color: #142921;
  border-color: #59b593;
  background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2212%22%20height%3D%2224%22%20viewBox%3D%220%200%2012%2024%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20fill%3D%22rgb(108,219,179)%22%3E%3Cpath%20d%3D%22M2%200h2v12H2V0zm1%2020c1.105%200%202-.895%202-2s-.895-2-2-2-2%20.895-2%202%20.895%202%202%202zM9%208c1.105%200%202-.895%202-2s-.895-2-2-2-2%20.895-2%202%20.895%202%202%202zm-1%204h2v12H8V12z%22%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: var(--background-position);
  font-size: 18px;
  line-height: 1.89rem;
}
@media screen and (min-width: calc(48rem + 25.888px)) {
  body {
    font-size: var(--font-size);
    line-height: var(--line-height);
  }
}
main {
  margin: 0 auto;
  margin-bottom: 25.888px;
}
nav {
  z-index: 99;
}
nav.sticky {
  position: fixed;
  width: 100%;
}
section {
  background-color: #f9f5f6;
  color: #3e3d3e;
  border-color: #c7c4c5;
  max-width: var(--max-width);
  padding: 10px;
  margin: 0 auto 25.888px auto;
}
@media screen and (min-width: calc(48rem + 25.888px)) {
  section {
    padding: 20px;
  }
}
@media screen and (min-width: calc(77.664rem + 25.888px)) {
  section {
    padding: 40px;
  }
}
aside {
  margin: 0 auto;
  max-width: 29rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-family);
  font-weight: bold;
  margin-top: 1.618em;
  margin-bottom: 0.61804697em;
  letter-spacing: -0.025em;
  color: inherit;
  line-height: 1.618;
}
h1:first-child,
h2:first-child,
h3:first-child,
h4:first-child,
h5:first-child,
h6:first-child {
  margin-top: 0;
}
h1 {
  font-size: 2.4em;
}
h1.feature {
  font-size: 3.144em;
}
h2 {
  font-size: 1.8em;
}
h2.feature {
  font-size: 2.358em;
}
h3 {
  font-size: 1.4em;
}
h3.feature {
  font-size: 1.834em;
}
h4 {
  font-size: 1.2em;
}
h4.feature {
  font-size: 1.572em;
}
h5 {
  font-size: 1.1em;
}
h5.feature {
  font-size: 1.441em;
}
h6 {
  font-size: 1em;
}
h6.feature {
  font-size: 1.31em;
}
p {
  margin-bottom: 1em;
}
p.gutter-bottom {
  margin-bottom: 1.618em;
}
p.action,
p.reaction,
p.info,
p.warning,
p.success,
p.failure,
p.default {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
a {
  color: inherit;
  text-decoration: underline;
}
form {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input {
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height);
  border: var(--border);
  border-radius: var(--border-radius);
  color: #3e3d3e;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
input:focus {
  box-shadow: 0 0 2px #bfd0fd;
}
fieldset {
  border: none;
  outline: none;
}
ol {
  padding-left: 4ch;
  margin-bottom: var(--margin-bottom);
}
ol li {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
ul {
  padding-left: 3ch;
  margin-left: var(--margin-left);
  margin-bottom: var(--margin-bottom);
}
kbd {
  background-color: #304442;
  color: #f5f6f6;
  border-color: #192423;
  border-radius: var(--border-radius);
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
b {
  padding: 0.18em 0 0.22em 0;
}
button,
.button,
input[type="button"],
input[type="submit"] {
  border-style: var(--border-style);
  border-width: var(--border-width);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  display: inline;
  font: inherit;
  padding: 0.61804697em;
  color: #434c44;
  background-color: #b3cbb4;
  border-color: #8b9e8c;
  max-width: 29rem;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  outline: none;
  white-space: nowrap;
  text-decoration: none;
  touch-action: manipulation;
  cursor: pointer;
  transform: scale(1);
  transition: 0.08s linear;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
button:active,
.button:active,
input[type="button"]:active,
input[type="submit"]:active {
  transform: scale(0.99);
  box-shadow: none;
}
button.action,
.button.action,
input[type="button"].action,
input[type="submit"].action {
  color: #235c47;
  background-color: #57e5b1;
  border-color: #43b189;
}
button.reaction,
.button.reaction,
input[type="button"].reaction,
input[type="submit"].reaction {
  color: #604e55;
  background-color: #f0c2d3;
  border-color: #ba97a4;
}
button.info,
.button.info,
input[type="button"].info,
input[type="submit"].info {
  color: #4d5365;
  background-color: #bfd0fd;
  border-color: #94a1c4;
}
button.warning,
.button.warning,
input[type="button"].warning,
input[type="submit"].warning {
  color: #665027;
  background-color: #ffc862;
  border-color: #c69b4c;
}
button.success,
.button.success,
input[type="button"].success,
input[type="submit"].success {
  color: #344e38;
  background-color: #8bcf95;
  border-color: #6ba073;
}
button.failure,
.button.failure,
input[type="button"].failure,
input[type="submit"].failure {
  color: #513633;
  background-color: #e89a91;
  border-color: #b47771;
}
button.default,
.button.default,
input[type="button"].default,
input[type="submit"].default {
  color: #434c44;
  background-color: #b3cbb4;
  border-color: #8b9e8c;
}
pre {
  overflow: hidden;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  box-shadow: inset 0 0 9px rgba(48, 68, 66, 0.18304721);
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  border-radius: var(--border-radius);
  background-color: #2e3c3b;
  color: #eaeceb;
  border-color: #151b1a;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%224%22%20height%3D%224%22%20viewBox%3D%220%200%204%204%22%3E%3Cpath%20fill%3D%22rgb(55,68,67)%22%20d%3D%22M1%203h1v1H1V3zm2-2h1v1H3V1z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  background-position: var(--background-position);
}
pre > code {
  background: transparent;
  padding: 0;
}
code {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  background-color: #2e3c3b;
  color: #eaeceb;
  border-color: #151b1a;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%224%22%20height%3D%224%22%20viewBox%3D%220%200%204%204%22%3E%3Cpath%20fill%3D%22rgb(55,68,67)%22%20d%3D%22M1%203h1v1H1V3zm2-2h1v1H3V1z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  background-position: var(--background-position);
}
code.terminal:before {
  content: "$ ";
  color: #b4cdf6;
}
textarea {
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: var(--font-family);
  margin-bottom: var(--margin-bottom);
  border: var(--border);
  border-radius: var(--border-radius);
  color: #3e3d3e;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
textarea:focus {
  box-shadow: 0 0 2px #bfd0fd;
}
.hero {
  font-size: 110%;
  padding: 20px;
  width: 100%;
  max-width: none;
  margin-bottom: 25.888px;
  background-color: #b3cbb4;
  color: #1b1e1b;
  border-color: #8b9e8c;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22192%22%20height%3D%22192%22%20viewBox%3D%220%200%20192%20192%22%3E%0A%20%20%20%20%3Cpath%20fill%3D%22rgb(170,193,171)%22%20d%3D%22M192%2015v2a11%2011%200%200%200-11%2011c0%201.94%201.16%204.75%202.53%206.11l2.36%202.36a6.93%206.93%200%200%201%201.22%207.56l-.43.84a8.08%208.08%200%200%201-6.66%204.13H145v35.02a6.1%206.1%200%200%200%203.03%204.87l.84.43c1.58.79%204%20.4%205.24-.85l2.36-2.36a12.04%2012.04%200%200%201%207.51-3.11%2013%2013%200%201%201%20.02%2026%2012%2012%200%200%201-7.53-3.11l-2.36-2.36a4.93%204.93%200%200%200-5.24-.85l-.84.43a6.1%206.1%200%200%200-3.03%204.87V143h35.02a8.08%208.08%200%200%201%206.66%204.13l.43.84a6.91%206.91%200%200%201-1.22%207.56l-2.36%202.36A10.06%2010.06%200%200%200%20181%20164a11%2011%200%200%200%2011%2011v2a13%2013%200%200%201-13-13%2012%2012%200%200%201%203.11-7.53l2.36-2.36a4.93%204.93%200%200%200%20.85-5.24l-.43-.84a6.1%206.1%200%200%200-4.87-3.03H145v35.02a8.08%208.08%200%200%201-4.13%206.66l-.84.43a6.91%206.91%200%200%201-7.56-1.22l-2.36-2.36A10.06%2010.06%200%200%200%20124%20181a11%2011%200%200%200-11%2011h-2a13%2013%200%200%201%2013-13c2.47%200%205.79%201.37%207.53%203.11l2.36%202.36a4.94%204.94%200%200%200%205.24.85l.84-.43a6.1%206.1%200%200%200%203.03-4.87V145h-35.02a8.08%208.08%200%200%201-6.66-4.13l-.43-.84a6.91%206.91%200%200%201%201.22-7.56l2.36-2.36A10.06%2010.06%200%200%200%20107%20124a11%2011%200%200%200-22%200c0%201.94%201.16%204.75%202.53%206.11l2.36%202.36a6.93%206.93%200%200%201%201.22%207.56l-.43.84a8.08%208.08%200%200%201-6.66%204.13H49v35.02a6.1%206.1%200%200%200%203.03%204.87l.84.43c1.58.79%204%20.4%205.24-.85l2.36-2.36a12.04%2012.04%200%200%201%207.51-3.11A13%2013%200%200%201%2081%20192h-2a11%2011%200%200%200-11-11c-1.94%200-4.75%201.16-6.11%202.53l-2.36%202.36a6.93%206.93%200%200%201-7.56%201.22l-.84-.43a8.08%208.08%200%200%201-4.13-6.66V145H11.98a6.1%206.1%200%200%200-4.87%203.03l-.43.84c-.79%201.58-.4%204%20.85%205.24l2.36%202.36a12.04%2012.04%200%200%201%203.11%207.51A13%2013%200%200%201%200%20177v-2a11%2011%200%200%200%2011-11c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93%206.93%200%200%201-1.22-7.56l.43-.84a8.08%208.08%200%200%201%206.66-4.13H47v-35.02a6.1%206.1%200%200%200-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36%202.36A12%2012%200%200%201%2028%20109a13%2013%200%201%201%200-26c2.47%200%205.79%201.37%207.53%203.11l2.36%202.36a4.94%204.94%200%200%200%205.24.85l.84-.43A6.1%206.1%200%200%200%2047%2084.02V49H11.98a8.08%208.08%200%200%201-6.66-4.13l-.43-.84a6.91%206.91%200%200%201%201.22-7.56l2.36-2.36A10.06%2010.06%200%200%200%2011%2028%2011%2011%200%200%200%200%2017v-2a13%2013%200%200%201%2013%2013c0%202.47-1.37%205.79-3.11%207.53l-2.36%202.36a4.94%204.94%200%200%200-.85%205.24l.43.84A6.1%206.1%200%200%200%2011.98%2047H47V11.98a8.08%208.08%200%200%201%204.13-6.66l.84-.43a6.91%206.91%200%200%201%207.56%201.22l2.36%202.36A10.06%2010.06%200%200%200%2068%2011%2011%2011%200%200%200%2079%200h2a13%2013%200%200%201-13%2013%2012%2012%200%200%201-7.53-3.11l-2.36-2.36a4.93%204.93%200%200%200-5.24-.85l-.84.43A6.1%206.1%200%200%200%2049%2011.98V47h35.02a8.08%208.08%200%200%201%206.66%204.13l.43.84a6.91%206.91%200%200%201-1.22%207.56l-2.36%202.36A10.06%2010.06%200%200%200%2085%2068a11%2011%200%200%200%2022%200c0-1.94-1.16-4.75-2.53-6.11l-2.36-2.36a6.93%206.93%200%200%201-1.22-7.56l.43-.84a8.08%208.08%200%200%201%206.66-4.13H143V11.98a6.1%206.1%200%200%200-3.03-4.87l-.84-.43c-1.59-.8-4-.4-5.24.85l-2.36%202.36A12%2012%200%200%201%20124%2013a13%2013%200%200%201-13-13h2a11%2011%200%200%200%2011%2011c1.94%200%204.75-1.16%206.11-2.53l2.36-2.36a6.93%206.93%200%200%201%207.56-1.22l.84.43a8.08%208.08%200%200%201%204.13%206.66V47h35.02a6.1%206.1%200%200%200%204.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12%2012%200%200%201%20179%2028a13%2013%200%200%201%2013-13zM84.02%20143a6.1%206.1%200%200%200%204.87-3.03l.43-.84c.8-1.59.4-4-.85-5.24l-2.36-2.36A12%2012%200%200%201%2083%20124a13%2013%200%201%201%2026%200c0%202.47-1.37%205.79-3.11%207.53l-2.36%202.36a4.94%204.94%200%200%200-.85%205.24l.43.84a6.1%206.1%200%200%200%204.87%203.03H143v-35.02a8.08%208.08%200%200%201%204.13-6.66l.84-.43a6.91%206.91%200%200%201%207.56%201.22l2.36%202.36A10.06%2010.06%200%200%200%20164%20107a11%2011%200%200%200%200-22c-1.94%200-4.75%201.16-6.11%202.53l-2.36%202.36a6.93%206.93%200%200%201-7.56%201.22l-.84-.43a8.08%208.08%200%200%201-4.13-6.66V49h-35.02a6.1%206.1%200%200%200-4.87%203.03l-.43.84c-.79%201.58-.4%204%20.85%205.24l2.36%202.36a12.04%2012.04%200%200%201%203.11%207.51A13%2013%200%201%201%2083%2068a12%2012%200%200%201%203.11-7.53l2.36-2.36a4.93%204.93%200%200%200%20.85-5.24l-.43-.84A6.1%206.1%200%200%200%2084.02%2049H49v35.02a8.08%208.08%200%200%201-4.13%206.66l-.84.43a6.91%206.91%200%200%201-7.56-1.22l-2.36-2.36A10.06%2010.06%200%200%200%2028%2085a11%2011%200%200%200%200%2022c1.94%200%204.75-1.16%206.11-2.53l2.36-2.36a6.93%206.93%200%200%201%207.56-1.22l.84.43a8.08%208.08%200%200%201%204.13%206.66V143h35.02z%22%3E%3C%2Fpath%3E%0A%3C%2Fsvg%3E");
  background-position: var(--background-position);
}
.hero > * {
  max-width: 77.664rem;
  margin-left: auto;
  margin-right: auto;
}
.hero p {
  text-indent: 0;
}
.hero.island {
  margin: 0;
  margin-bottom: 25.888px;
}
@media screen and (min-width: calc(48rem + 25.888px)) {
  .hero.island {
    padding: 12% 16%;
  }
}
.hero button,
.hero .button,
.hero input[type="button"],
.hero input[type="submit"] {
  font-size: 125%;
}
@media screen and (min-width: calc(48rem + 25.888px)) {
  .hero {
    padding: 25.888px;
  }
}
@media screen and (min-width: calc(77.664rem + 25.888px)) {
  .hero {
    padding: 51.776px;
  }
}
.group,
.tray {
  padding: 0;
  margin: 0;
  margin-bottom: var(--margin-bottom);
  max-width: 29rem;
}
.group.border-radius > *:first-child {
  border-top-left-radius: var(--border-top-left-radius);
  border-top-right-radius: var(--border-top-right-radius);
}
.group.border-radius > *:last-child {
  border-bottom-left-radius: var(--border-bottom-left-radius);
  border-bottom-right-radius: var(--border-bottom-right-radius);
}
.group.border {
  border-width: 0;
}
ul.group.border,
ol.group.border {
  border-width: 1px;
}
.group.border > li {
  border-bottom: var(--border-bottom);
}
.group.border > li:last-child {
  border-bottom-width: 0;
}
.group.border button,
.group.border .button,
.group.border input[type="button"],
.group.border input[type="submit"] {
  border-width: 1px;
  border-style: solid;
  border-bottom-width: 0;
}
.group.border button:last-child,
.group.border .button:last-child,
.group.border input[type="button"]:last-child,
.group.border input[type="submit"]:last-child {
  border-bottom-width: 1px;
}
ul.group {
  list-style-type: none;
}
ol.group {
  list-style-position: inside;
}
.group li {
  border-bottom: var(--border-bottom);
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.group li:last-child {
  border-bottom: none;
}
.group button,
.group .button,
.group input[type="button"],
.group input[type="submit"] {
  display: block;
  width: 100%;
  max-width: none;
  margin-bottom: -1px;
  border-radius: 0;
}
.group button:last-child,
.group .button:last-child,
.group input[type="button"]:last-child,
.group input[type="submit"]:last-child {
  margin-bottom: 0;
  margin-top: -1px;
}
.bar,
.tray {
  position: relative;
  line-height: var(--line-height);
  line-height: 1.618;
  max-width: 100%;
  margin-left: 0;
  margin-right: 0;
  padding: 12.36093943px;
}
.bar .top,
.bar .bottom,
.bar .left,
.bar .right {
  float: left;
  position: absolute;
}
.bar > * {
  display: inline;
  width: auto;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}
.bar > *:first-child {
  margin-left: 0;
}
.bar > *:last-child {
  margin-right: 0;
}
.bar * {
  margin-bottom: 0 !important;
}
.bar button,
.bar .button,
.bar input[type="button"],
.bar input[type="submit"] {
  width: auto;
  display: inline;
  margin-bottom: 0;
  line-height: 1;
  padding: 12.36093943px;
}
.bar button:last-child,
.bar .button:last-child,
.bar input[type="button"]:last-child,
.bar input[type="submit"]:last-child {
  margin-top: 0;
}
.bar li {
  border-bottom: none;
  margin: 0;
  padding: 0;
}
.bar.border-radius > *:first-child {
  border-top-left-radius: var(--border-top-left-radius);
  border-bottom-left-radius: var(--border-bottom-left-radius);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.bar.border-radius > *:last-child {
  border-top-right-radius: var(--border-top-right-radius);
  border-bottom-right-radius: var(--border-bottom-right-radius);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.bar.group > * {
  margin-right: 0;
  margin-left: -1px;
}
.bar.group > *:first-child {
  margin-left: 0;
  margin-right: -1px;
}
.bar.group.border > * {
  border-bottom-width: 1px;
}
.feature {
  padding: 40px;
  font-size: 131%;
  line-height: 1.618;
}
.card {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  margin-bottom: var(--margin-bottom);
  background-color: white;
  color: #404040;
  border-color: #cccccc;
  position: relative;
  max-width: 29rem;
  overflow: hidden;
  line-height: 1.618;
}
.card > * {
  margin: 20px;
  margin-top: 0;
}
.card > *:last-child {
  margin-bottom: 20px;
}
.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  margin-top: 0.4em;
  margin-bottom: 0.6em;
}
.card .full-width {
  width: calc(100% - 40px);
}
.card .hero {
  width: calc(100% - 40px);
}
.card .bar {
  width: 100%;
}
.card .overlay {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  position: relative;
}
.card .overlay:last-child {
  margin-bottom: 0;
}
.card .overlay > * {
  position: absolute;
  padding: 20px;
}
.card .overlay img {
  position: relative;
  display: block;
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}
.card p {
  margin-bottom: 1em;
}
.card.action,
.card.reaction,
.card.info,
.card.warning,
.card.success,
.card.failure,
.card.default {
  padding: 0;
}
.card h1,
.card h2,
.card h3,
.card h4,
.card h5,
.card h6 {
  margin-bottom: 20px;
}
.card h1:first-child,
.card h2:first-child,
.card h3:first-child,
.card h4:first-child,
.card h5:first-child,
.card h6:first-child {
  margin: 0;
  margin-bottom: 20px;
  line-height: 1;
  padding-top: 0.18em;
  padding: var(--padding);
}
.matte {
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  padding: var(--padding);
  margin-bottom: var(--margin-bottom);
  background-color: #fcfdfd;
  color: #3f3f3f;
  border-color: #cacaca;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%224%22%20height%3D%224%22%20viewBox%3D%220%200%204%204%22%3E%3Cpath%20fill%3D%22rgb(237,238,238)%22%20d%3D%22M1%203h1v1H1V3zm2-2h1v1H3V1z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  background-position: var(--background-position);
}
.well {
  padding: var(--padding);
  border-radius: var(--border-radius);
  background-color: #ececec;
  color: #353535;
  border-color: #bdbdbd;
  background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%224%22%20height%3D%224%22%20viewBox%3D%220%200%204%204%22%3E%3Cpath%20fill%3D%22rgb(222,222,222)%22%20d%3D%22M1%203h1v1H1V3zm2-2h1v1H3V1z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
  background-position: var(--background-position);
  box-shadow: inset 0 0 9px rgba(48, 68, 66, 0.18304721);
}
.well.card {
  padding: 0;
}
.island {
  padding: var(--padding);
  margin: var(--margin);
}
@media screen and (min-width: calc(48rem + 25.888px)) {
  .island {
    margin: 16%;
  }
}
.badge {
  border-radius: var(--border-radius);
  line-height: inherit;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  vertical-align: middle;
  background-color: #b3cbb4;
  color: #1b1e1b;
  border-color: #8b9e8c;
  font-size: 12.36093943px;
}
.dropcap,
.copy.dropcap p:first-child {
  text-indent: 0;
}
.dropcap:first-letter,
.copy.dropcap p:first-child:first-letter {
  float: left;
  font-size: 4em;
  font-weight: bold;
  padding: 0.2em 0.2em 0.1em 0.2em;
  line-height: 4.2rem;
}
.copy {
  line-height: 1.85;
}
.copy p {
  text-indent: var(--text-indent);
  text-align: justify;
  text-align-last: left;
}
.copy.dropcap p:first-child:first-letter,
.copy.copy.dropcap p:first-child p:first-child:first-letter {
  line-height: 3.7;
  padding-left: 0;
}
@media screen and (min-width: calc(48rem + 25.888px)) {
  .copy.two-column {
    display: inherit;
    column-count: 2;
    column-gap: var(--column-gap);
  }
}
@media screen and (min-width: calc(77.664rem + 25.888px)) {
  .copy.three-column {
    display: inherit;
    column-count: 3;
    column-gap: var(--column-gap);
  }
}
.two-column > * {
  margin-bottom: 16px;
}
@media screen and (min-width: calc(48rem + 25.888px)) {
  .two-column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
}
.three-column > * {
  margin-bottom: 16px;
}
@media screen and (min-width: calc(48rem + 25.888px)) {
  .three-column {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}
.golden-column > * {
  margin-bottom: 16px;
}
@media screen and (min-width: calc(48rem + 25.888px)) {
  .golden-column {
    display: grid;
    grid-template-columns: 1.618fr 1fr;
    grid-gap: 20px;
  }
}
.inner-max-width {
  position: relative;
  padding-left: calc(50% - 24rem);
  padding-right: calc(50% - 24rem);
}
.inner-max-width .right {
  right: calc(50% - 24rem);
}
.inner-max-width .left {
  left: calc(50% - 24rem);
}
.inner-column-width {
  position: relative;
}
@media screen and (min-width: calc(48rem + 25.888px)) {
  .inner-column-width {
    padding-left: calc(50% - 24rem);
    padding-right: calc(50% - 24rem);
  }
  .inner-column-width .right {
    right: calc(50% - 24rem);
  }
  .inner-column-width .left {
    left: calc(50% - 24rem);
  }
}
.inner-page-width {
  position: relative;
  padding-left: 25.888px;
  padding-right: 25.888px;
}
@media screen and (min-width: calc(77.664rem + 25.888px)) {
  .inner-page-width {
    padding-left: calc(50% - 38.832rem);
    padding-right: calc(50% - 38.832rem);
  }
  .inner-page-width .right {
    right: calc(50% - 38.832rem);
  }
  .inner-page-width .left {
    left: calc(50% - 38.832rem);
  }
}
.big {
  font-size: 125%;
}
.small {
  font-size: 90%;
  line-height: 1.89rem;
}
.text-padding {
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
.block {
  display: block;
}
.inline {
  display: inline;
}
.table {
  display: table;
}
.flex {
  display: flex;
}
.grid {
  display: grid;
}
.inline-block {
  display: inline-block;
}
.static {
  position: static;
}
.absolute {
  position: absolute;
}
.relative {
  position: relative;
}
.fixed {
  position: fixed;
}
.transparent {
  color: inherit;
  position: ;
  background: transparent;
}
.float-right {
  float: right;
}
.float-left {
  float: left;
}
.margin-auto {
  margin: 0 auto;
}
.inset {
  box-shadow: inset 0 0 9px rgba(48, 68, 66, 0.18304721);
}
.ascii {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  padding-left: 1ch;
  padding-right: 1ch;
}
.text-align-center {
  text-align: center;
}
.text-align-left {
  text-align: left;
}
.text-align-right {
  text-align: right;
}
.text-align-justify {
  text-align: justify;
}
.hide,
.hidden {
  display: none !important;
}
.clearfix {
  clear: both;
}
.clearfix:after {
  display: block;
  clear: both;
  content: "";
}
.action {
  background-color: #57e5b1;
  color: #0f281f;
  border-color: #43b189;
}
.color-action {
  color: #2d775c;
}
.reaction {
  background-color: #f0c2d3;
  color: #2a2225;
  border-color: #ba97a4;
}
.color-reaction {
  color: #7d656e;
}
.info {
  background-color: #bfd0fd;
  color: #22242c;
  border-color: #94a1c4;
}
.color-info {
  color: #646c84;
}
.warning {
  background-color: #ffc862;
  color: #2d2311;
  border-color: #c69b4c;
}
.color-warning {
  color: #856833;
}
.success {
  background-color: #8bcf95;
  color: #111a13;
  border-color: #6ba073;
}
.color-success {
  color: #4e7453;
}
.failure {
  background-color: #e89a91;
  color: #060404;
  border-color: #b47771;
}
.color-failure {
  color: #905f5a;
}
.default {
  background-color: #b3cbb4;
  color: #1b1e1b;
  border-color: #8b9e8c;
}
.color-default {
  color: #616e61;
}
.red {
  background-color: #e89a91;
  color: #060404;
  border-color: #b47771;
}
.color-red {
  color: #905f5a;
}
.orange {
  background-color: #ffbb3c;
  color: #261c09;
  border-color: #c6912e;
}
.color-orange {
  color: #8a6520;
}
.yellow {
  background-color: #f4f526;
  color: #373709;
  border-color: #c3c41f;
}
.color-yellow {
  color: #6b6c11;
}
.olive {
  background-color: #93ae3a;
  color: #000000;
  border-color: #72872d;
}
.color-olive {
  color: #617326;
}
.green {
  background-color: #59bb68;
  color: #000000;
  border-color: #459150;
}
.color-green {
  color: #3b7b44;
}
.teal {
  background-color: #11c6c6;
  color: #010a0a;
  border-color: #0e9a99;
}
.color-teal {
  color: #0a7777;
}
.skyblue {
  background-color: #98d9ef;
  color: #1b262a;
  border-color: #76a8b9;
}
.color-skyblue {
  color: #4f717c;
}
.cyan {
  background-color: #11f1f1;
  color: #033030;
  border-color: #0ebbbb;
}
.color-cyan {
  color: #097978;
}
.blue {
  background-color: #9abcf2;
  color: #0f1318;
  border-color: #7891bc;
}
.color-blue {
  color: #596d8c;
}
.indigo {
  background-color: #a586ca;
  color: #000000;
  border-color: #7c6598;
}
.color-indigo {
  color: #7a6496;
}
.violet {
  background-color: #f2abf4;
  color: #241a25;
  border-color: #bc85bd;
}
.color-violet {
  color: #886088;
}
.magenta {
  background-color: #ff81ff;
  color: #0d060d;
  border-color: #c664c6;
}
.color-magenta {
  color: #994d99;
}
.purple {
  background-color: #c586ca;
  color: #000000;
  border-color: #98689c;
}
.color-purple {
  color: #8a5e8d;
}
.brown {
  background-color: #ba8060;
  color: #000000;
  border-color: #8b6048;
}
.color-brown {
  color: #91644b;
}
.pink {
  background-color: #ffc7d1;
  color: #33282a;
  border-color: #c69aa2;
}
.color-pink {
  color: #806468;
}
.lime {
  background-color: #11f926;
  color: #033208;
  border-color: #0ec11e;
}
.color-lime {
  color: #097c13;
}
.navy {
  background-color: #7885c9;
  color: #000000;
  border-color: #5a6497;
}
.color-navy {
  color: #606ba1;
}
.black {
  background-color: #304442;
  color: #f5f6f6;
  border-color: #192423;
}
.color-black {
  color: #2f4341;
}
.white {
  background-color: #fafafa;
  color: #3e3f3f;
  border-color: #c8c8c8;
}
.color-white {
  color: #696969;
}
.gray-lighter {
  background-color: #ececec;
  color: #353535;
  border-color: #bdbdbd;
}
.color-gray-lighter {
  color: #686868;
}
.gray-light {
  background-color: #bababa;
  color: #131313;
  border-color: #909090;
}
.color-gray-light {
  color: #6c6c6c;
}
.gray-medium {
  background-color: #959595;
  color: #000000;
  border-color: #707070;
}
.color-gray-medium {
  color: #6e6e6e;
}
.gray {
  background-color: #959595;
  color: #000000;
  border-color: #707070;
}
.color-gray {
  color: #6e6e6e;
}
.gray-dark {
  background-color: #686b6b;
  color: #ffffff;
  border-color: #4b4e4d;
}
.color-gray-dark {
  color: #666969;
}
.gray-darker {
  background-color: #2e3c3b;
  color: #eaeceb;
  border-color: #151b1a;
}
.color-gray-darker {
  color: #2d3b3a;
}
.no-padding {
  padding: 0;
}
.no-padding-top {
  padding-top: 0;
}
.no-padding-right {
  padding-right: 0;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.no-padding-left {
  padding-left: 0;
}
.no-margin {
  margin: 0;
}
.no-margin-top {
  margin-top: 0;
}
.no-margin-right {
  margin-right: 0;
}
.no-margin-bottom {
  margin-bottom: 0;
}
.no-margin-left {
  margin-left: 0;
}
.no-box-shadow,
.no-shadow,
.no-shadows,
.no-shadows * {
  box-shadow: unset;
}
.no-text-shadow,
.no-shadow,
.no-shadows,
.no-shadows * {
  text-shadow: unset;
}
.no-border {
  border: none;
}
.no-background {
  background: transparent;
}
.no-text-indent {
  text-indent: 0;
}
.no-text-align {
  text-align: initial;
}
.no-user-select {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.ambient {
  background-color: #b6fff8;
  color: #293938;
  border-color: #92ccc6;
}
.base-color {
  background-color: #57e5b1;
  color: #0f281f;
  border-color: #43b189;
}
.color-palette div {
  float: left;
  margin-right: 6.66666667px;
  margin-bottom: 6.66666667px;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
  width: 100%;
  border-width: var(--border-width);
  border-radius: var(--border-radius);
}
.color-palette div:last-child {
  clear: both;
}
.color-palette div:last-child:after {
  display: block;
  clear: both;
  content: "";
}
.less_logo {
  display: block;
  max-width: 100%;
  margin-right: 12px;
}
.powered-by {
  display: block;
  font-size: 90%;
  text-decoration: none;
  margin: 0 auto;
  max-width: 120px;
  padding: 10px;
  color: #22242c;
}
.logo {
  text-align: center;
  display: block;
  margin: 0 auto;
  max-width: 14rem;
}
.pattern-example {
  width: 100%;
  height: 400px;
  margin-bottom: var(--margin-bottom);
}
.pattern-example:after {
  background-color: #41ac85;
  color: #000000;
  border-color: #338567;
  padding: 0.18em 0.3236em 0.22em 0.3236em;
}
