body {
    font-family: var(--font-family);
    background-color: var(--background-color);
    color: #d1c7eb;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    background-color: #260586;
    color: #c3bade;
    border-color: #2b0b89;
    pattern-name: wiggle;
    background-image: url("data:image/svg+xml,%3Csvg%20width%3D%2252%22%20height%3D%2226%22%20viewBox%3D%220%200%2052%2026%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%3E%3Cg%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%3Cg%20fill%3D%22rgb(55,25,143)%22%3E%3Cpath%20d%3D%22M10%2010c0-2.21-1.79-4-4-4-3.314%200-6-2.686-6-6h2c0%202.21%201.79%204%204%204%203.314%200%206%202.686%206%206%200%202.21%201.79%204%204%204%203.314%200%206%202.686%206%206%200%202.21%201.79%204%204%204v2c-3.314%200-6-2.686-6-6%200-2.21-1.79-4-4-4-3.314%200-6-2.686-6-6zm25.464-1.95l8.486%208.486-1.414%201.414-8.486-8.486%201.414-1.414z%22%20%2F%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E");
    background-position: var(--background-position);
    font-size: 18px;
    line-height: 1.62;
  }
  @media screen and (min-width: calc(50rem + 56.63px)) {
    body {
      font-size: var(--font-size);
      line-height: var(--line-height);
    }
  }
  main {
    margin: 0 auto;
    margin-bottom: 56.63px;
  }
  nav {
    z-index: 99;
  }
  section {
    background-color: #ead7ee;
    color: #403b41;
    border-color: #e5d1e8;
    max-width: var(--max-width);
    padding: 10.5px;
    margin: 0 auto 56.63px auto;
  }
  @media screen and (min-width: calc(50rem + 56.63px)) {
    section {
      padding: 21px;
    }
  }
  @media screen and (min-width: calc(80.9rem + 56.63px)) {
    section {
      padding: 42px;
    }
  }
  aside {
    margin: 0 auto;
    margin-bottom: var(--margin-bottom);
    max-width: 30.90234858rem;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-family);
    font-weight: bold;
    margin-top: 1.618em;
    margin-bottom: 0.61804697em;
    letter-spacing: -0.025em;
    color: inherit;
    line-height: 1.618;
  }
  h1:first-child,
  h2:first-child,
  h3:first-child,
  h4:first-child,
  h5:first-child,
  h6:first-child {
    margin-top: 0;
  }
  h1 {
    font-size: 2.4em;
  }
  h1.feature {
    font-size: 3.144em;
  }
  h2 {
    font-size: 1.8em;
  }
  h2.feature {
    font-size: 2.358em;
  }
  h3 {
    font-size: 1.4em;
  }
  h3.feature {
    font-size: 1.834em;
  }
  h4 {
    font-size: 1.2em;
  }
  h4.feature {
    font-size: 1.572em;
  }
  h5 {
    font-size: 1.1em;
  }
  h5.feature {
    font-size: 1.441em;
  }
  h6 {
    font-size: 1em;
  }
  h6.feature {
    font-size: 1.31em;
  }
  p {
    margin-bottom: 1em;
  }
  p.gutter-bottom {
    margin-bottom: 1.618em;
  }
  p.action,
  p.reaction,
  p.info,
  p.warning,
  p.success,
  p.failure,
  p.default {
    padding: 0.18em 0.3236em 0.22em 0.3236em;
  }
  img {
    max-width: 100%;
    height: auto;
  }
  a {
    color: inherit;
    text-decoration: underline;
  }
  form {
    padding: 0.18em 0.3236em 0.22em 0.3236em;
  }
  input {
    font-family: var(--font-family);
    font-size: var(--font-size);
    line-height: var(--line-height);
    border: var(--border);
    border-radius: var(--border-radius);
    color: #2f2b30;
    padding: 0.18em 0.3236em 0.22em 0.3236em;
  }
  input:focus {
    box-shadow: 0 0 2px #6e83e9;
  }
  fieldset {
    border: none;
    outline: none;
  }
  ol {
    padding-left: 4ch;
    margin-bottom: var(--margin-bottom);
  }
  ol li {
    padding: 0.18em 0.3236em 0.22em 0.3236em;
  }
  ul {
    padding-left: 3ch;
    margin-left: var(--margin-left);
    margin-bottom: var(--margin-bottom);
  }
  kbd {
    background-color: #120734;
    color: #bebbc7;
    border-color: #180e3a;
    border-radius: var(--border-radius);
    padding: 0.18em 0.3236em 0.22em 0.3236em;
    white-space: nowrap;
  }
  b {
    padding: 0.18em 0 0.22em 0;
  }
  button,
  .button,
  input[type="button"],
  input[type="submit"] {
    border-style: var(--border-style);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    display: inline;
    font: inherit;
    padding: 0.61804697em;
    color: white;
    border-width: 0;
    border-color: #70578c;
    max-width: 30.90234858rem;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    background-color: #594670;
    background-image: none;
    outline: none;
    white-space: nowrap;
    text-decoration: none;
    touch-action: manipulation;
    cursor: pointer;
    transform: scale(1);
    transition: 0.08s linear;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
  }
  button:active,
  .button:active,
  input[type="button"]:active,
  input[type="submit"]:active {
    transform: scale(0.99);
    box-shadow: none;
  }
  button.border,
  .button.border,
  input[type="button"].border,
  input[type="submit"].border {
    border-width: 1px;
  }
  pre {
    overflow: hidden;
    padding: 0.18em 0.3236em 0.22em 0.3236em;
    box-shadow: inset 2px 2px 4px rgba(18, 7, 52, 0.24662328);
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    border-radius: var(--border-radius);
    background-color: #393645;
    color: #cecdd0;
    border-color: #3e3b4a;
    pattern-name: texture;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%224%22%20height%3D%224%22%20viewBox%3D%220%200%204%204%22%3E%3Cpath%20fill%3D%22rgb(67,63,78)%22%20d%3D%22M1%203h1v1H1V3zm2-2h1v1H3V1z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    background-position: var(--background-position);
  }
  pre > code {
    background: transparent;
    padding: 0;
  }
  code {
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    color: #e6e6e8;
    padding: 0.18em 0.3236em 0.22em 0.3236em;
    background-color: #393645;
    color: #cecdd0;
    border-color: #3e3b4a;
    pattern-name: texture;
    background-image: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%224%22%20height%3D%224%22%20viewBox%3D%220%200%204%204%22%3E%3Cpath%20fill%3D%22rgb(67,63,78)%22%20d%3D%22M1%203h1v1H1V3zm2-2h1v1H3V1z%22%3E%3C%2Fpath%3E%3C%2Fsvg%3E");
    background-position: var(--background-position);
  }
  code.terminal:before {
    content: "$ ";
    color: #c5ccea;
  }
  textarea {
    font-size: var(--font-size);
    font-family: var(--font-family);
    line-height: var(--line-height);
    border: var(--border);
    border-radius: var(--border-radius);
    margin-bottom: var(--margin-bottom);
    color: #2f2b30;
    padding: 0.18em 0.3236em 0.22em 0.3236em;
  }
  textarea:focus {
    box-shadow: 0 0 2px #6e83e9;
  }