:root {
    --base-color: #3207a6;
    --body-background: #3207a6;
    --main-background: #ead7ee;
    --action: #3207a6;
    --reaction: #303d0a;
    --info: #6e83e9;
    --warning: #ce7426;
    --success: #247f51;
    --failure: #9c2844;
    --default: #594670;
    --text-contrast: 7;
    --ambient: #7b14f4;
    --shadow-color: rgba(18, 7, 52, 0.24662328);
    --shadow-position: 2px 2px;
    --shadow-blur: 4px;
    --text-measure: 81;
    --text-padding: 0.18em 0.3236em 0.22em 0.3236em;
    --text-padding-top: 0.18em;
    --text-padding-right: 0.3236em;
    --text-padding-bottom: 0.22em;
    --text-padding-left: 0.3236em;
    --gutter: 56.63px;
    --page-width: 80.9rem;
    --aside-width: 30.90234858rem;
    --avatar-width: 10rem;
    --icon-width: 2.4rem;
    --full-width: 100%;
    --grid-width: 6.44503333rem;
    --tablet-width: calc(50rem + 56.63px);
    --desktop-width: calc(80.9rem + 56.63px);
    --red: #9c2844;
    --orangered: #bc2c25;
    --orange: #cd7325;
    --yellow: #d4b925;
    --lemon: #c5ba51;
    --olive: #626232;
    --drab: #74675c;
    --green: #1a5e3c;
    --teal: #005074;
    --aqua: #4f9da3;
    --cyan: #009dc0;
    --skyblue: #6790c9;
    --blue: #3049b4;
    --indigo: #4e009a;
    --violet: #b44ac0;
    --magenta: #a700b4;
    --purple: #6d0083;
    --brown: #562632;
    --pink: #c16797;
    --lime: #00b225;
    --navy: #0000b1;
    --black: #120734;
    --white: #ead7ee;
    --gray-lighter: #e4d7e7;
    --gray-light: #95919a;
    --gray-medium: #615f67;
    --gray: #615f67;
    --gray-dark: #48454e;
    --gray-darker: #393645;
    --background: #260586;
    --background-attachment: scroll;
    --background-clip: border-box;
    --background-color: #260586;
    --background-image: none;
    --background-origin: padding-box;
    --background-position: top center;
    --background-repeat: no-repeat;
    --background-size: auto;
    --border: 1px solid currentColor;
    --border-bottom: 1px solid currentColor;
    --border-bottom-color: currentColor;
    --border-bottom-left-radius: 1px;
    --border-bottom-right-radius: 1px;
    --border-bottom-style: solid;
    --border-bottom-width: 1px;
    --border-color: currentColor;
    --border-image: none;
    --border-image-outset: 0;
    --border-image-repeat: stretch;
    --border-image-slice: 100%;
    --border-image-source: none;
    --border-image-width: 1;
    --border-left: 1px solid currentColor;
    --border-left-color: currentColor;
    --border-left-style: solid;
    --border-left-width: 1px;
    --border-radius: 1px;
    --border-right: 1px solid currentColor;
    --border-right-color: currentColor;
    --border-right-style: solid;
    --border-right-width: 1px;
    --border-style: solid;
    --border-top: 1px solid currentColor;
    --border-top-color: currentColor;
    --border-top-left-radius: 1px;
    --border-top-right-radius: 1px;
    --border-top-style: solid;
    --border-top-width: 1px;
    --border-width: 1px;
    --color: #393645;
    --opacity: 1;
    --height: auto;
    --max-height: none;
    --max-width: 50rem;
    --min-height: 0;
    --min-width: 0;
    --width: auto;
    --content: normal;
    --quotes: inherit;
    --counter-reset: none;
    --counter-increment: none;
    --align-content: stretch;
    --align-items: stretch;
    --align-self: auto;
    --flex: 0 1 auto;
    --flex-basis: auto;
    --flex-direction: row;
    --flex-flow: row nowrap;
    --flex-grow: 0;
    --flex-shrink: 1;
    --flex-wrap: nowrap;
    --justify-content: flex-start;
    --order: 0;
    --font: normal normal normal 20px "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
    --font-family: "Helvetica Neue", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, sans-serif;
    --font-size: 20px;
    --font-size-adjust: none;
    --font-stretch: normal;
    --font-style: normal;
    --font-variant: normal;
    --font-weight: normal;
    --list-style: disc outside none;
    --list-style-image: none;
    --list-style-position: outside;
    --list-style-type: disc;
    --margin: 35px;
    --margin-bottom: 35px;
    --margin-left: 35px;
    --margin-right: 35px;
    --margin-top: 35px;
    --column-count: auto;
    --column-fill: balance;
    --column-gap: 1.9416em;
    --column-rule: 1px solid currentColor;
    --column-rule-color: currentColor;
    --column-rule-style: solid;
    --column-rule-width: 1px;
    --column-span: 2;
    --column-width: 50rem;
    --columns: 50rem auto;
    --outline: 1px solid currentColor;
    --outline-color: currentColor;
    --outline-offset: 0;
    --outline-style: solid;
    --outline-width: 1px;
    --padding: 21px;
    --padding-bottom: 21px;
    --padding-left: 21px;
    --padding-right: 21px;
    --padding-top: 21px;
    --page-break-after: auto;
    --page-break-before: auto;
    --page-break-inside: auto;
    --border-collapse: collapse;
    --border-spacing: 10.5px;
    --caption-side: left;
    --empty-cells: hide;
    --table-layout: auto;
    --direction: ltr;
    --tab-size: 2;
    --text-align: left;
    --text-align-last: left;
    --text-decoration: underline #594670 solid;
    --text-decoration-color: #594670;
    --text-decoration-line: underline;
    --text-decoration-style: solid;
    --text-indent: 2ch;
    --text-justify: justify;
    --text-overflow: hidden;
    --text-shadow: 2px 2px 4px rgba(18, 7, 52, 0.24662328);
    --text-transform: uppercase;
    --line-height: 1.8;
    --vertical-align: middle;
    --letter-spacing: 0;
    --word-spacing: normal;
    --white-space: nowrap;
    --word-break: break-all;
    --word-wrap: break-word;
    --backface-visibility: visible;
    --perspective: none;
    --perspective-origin: 50% 50%;
    --transform: none;
    --transform-origin: 50% 50% 0;
    --transform-style: flat;
    --transition: all 0s ease 0s;
    --transition-delay: 0s;
    --transition-duration: 0s;
    --transition-property: all;
    --transition-timing-function: ease;
    --display: block;
    --position: absolute;
    --top: 0;
    --right: 0;
    --bottom: 0;
    --left: 0;
    --float: left;
    --clear: both;
    --z-index: 10;
    --overflow: show;
    --overflow-x: show;
    --overflow-y: show;
    --resize: none;
    --clip: auto;
    --visibility: visible;
    --cursor: pointer;
    --box-shadow: 2px 2px 4px rgba(18, 7, 52, 0.24662328);
    --box-sizing: border-box;
  }
  * {
    margin: 0;
    padding: 0;
  }
  *,
  *:before,
  *:after {
    box-sizing: var(--box-sizing);
  }
  .background {
    background: var(--background);
  }
  .background-attachment {
    background-attachment: var(--background-attachment);
  }
  .background-clip {
    background-clip: var(--background-clip);
  }
  .background-color {
    background-color: var(--background-color);
  }
  .background-image {
    background-image: var(--background-image);
  }
  .background-origin {
    background-origin: var(--background-origin);
  }
  .background-position {
    background-position: var(--background-position);
  }
  .background-repeat {
    background-repeat: var(--background-repeat);
  }
  .background-size {
    background-size: var(--background-size);
  }
  .border {
    border: var(--border);
  }
  .border-bottom {
    border-bottom: var(--border-bottom);
  }
  .border-bottom-color {
    border-bottom-color: var(--border-bottom-color);
  }
  .border-bottom-left-radius {
    border-bottom-left-radius: var(--border-bottom-left-radius);
  }
  .border-bottom-right-radius {
    border-bottom-right-radius: var(--border-bottom-right-radius);
  }
  .border-bottom-style {
    border-bottom-style: var(--border-bottom-style);
  }
  .border-bottom-width {
    border-bottom-width: var(--border-bottom-width);
  }
  .border-color {
    border-color: var(--border-color);
  }
  .border-image {
    border-image: var(--border-image);
  }
  .border-image-outset {
    border-image-outset: var(--border-image-outset);
  }
  .border-image-repeat {
    border-image-repeat: var(--border-image-repeat);
  }
  .border-image-slice {
    border-image-slice: var(--border-image-slice);
  }
  .border-image-source {
    border-image-source: var(--border-image-source);
  }
  .border-image-width {
    border-image-width: var(--border-image-width);
  }
  .border-left {
    border-left: var(--border-left);
  }
  .border-left-color {
    border-left-color: var(--border-left-color);
  }
  .border-left-style {
    border-left-style: var(--border-left-style);
  }
  .border-left-width {
    border-left-width: var(--border-left-width);
  }
  .border-radius {
    border-radius: var(--border-radius);
  }
  .border-right {
    border-right: var(--border-right);
  }
  .border-right-color {
    border-right-color: var(--border-right-color);
  }
  .border-right-style {
    border-right-style: var(--border-right-style);
  }
  .border-right-width {
    border-right-width: var(--border-right-width);
  }
  .border-style {
    border-style: var(--border-style);
  }
  .border-top {
    border-top: var(--border-top);
  }
  .border-top-color {
    border-top-color: var(--border-top-color);
  }
  .border-top-left-radius {
    border-top-left-radius: var(--border-top-left-radius);
  }
  .border-top-right-radius {
    border-top-right-radius: var(--border-top-right-radius);
  }
  .border-top-style {
    border-top-style: var(--border-top-style);
  }
  .border-top-width {
    border-top-width: var(--border-top-width);
  }
  .border-width {
    border-width: var(--border-width);
  }
  .color {
    color: #c3bade;
    color: var(--color);
  }
  .opacity {
    opacity: var(--opacity);
  }
  .height {
    height: var(--height);
  }
  .max-height {
    max-height: var(--max-height);
  }
  .max-width {
    max-width: var(--max-width);
  }
  .min-height {
    min-height: var(--min-height);
  }
  .min-width {
    min-width: var(--min-width);
  }
  .width {
    width: var(--width);
  }
  .content {
    content: var(--content);
  }
  .quotes {
    quotes: var(--quotes);
  }
  .counter-reset {
    counter-reset: var(--counter-reset);
  }
  .counter-increment {
    counter-increment: var(--counter-increment);
  }
  .align-content {
    align-content: var(--align-content);
  }
  .align-items {
    align-items: var(--align-items);
  }
  .align-self {
    align-self: var(--align-self);
  }
  .flex {
    flex: var(--flex);
  }
  .flex-basis {
    flex-basis: var(--flex-basis);
  }
  .flex-direction {
    flex-direction: var(--flex-direction);
  }
  .flex-flow {
    flex-flow: var(--flex-flow);
  }
  .flex-grow {
    flex-grow: var(--flex-grow);
  }
  .flex-shrink {
    flex-shrink: var(--flex-shrink);
  }
  .flex-wrap {
    flex-wrap: var(--flex-wrap);
  }
  .justify-content {
    justify-content: var(--justify-content);
  }
  .order {
    order: var(--order);
  }
  .font {
    font: var(--font);
  }
  .font-family {
    font-family: var(--font-family);
  }
  .font-size {
    font-size: var(--font-size);
  }
  .font-size-adjust {
    font-size-adjust: var(--font-size-adjust);
  }
  .font-stretch {
    font-stretch: var(--font-stretch);
  }
  .font-style {
    font-style: var(--font-style);
  }
  .font-variant {
    font-variant: var(--font-variant);
  }
  .font-weight {
    font-weight: var(--font-weight);
  }
  .list-style {
    list-style: var(--list-style);
  }
  .list-style-image {
    list-style-image: var(--list-style-image);
  }
  .list-style-position {
    list-style-position: var(--list-style-position);
  }
  .list-style-type {
    list-style-type: var(--list-style-type);
  }
  .margin {
    margin: var(--margin);
  }
  .margin-bottom {
    margin-bottom: var(--margin-bottom);
  }
  .margin-left {
    margin-left: var(--margin-left);
  }
  .margin-right {
    margin-right: var(--margin-right);
  }
  .margin-top {
    margin-top: var(--margin-top);
  }
  .column-count {
    column-count: var(--column-count);
  }
  .column-fill {
    column-fill: var(--column-fill);
  }
  .column-gap {
    column-gap: var(--column-gap);
  }
  .column-rule {
    column-rule: var(--column-rule);
  }
  .column-rule-color {
    column-rule-color: var(--column-rule-color);
  }
  .column-rule-style {
    column-rule-style: var(--column-rule-style);
  }
  .column-rule-width {
    column-rule-width: var(--column-rule-width);
  }
  .column-span {
    column-span: var(--column-span);
  }
  .column-width {
    column-width: var(--column-width);
  }
  .columns {
    columns: var(--columns);
  }
  .outline {
    outline: var(--outline);
  }
  .outline-color {
    outline-color: var(--outline-color);
  }
  .outline-offset {
    outline-offset: var(--outline-offset);
  }
  .outline-style {
    outline-style: var(--outline-style);
  }
  .outline-width {
    outline-width: var(--outline-width);
  }
  .padding {
    padding: var(--padding);
  }
  .padding-bottom {
    padding-bottom: var(--padding-bottom);
  }
  .padding-left {
    padding-left: var(--padding-left);
  }
  .padding-right {
    padding-right: var(--padding-right);
  }
  .padding-top {
    padding-top: var(--padding-top);
  }
  .page-break-after {
    page-break-after: var(--page-break-after);
  }
  .page-break-before {
    page-break-before: var(--page-break-before);
  }
  .page-break-inside {
    page-break-inside: var(--page-break-inside);
  }
  .border-collapse {
    border-collapse: var(--border-collapse);
  }
  .border-spacing {
    border-spacing: var(--border-spacing);
  }
  .caption-side {
    caption-side: var(--caption-side);
  }
  .empty-cells {
    empty-cells: var(--empty-cells);
  }
  .table-layout {
    table-layout: var(--table-layout);
  }
  .direction {
    direction: var(--direction);
  }
  .tab-size {
    tab-size: var(--tab-size);
  }
  .text-align {
    text-align: var(--text-align);
  }
  .text-align-last {
    text-align-last: var(--text-align-last);
  }
  .text-decoration {
    text-decoration: var(--text-decoration);
  }
  .text-decoration-color {
    text-decoration-color: var(--text-decoration-color);
  }
  .text-decoration-line {
    text-decoration-line: var(--text-decoration-line);
  }
  .text-decoration-style {
    text-decoration-style: var(--text-decoration-style);
  }
  .text-indent {
    text-indent: var(--text-indent);
  }
  .text-justify {
    text-justify: var(--text-justify);
  }
  .text-overflow {
    text-overflow: var(--text-overflow);
  }
  .text-shadow {
    text-shadow: var(--text-shadow);
  }
  .text-transform {
    text-transform: var(--text-transform);
  }
  .line-height {
    line-height: var(--line-height);
  }
  .vertical-align {
    vertical-align: var(--vertical-align);
  }
  .letter-spacing {
    letter-spacing: var(--letter-spacing);
  }
  .word-spacing {
    word-spacing: var(--word-spacing);
  }
  .white-space {
    white-space: var(--white-space);
  }
  .word-break {
    word-break: var(--word-break);
  }
  .word-wrap {
    word-wrap: var(--word-wrap);
  }
  .backface-visibility {
    backface-visibility: var(--backface-visibility);
  }
  .perspective {
    perspective: var(--perspective);
  }
  .perspective-origin {
    perspective-origin: var(--perspective-origin);
  }
  .transform {
    transform: var(--transform);
  }
  .transform-origin {
    transform-origin: var(--transform-origin);
  }
  .transform-style {
    transform-style: var(--transform-style);
  }
  .transition {
    transition: var(--transition);
  }
  .transition-delay {
    transition-delay: var(--transition-delay);
  }
  .transition-duration {
    transition-duration: var(--transition-duration);
  }
  .transition-property {
    transition-property: var(--transition-property);
  }
  .transition-timing-function {
    transition-timing-function: var(--transition-timing-function);
  }