body {
    .default(font-family);
    background-color: @background;
    .contrast(color, @background);

    & when (@randomness = true) {
      .set-pattern() {
        @var: `Math.random()`;
        @length: length(@patterns-all);
        @random: floor(@var*@length);
        .pattern(extract(@patterns-all, @random));
      }
      .set-pattern();
    }

    & when (@randomness = false) {
      .pattern(bamboo);
    }
    
    background-attachment: fixed;
    padding-top: @padding;
    -webkit-overflow-scrolling: touch;
  
    font-size: @font-size * .8;
    line-height: @line-height * .8;

    .on-large-phone({
      font-size: @font-size * .9;
      line-height: @line-height * .9;
    });

    .on-tablet({
      padding-top: @gutter;
      .default(font-size);
      .default(line-height);
    });
  }
  