.button-elements({
    // .default(border);
    border: none;
    .default(border-radius);
    .default(font-size);
    .default(box-shadow);
  
    display: inline;
    font-family: inherit;
    padding: 1em / @golden-ratio;
    .button-color(@default);
    max-width: @aside-width;
    line-height: 1;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    outline: none;
    white-space: nowrap;
    text-decoration: none;
    touch-action: manipulation;
    cursor: pointer;
    transform: scale(1);
    transition: .08s linear;
    .no-user-select;

    &:active {
      transform: scale(.985);
      box-shadow: none;
    }

    .on-tablet({
      width: auto;
    });

    each(@semantic-color-names, {
      @color: @@value;
      &.@{value} { .button-color(@color);}
    });
});

.button-color(@color) {
  .contrast(color, @color);
  background: @color;

  // use white text unless the contrast would be too low

  .set-contrast-ceiling(@color);

  .color() when (@contrast-ceiling > 3) {
    color: white;
  }

  .color() when (default()) {
    .contrast(color; @color; 4.5; shade;);
  }

  .color();
  background-color: @color;
  // .pattern(texture; @color;);
  // .contrast(border-color; @color; 1.5; shade;);
}