code {
    @code-background: @gray-darker;
    @code-contrast-standard: @text-contrast;

    font-family: @font-family-monospace;
    .colorize(@code-background; @code-contrast-standard;);
    padding: @text-padding;
    .pattern(texture; @gray-darker;);

    each(@semantic-color-names, {
        @color: @@value;
        &.@{value}, & .@{value} {
            .color-text(@color; @code-background; @code-contrast-standard;);
            background: @code-background;
        }
    });
}


