form {
    padding: @text-padding;
}

input {
    .default(font-family, font-size, line-height);
    .default(border, border-radius);

    .contrast(color; @main-background; 9;);
    padding: @text-padding;

    &:focus {
        box-shadow: 0 0 2px @info;
    }
}