.headline-elements({
  .default(font-family);
  font-weight: bold;
  margin-top: 1em / @golden-ratio;
  margin-bottom: 1em / @golden-ratio;
  letter-spacing: -.025em;
  color: inherit;
  line-height: @golden-ratio;
  
  max-width: @max-width;
  width: 100%;

  // .semantic-classes({
  //   background: transparent;
  // });

  // each(@semantic-color-names, {
  //   @color: @@value;
  //   &.value { .color-text(@color, @main-background, 3);}
  // });

  p + &, aside + &, div + &, section + &, ul + &, ol + & {
    margin-top: 1.5em;
  }

  &:first-child {
    margin-top: 0;
  }
});

.headline-size(@size;) {
  font-size: @size;
}

h1 { .headline-size(2em)}
h2 { .headline-size(1.6em)}
h3 { .headline-size(1.4em)}
h4 { .headline-size(1.2em)}
h5 { .headline-size(1.1em)}
h6 { .headline-size(1em)}