p {
    margin-bottom: 1em;

    &:last-child {
        margin-bottom: 0;
    }

    .semantic-classes({
        padding: @text-padding;
    });

    // each(@semantic-color-names, {
    //     @color: @@value;
    //     &.@{value} {
    //         .set-lumafix(darken(@color, 5%); @strength: 50%;);
    //         border: 1px solid @lumafix;
    //     }
    // });
}