pre {
    .colorize(@gray-darker);
    overflow: hidden;
    padding: @text-padding;
    box-shadow: inset @box-shadow;
    font-family: @font-family-monospace;
    .default(border-radius);
    .pattern(texture; @gray-darker;);

    > code {
        background: transparent;
        padding: 0;
    }
}