pre {
    padding: @text-padding;
    font-family: @font-family-monospace;
    overflow: hidden;
    .default(border-radius);
    .contrast(color, @graphite);
    background-color: @graphite;

    &.white-space, &.word-break {
        white-space: pre-wrap;
    }

    > code {
        background: transparent;
        padding: 0;
    }
}