section {
    .colorize(@main-background);
    .default(max-width);

    padding: @padding/2;
    margin: 0 auto @gutter auto;

    .on-large-phone({
        padding: @padding;
    });

    .on-tablet({
        padding: @padding*2;
    });
}