.badge {
    .default(border-radius);
    line-height: inherit;
    padding: @text-padding;
    padding-right: @padding;
    padding-left: @padding;
    vertical-align: middle;
    .colorize(@default);
    border-radius: 99px;
}