.golden-column {
    > * {
        margin-bottom: @margin;
    }

    .on-tablet({
        display: grid;
        grid-template-columns: 1fr*@golden-ratio 1fr;
        grid-gap: @padding;

        &-reverse {
            grid-template-columns: 1fr 1fr*@golden-ratio;
        }
    });
}