.hero {
    @hero-background: @accent;
  
    .default(padding);
    min-height: 60vh;
    width: 100%;
    max-width: none;
    border-width: 0;
    box-shadow: inset @box-shadow;
  
    .set-bg() when (@randomness = true) {
        .set-pattern() {
            @random: `Math.random()`;
            @length: length(@patterns-all);
            @the-pattern: floor(@random*@length);
            .pattern(extract(@patterns-all, @the-pattern); @hero-background; 1.1;);
        }
        .set-pattern();
    }

    .set-bg() when (@randomness = false) {
        .pattern(topography; @hero-background; 1.05;);
    }

    .set-bg();
    .colorize(@hero-background; 7;);
  
    > * {
      max-width: @max-width * @golden-ratio;
      margin-left: auto;
      margin-right: auto;

      &:last-child {
          margin-bottom: 0;
      }
    }

    .button-elements({
        font-size: 125%;
    });

    .on-tablet({
        padding: @gutter;
    });
  }