.stack {
    // generically stacks images, buttons, inputs or lists

    padding: 0;
    margin: 0;
    .default(margin-bottom);
    max-width: @aside-width;

    > * {
        margin-bottom: @padding-bottom;
        &:extend(.full-width);

        &:last-child {
            margin-bottom: 0;
        }
    }

    ul& {
        list-style-type: none;
    }

    ol& {
        list-style-position: inside;
    }

    li {
        .default(border-bottom);
        padding: @text-padding;

        &:last-child {
            border-bottom: none;
        }
    }
}