.bar {
    position: relative;
    line-height: @golden-ratio;
    width: 100%;
    margin-left: 0;
    margin-right: 0;

    padding: @padding/@golden-ratio;

    .top, .bottom, .left, .right {
        position: absolute;
    }

    .top {
        top: @text-padding-top;
    }

    > * {
        display: inline;
        width: auto;
        margin-top: 0 !important;
        margin-bottom: 0 !important;
        // margin-right: @text-padding-right; // TODO: fix bar spacing

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    * {
        margin-right: @text-padding-right;
        margin-left: @text-padding-left;
        margin-bottom: 0 !important;
    }

    .button {
        width: auto;
        display: inline;
        margin-bottom: 0;
        line-height: 1;
        padding: @padding/@golden-ratio;

        &:last-child {
            margin-top: 0;
        }
    }

    li {
        border-bottom: none;
        margin: 0;
        padding: 0;
    }

    &.border-radius {
        & > *:first-child {
            .default(border-top-left-radius);
            .default(border-bottom-left-radius);
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }

        & > *:last-child {
            .default(border-top-right-radius);
            .default(border-bottom-right-radius);
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
        }
    }

    &.group {
        & > * {
            margin-right: 0;
            margin-left: -1px;

            &:first-child {
                margin-left: 0;
                margin-right: -1px;
            }
        }
    }

    &.group.border {
        & > * {
            border-bottom-width: @border-width;
        }
    }
}