.card {
    .default(margin-bottom);
    position: relative;
    max-width: @aside-width;
    overflow: hidden;
    line-height: @golden-ratio;

    > * {
        margin: @padding;
        margin-top: 0;

        &:last-child {
            margin-bottom: @padding;
        }
    }

    .headline-elements({
        margin-top: .4em;
        margin-bottom: .6em;
    });

    .full-width {
        @card-gutter: @padding*2;
        width: ~"calc(100% - @{card-gutter})";
    }

    .bar {
        width: 100%;
    }

    .overlay {
        margin-bottom: @padding;
    }

    p {
        margin-bottom: 1em;
    }

    .headline-elements({
        margin-bottom: @padding;
        &:first-child {
            margin: 0;
            margin-bottom: @padding;
            line-height: 1;
            padding-top: @text-padding-top;
            .default(padding);
        }
    });
}