.dropcap {
    text-indent: 0;

    &:first-letter {
        @size: 4em;
        float: left;
        font-size: @size;
        font-weight: bold;
        padding: .2em .2em .1em .2em;
        @height: unit(@size) / @golden-ratio;
        line-height: @line-height * 2;
    }
}