.feature {
    padding: @padding;
    line-height: 1.8;
    .default(margin-bottom);

    & > *:first-child {
        margin-top: 0;
    }

    .on-tablet({
        padding: @padding*1.5;
        font-size: 110%;
    });

    .on-desktop({
        padding: @padding*2.5;
        font-size: 120%;
    });
}