.golden-column {

    @golden-column-gap: @padding;

    > * {
        margin-bottom: @margin;
        max-width: none;
    }

    .on-tablet({
        display: grid;
        grid-template-columns: 1fr*@golden-ratio 1fr;
        grid-gap: @golden-column-gap;

        &.reverse {
            display: grid;
            grid-template-columns: 1fr 1fr*@golden-ratio;
            grid-gap: @golden-column-gap;
        }
    });
}