.group {
    // generically groups images, buttons, inputs or lists

    padding: 0;

    &.small {
        margin-bottom: @gutter;
    }

    &.border-radius {
        & > *:first-child {
            .default(border-top-left-radius);
            .default(border-top-right-radius);
        }

        & > *:last-child {
            .default(border-bottom-left-radius);
            .default(border-bottom-right-radius);
        }
    }

    &.padding {
        .default(padding);
    }

    &.border {
        border-width: 0;

        ul&, ol& {
            border-width: 1px;
        }

        > li {
            border-bottom: @border;

            &:last-child {
                border-bottom-width: 0;
            }
        }

        .button {
            border-width: 1px;
            border-style: solid;
            border-bottom-width: 0;

            &:last-child {
                border-bottom-width: @border-width;
            }
        }
    }

    ul& {
        list-style-type: none;
        margin-left: 0;
    }

    ol& {
        list-style-type: none;
        margin-left: 0;
    }

    li {
        .default(border-bottom);
        padding: @text-padding;

        &:last-child {
            border-bottom: none;
        }
    }

    a {
        text-decoration: none;
        padding: @text-padding;
    }

    .button {
        display: block;
        width: 100%;
        max-width: none;
        margin-bottom: -1px;
        border-radius: 0;

        &:last-child {
            margin-bottom: 0;
            margin-top: -1px;
        }
    }
}