.group {
    // generically groups images, buttons, inputs or lists

    padding: 0;
    margin: 0;
    .default(margin-bottom);
    max-width: @aside-width;

    &.border-radius {
        & > *:first-child {
            .default(border-top-left-radius);
            .default(border-top-right-radius);
        }

        & > *:last-child {
            .default(border-bottom-left-radius);
            .default(border-bottom-right-radius);
        }
    }

    &.padding {
        .default(padding);
    }

    &.border {
        border-width: 0;

        ul&, ol& {
            border-width: 1px;
        }

        > li {
            border-bottom: @border-width @border-style currentColor;

            &:last-child {
                border-bottom-width: 0;
            }
        }

        .button-elements({
            border-width: 1px;
            border-style: solid;
            border-bottom-width: 0;

            &:last-child {
                border-bottom-width: @border-width;
            }
        });
    }

    ul& {
        list-style-type: none;
    }

    ol& {
        list-style-position: inside;
    }

    li {
        .default(border-bottom);
        padding: @text-padding;

        &:last-child {
            border-bottom: none;
        }
    }

    .button-elements({
        display: block;
        width: 100%;
        max-width: none;
        margin-bottom: -1px;
        border-radius: 0;

        &:last-child {
            margin-bottom: 0;
            margin-top: -1px;
        }
    });
}