.two-column {
    .two-column();

    > * {
        margin-bottom: @margin;
    }

    &.mobile {
        & { display: initial;}
        .on-mobile({
            .two-column;
        });
    }

    &.tablet {
        & { display: initial;}
        .on-tablet({
            .two-column;
        });
    }

    &.desktop {
        & { display: initial;}
        .on-desktop({
            .two-column;
        });
    }
}

.two-column() {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: @padding;
}