.well {
    @well-background: @default;
    .default(border-radius);
    .default(padding);
    .default(margin-bottom);
    .colorize(@well-background);
    box-shadow: inset @box-shadow;

    &.card {
        padding: 0;
    }
}