.well {
    @well-background: @gray-lighter;
    .default(border-radius);
    .default(padding);
    .default(margin-bottom);
    .pattern(@well-pattern; @well-background;);
    box-shadow: inset @box-shadow;

    &.card {
        padding: 0;
    }
}