// makes any element into the given color

.colorize(@background; @colorize-contrast: @text-contrast; @property: color; @mode: auto;) {
    background-color: @background;
    .contrast(color; @background; @colorize-contrast;);
    .set-lumafix(@background; average(@gray, @gray-dark););
    border-color: @lumafix;

    .debug() when (@debug = true) {
        @luma: round(luma(@background), 2);
        &:after {
            content:"luma: @{luma}";
            background: black;
            color: white;
            padding: @text-padding;
        }
    }

    .debug();
}