// sets variable @tone to white or black
// depending on which is better for text contrast

@tint: white;
@shade: black;

.set-tone(@color) {
  @tone: contrast(@color, @shade, @tint, 50%);
}

.set-tone(@color, @compare) {
  @tone: if(luma(@color) > luma(@compare), @shade, @tint);
}