// averages a list of colors
// sets result to @average

.set-average(@color) when (iscolor(@color)) {
  @average: @color;
}

.set-average(@color) when (islist(@color)) {
  @average: red;
}

.set-average(@color1, @color2) {
  @average: average(@color1, @color2);
}