// averages a list of colors
// sets result to @average

.set-average(@colors) {
  @length: length(@colors);
  @average: red;
  
  & when (@length = 1) {
    @average: @colors;
  }

  & when (@length = 2) {
    @average: average(extract(@colors, 1), extract(@colors, 2));
  }
}