.set-contrast(
        @contrast-color: @main-background; 
        @contrast-standard: @text-contrast;
        @mode: auto;
        ) when (@mode = auto) {

    // sets variable @contrast to a contrastful version of 
    // @color that meets the @contrast-standard

    @iterations: 10;

    .set-tone(@contrast-color);
    @contrast: @tone;

    // @targets: range(1, @contrast-target, @contrast-target/@iterations);

    // .find-contrast(@contrast-ratio, @index) when (@index < @iterations) and (@contrast-ratio < @contrast-standard) {

    // }
}


.set-contrast(
        @contrast-color: @main-background; 
        @contrast-standard: @text-contrast;
        @mode;
        ) when (@mode = tint) {
            @contrast: white;
        }
    

.set-contrast(
    @contrast-color: @main-background; 
    @contrast-standard: @text-contrast;
    @mode;
    ) when (@mode = shade) {
        @contrast: black;
    }
