.set-contrast(
        @contrast-color: @main-background; 
        @contrast-standard: @text-contrast;
        @mode: auto;
        ) {

    // sets variable @contrast to a contrastful version of 
    // @contrast-color that meets the @contrast-standard

    @contrast: .set-tone(@contrast-color)[];
}