.set-black() {
    @base: black;
    @modifier: 1/24;
    .set-color-base(@base, @modifier);
    @black: @color-base;

    & when (@output-color-classes = true) {
        .black { .colorize(@black);}
    }
}

.set-black();