.set-color(@color-name, @base, @luma-modifier: 1/2, @ambient-modifier: 1) {
	// @base is the core of the color
	// @luma-modifier is how much it's lumafixed toward the theme
	.set-lumafix(@base; @strength: @color-strength*@luma-modifier;);
    @color: mix(@lumafix, overlay(@ambient, @lumafix), @ambient-mix*@ambient-modifier);

	.set-base-contrast-ceiling() {
		.set-contrast-ratio(@color, white);
		@base-contrast-ceiling: @contrast-ratio;
	}

	.set-base-contrast-ceiling();

	.set-distance(rgb(64, 129, 126), @color); // used for singling out colors
	@distance-threshold: 12000; 

	.l() {
		@compare: if((@base-contrast-ceiling < 3), black, white);

		.set-contrast-ceiling() {
			.set-contrast-ratio(lighten(@color, 16%), white);
			@contrast-ceiling: @contrast-ratio;
		}

		.output-color() when (@contrast-ceiling < 3)
						and not (@compare = black) {
			&.light { 
				color: black;
			}
		}

		.output-color() when (@contrast-ceiling >= 3)
						and not (@compare = white) {
			&.dark {
				color: white;
			}
		}
	
		.set-contrast-ceiling();
		.output-color();
	}

	.d() {
		@compare: if((@base-contrast-ceiling < 3), black, white);

		.set-contrast-ceiling() {
			.set-contrast-ratio(darken(@color, 16%), white);
			@contrast-ceiling: @contrast-ratio;
		}

		.output-color() when (@contrast-ceiling < 3)
		and not (@compare = black) {
			&.light { 
				color: black;
			}
		}

		.output-color() when (@contrast-ceiling >= 3)
		and not (@compare = white) {
			&.dark {
				color: white;
			}
		}
	
		.set-contrast-ceiling();
		.output-color();
	}

	& when (@output-color-classes = true) 
	and (@base-contrast-ceiling < 3) 
	and (@distance < @distance-threshold) {
        .@{color-name} { 
			color: black; 
			background: @color;

			.l();
			.d();
		}
	}

	& when (@output-color-classes = true) 
	and (@base-contrast-ceiling >= 3)
	and (@distance < @distance-threshold) {
        .@{color-name} { 
			color: white; 
			background: @color;

			.l();
			.d();
		}
	}
}

// used in building other colors
// @import "white";
// @import "black";
@import "ambient";
@white: mix(white, @base-color, 94%);
@black: mix(black, @base-color, 75%);

.white {.contrast(color, @white); background: @white;}
.black {.contrast(color, @black); background: @black;}

// color wheel colors
@import "red";
@import "orange";
@import "yellow";
@import "olive";
@import "green";
@import "teal";
@import "cyan";
@import "skyblue";
@import "blue";
@import "indigo";
@import "purple";
@import "violet";

// default colors
@import "gray";
@import "brown";
@import "magenta";
@import "lavender";
@import "cream";
@import "charcoal";
@import "crimson";
@import "clover";
@import "cobalt";
@import "graphite";
@import "ruby";
@import "onyx";
@import "pewter";
@import "gunmetal";
@import "hotpink";
@import "neongreen";
@import "electricblue";
@import "royalpurple";

// semantic colors
@import "action";
@import "reaction";
@import "info";
@import "warning";
@import "success";
@import "failure";
@import "default";

// expanded colors
// @import "lime";
// @import "navy";
// @import "drab";
// @import "lemon";
// @import "aquamarine";
// @import "charcoal";
// @import "crimson";
// @import "clover";
// @import "iron";
// @import "lavender";
// @import "salmon";
// @import "khaki";
// @import "gold";
// @import "silver";
// @import "bronze";
// @import "cobalt";
// @import "copper";
// @import "coral";
// @import "peach";
// @import "turquoise";
// @import "midnight";
// @import "ultramarine";
// @import "army";
// @import "tangerine";
// @import "scarlet";
// @import "pink";
// @import "cornhusk";
// @import "seagreen";
// @import "grapefruit";
// @import "plum";
// @import "seafoam";
// @import "mist";
// @import "snow";
// @import "twilight";
// @import "platinum";
// @import "bacon";
// @import "steel";
// @import "slate";
// @import "mint";
// @import "wheat";
// @import "graphite";
// @import "goldenrod";
// @import "periwinkle";
// @import "sand";
// @import "chocolate";
// @import "vanilla";
// @import "strawberry";
// @import "olivedrab";
// @import "evergreen";
// @import "sunset";
// @import "moonlight";
// @import "sapphire";
// @import "emerald";
// @import "garnet";
// @import "amethyst";
// @import "lily";
// @import "nightshade";
// @import "raspberry";
// @import "blueberry";
// @import "blackberry";
// @import "cranberry";
// @import "barnred";
// @import "saddlebrown";
// @import "bubbles";
// @import "steam";
// @import "manganese";
// @import "sandstone";
// @import "granite";
// @import "clay";
// @import "cinnamon";
// @import "pumpkin";
// @import "eggplant";
// @import "butter";
// @import "sunflower";
// @import "rust";
// @import "leafgreen";
// @import "rose";
// @import "lilac";
// @import "raven";
// @import "flamingo";
// @import "robin";
// @import "bluejay";
// @import "mango";
// @import "coconut";
// @import "kiwi";
// @import "banana";

// denim
// canvas
// velvet
// wool

// reno 
// chicago
// fargo
// minnesota


// moss
// parsley
// honey
// periwinkle