.set-cream() {
    .set-average(mintcream, beige, white;);
    @base: @average;
    @modifier: 1/6;
    .set-color(cream, @base, @modifier);
    @cream: @color;

    & when (@output-color-classes = true) {
        .cream { .colorize(@cream);}
    }
}

.set-cream();