.set-crimson() {
    @base: average(crimson, darkred);
    @modifier: 1/5;
    @ambient: 1.1;
    
    .set-color-base(@base, @modifier, @ambient);
    @crimson: @color-base;

    & when (@output-color-classes = true) {
        .crimson { .colorize(@crimson);}
    }
}

.set-crimson();