.set-cyan() {
    @base: cyan;
    @modifier: 1/2;
    .set-color(~"cyan", @base, @modifier);
    @cyan: @color;

    & when (@output-color-classes = true) {
        .cyan { .colorize(@cyan);}
    }
}

.set-cyan();