// even more named colors
// these work like semantic colors, but without the semantic meaning 

@base: @base-color;
@color-strength: 65% + 30%*(unit(luma(@base))/100);

.set-extended-colors();

.set-extended-colors() {
    .set-red();
    .set-orange();
    .set-yellow();
    .set-olive();
    .set-green();
    .set-teal();
    .set-cyan();
    .set-skyblue();
    .set-blue();
    .set-indigo();
    .set-violet();
    .set-magenta();
    .set-purple();
    .set-pink();
    .set-brown();
}

.set-lighter(@color) {
    .set-contrast-ceiling(@color);
    .set-contrast(@color; @contrast-ceiling/2; @mode: tint;);
    @lighter: @contrast;
}
.set-light(@color) {
    .set-contrast-ceiling(@color);
    .set-contrast(@color; @contrast-ceiling/3; @mode: tint;);
    @light: @contrast;
}
.set-darker(@color) {
    .set-contrast-ceiling(@color);
    .set-contrast(@color; @contrast-ceiling/2; @mode: shade;);
    @darker: @contrast;
}
.set-dark(@color) {
    .set-contrast-ceiling(@color);
    .set-contrast(@color; @contrast-ceiling/3; @mode: shade;);
    @dark: @contrast;
}

.set-red() {
    @base: crimson;
    .set-lumafix(@base; @strength: @color-strength*(2/3););
    @red: @lumafix;
}

.set-orange() {
    @base: orange;
    .set-lumafix(@base; @strength: @color-strength/3;);
    @orange: @lumafix;
}

.set-yellow() {
    @base: yellow;
    .set-lumafix(@base; @strength: @color-strength/4;);
    @yellow: @lumafix;
}

.set-olive() {
    @base: average(olive, olivedrab);
    .set-lumafix(@base; @strength: @color-strength/2;);
    @olive: @lumafix;
}

.set-green() {
    @base: forestgreen;
    .set-lumafix(@base; @strength: @color-strength*(2/3););
    @green: @lumafix;
}

.set-teal() {
    @base: teal;
    .set-lumafix(@base; @strength: @color-strength*(2/3););
    @teal: @lumafix;
}

.set-cyan() {
    @base: cyan;
    .set-lumafix(@base; @strength: @color-strength/2;);
    @cyan: @lumafix;
}

.set-skyblue() {
    @base: lightskyblue;
    .set-lumafix(@base; @strength: @color-strength/2;);
    @skyblue: @lumafix;
}

.set-blue() {
    @base: average(cornflowerblue, royalblue);
    .set-lumafix(@base; @strength: @color-strength;);
    @blue: @lumafix;
}

.set-indigo() {
    @base: indigo;
    .set-lumafix(@base; @strength: @color-strength*(2/3););
    @indigo: @lumafix;
}

.set-violet() {
    @base: violet;
    .set-lumafix(@base; @strength: @color-strength/2;);
    @violet: @lumafix;
}

.set-magenta() {
    @base: magenta;
    .set-lumafix(@base; @strength: @color-strength*(2/3););
    @magenta: @lumafix;
}

.set-pink() {
    @base: pink;
    .set-lumafix(@base; @strength: @color-strength/3;);
    @pink: @lumafix;
}

.set-purple() {
    @base: purple;
    .set-lumafix(@base; @strength: @color-strength;);
    @purple: @lumafix;
}

.set-brown() {
    @base: sienna;
    .set-lumafix(@base; @strength: @color-strength*(2/3););
    @brown: @lumafix;
}


@extended-colors: @red, @orange, @yellow, @olive, @green, @teal, @skyblue, @cyan, @blue, @indigo, @violet, @magenta, @purple, @pink, @brown;
@extended-color-names: ~"red", ~"orange", ~"yellow", ~"olive", ~"green", ~"teal", ~"skyblue", ~"cyan", ~"blue", ~"indigo", ~"violet", ~"magenta", ~"purple", ~"pink", ~"brown";