// even more named colors
// these work like semantic colors, but without the semantic meaning 

@extended-colors: @red, @orange, @yellow, @olive, @green, @teal, @blue, @indigo, @violet, @purple, @pink, @white, @black, @brown;
@extended-color-names: ~"red", ~"orange", ~"yellow", ~"olive", ~"green", ~"teal", ~"blue", ~"indigo", ~"violet", ~"purple", ~"pink", ~"white", ~"black", ~"brown";

@base: @base-color;
@color-strength: 50% + 33%*(unit(luma(@base))/100);

.set-extended-colors();

.set-extended-colors() {
    .set-red();
    .set-orange();
    .set-yellow();
    .set-olive();
    .set-green();
    .set-teal();
    .set-blue();
    .set-indigo();
    .set-violet();
    .set-purple();
    .set-pink();
    .set-brown();
}

.set-red() {
    @base: crimson;
    .set-lumafix(@base; @strength: @color-strength*(5/6););
    @red: @lumafix;
    @var-red: @lumafix;
}

.set-orange() {
    @base: orange;
    .set-lumafix(@base; @strength: @color-strength/2;);
    @orange: @lumafix;
    @var-orange: @lumafix;
}

.set-yellow() {
    @base: yellow;
    .set-lumafix(@base; @strength: @color-strength/3;);
    @yellow: @lumafix;
    @var-yellow: @lumafix;
}

.set-olive() {
    @base: olive;
    .set-lumafix(@base; @strength: @color-strength/2;);
    @olive: @lumafix;
    @var-olive: @lumafix;
}

.set-green() {
    @base: forestgreen;
    .set-lumafix(@base; @strength: @color-strength;);
    @green: @lumafix;
    @var-green: @lumafix;
}

.set-teal() {
    @base: teal;
    .set-lumafix(@base; @strength: @color-strength;);
    @blue: @lumafix;
    @var-teal: @lumafix;
}

.set-blue() {
    @base: royalblue;
    .set-lumafix(@base; @strength: @color-strength*(2/3););
    @blue: @lumafix;
    @var-blue: @lumafix;
}

.set-indigo() {
    @base: indigo;
    .set-lumafix(@base; @strength: @color-strength*(2/3););
    @indigo: @lumafix;
    @var-indigo: @lumafix;
}

.set-violet() {
    @base: violet;
    .set-lumafix(@base; @strength: @color-strength;);
    @violet: @lumafix;
    @var-violet: @lumafix;
}

.set-pink() {
    @base: pink;
    .set-lumafix(@base; @strength: @color-strength/3;);
    @pink: @lumafix;
    @var-pink: @lumafix;
}

.set-purple() {
    @base: purple;
    .set-lumafix(@base; @strength: @color-strength;);
    @purple: @lumafix;
    @var-purple: @lumafix;
}

.set-brown() {
    @base: sienna;
    .set-lumafix(@base; @strength: @color-strength/2;);
    @brown: @lumafix;
    @var-brown: @lumafix;
}
