@failure-action: contrast(@action, @red, @purple, 30%);
@failure-reaction: contrast(@reaction, @red, @crimson, 30%);

@failure: contrast(@base-color, @failure-reaction, @failure-action, 50%);

.failure { .colorize(@failure);}