@failure-action: contrast(@action, @red, @purple, 70%);
@failure-reaction: contrast(@reaction, @red, @crimson, 70%);

@failure: contrast(@base-color, @failure-reaction, @failure-action, 50%);

.failure { .colorize(@failure);}