.set-graphite() {
    .set-average(black, black, navy, gray, darkslategray, dimgray;);
    @base: @average;
    @modifier: 1/6;
    .set-color(graphite, @base, @modifier, 1.1);
    @graphite: @color;
}

.set-graphite();