@gray-mix: 30%;
@gray-base: desaturate(@base-color, 85%);
@gray-medium: mix(lighten(black, 50%), @gray-base, @gray-mix);
@gray: @gray-medium;

.set-white();
.set-gray-lighter();
.set-gray-light();

.set-black();
.set-gray-darker();
.set-gray-dark();

.set-white() {
  @white-mix: 90% + luma(@base-color)/10;
  @white: mix(white, @gray-medium, @white-mix);
}

.set-black() {
  @black-mix: 90% + luma(@base-color)/10;
  @black: mix(black, @gray-medium, @black-mix);
}

.set-gray-lighter() {
  .set-contrast-ceiling(@gray-base);
  .set-contrast(@gray-base; @contrast-ceiling*.92; @mode: tint;);
  @gray-lighter-base: @contrast;
  @gray-lighter: mix(lighten(black, 84%), @gray-lighter-base, @gray-mix);
}

.set-gray-light() {
  @gray-light-base: mix(@gray-base, @gray-lighter, 67%);
  @gray-light: mix(lighten(black, 75%), @gray-light-base, @gray-mix);
}

.set-gray-dark() {
  @gray-dark-base: mix(@gray-base, @gray-darker, 67%);
  @gray-dark: mix(lighten(black, 25%), @gray-dark-base, @gray-mix);
}

.set-gray-darker() {
  .set-contrast-floor(@gray-base);
  .set-contrast(@gray-base; @contrast-floor*.62; @mode: shade;);
  @gray-darker-base: @contrast;
  @gray-darker: mix(lighten(black, 16%), @gray-darker-base, @gray-mix);
}


@grey-lighter: @gray-lighter;
@grey-light: @gray-light;
@grey-medium: @gray-medium;
@grey: @gray;
@grey-dark: @gray-dark;
@grey-darker: @gray-darker;