.set-indigo() {
    @base: indigo;
    @modifier: 1/3;
    .set-color-base(@base, @modifier);
    @indigo: @color-base;

    & when (@output-color-classes = true) {
        .indigo { .colorize(@indigo);}
    }
}

.set-indigo();