.set-indigo() {
    @base: indigo;
    @modifier: 1/4;
    .set-color(~"indigo", @base, @modifier);
    @indigo: @color;

    & when (@output-color-classes = true) {
        .indigo { .colorize(@indigo);}
    }
}

.set-indigo();