.set-orange() {
    @base: orange;
    @modifier: 1/4;
    .set-color-base(@base, @modifier);
    @orange: @color-base;

    & when (@output-color-classes = true) {
        .orange { .colorize(@orange);}
    }
}

.set-orange();