.set-orange() {
    @base: orange;
    @modifier: 1/4;
    .set-color(~"orange", @base, @modifier);
    @orange: @color;

    & when (@output-color-classes = true) {
        .orange { .colorize(@orange);}
    }
}

.set-orange();