.set-purple() {
    @base: purple;
    @modifier: 1/2;
    .set-color(~"purple", @base, @modifier);
    @purple: @color;

    & when (@output-color-classes = true) {
        .purple { .colorize(@purple);}
    }
}

.set-purple();