.set-red() {
    @base: red;
    @modifier: 1/4;
    .set-color-base(@base, @modifier);
    @red: @color-base;

    & when (@output-color-classes = true) {
        .red { .colorize(@red);}
    }
}

.set-red();