.set-color-bases();

// TODO: remove turbo

@faux-simple-color-wheel: 
		@red,
		@orange,
		@yellow,
		@olive,
		@green,
		@teal,
		@cyan,
		@skyblue,
		@blue,
		@indigo,
		@purple,
		@violet;

@faux-color-wheel: 
		@red,
		average(@red, @orange),
		@orange,
		average(@orange, @yellow),
		@yellow,
		average(@yellow, @olive),
		@olive,
		average(@olive, @green),
		@green,
		average(@green, @teal),
		@teal,
		average(@teal, @cyan),
		@cyan,
		average(@cyan, @skyblue),
		@skyblue,
		average(@skyblue, @blue),
		@blue,
		average(@blue, @indigo),
		@indigo,
		average(@indigo, @purple),
		@purple,
		average(@purple, @violet),
		@violet,
		average(@violet, @red);

.set-color-bases() {

	@offset: 3;

	@action-base: @base-color;

	.set-rep-color(@color; @faux-color-wheel;);
	
	@number: @rep-color-number;

	// 0 	0
	// 64	6
	// 128	12
	// 192	18
	// 256 	24

	.set-bases();

	.set-bases() when (@number >= 18) {
		@reaction-base: extract(@faux-color-wheel, @number - 12);
		@alt-base: extract(@faux-color-wheel, @number - @offset*2);
		@info-base: extract(@faux-color-wheel, @number - @offset);
	}

	.set-bases() when (@number > 12) and (@number < 18) {
		@reaction-base: extract(@faux-color-wheel, @number - 12);
		@alt-base: extract(@faux-color-wheel, @number - @offset*2);
		@info-base: extract(@faux-color-wheel, @number - @offset);
	}

	.set-bases() when (@number > 6) and (@number <= 12) {
		@reaction-base: extract(@faux-color-wheel, @number + 12);
		@alt-base: extract(@faux-color-wheel, @number + @offset*2);
		@info-base: extract(@faux-color-wheel, @number + @offset);
	}

	.set-bases() when (@number <= 6) {
		@reaction-base: extract(@faux-color-wheel, @number + 12);
		@alt-base: extract(@faux-color-wheel, @number + @offset*2);
		@info-base: extract(@faux-color-wheel, @number + @offset);
	}

	.set-action();
	.set-reaction();
	.set-success();
	.set-warning();
	.set-info();
	.set-failure();
	.set-alternate();
	.set-default();
}

.set-action() {
	// action means "do something," it's great for submit buttons
	// it's usually pretty close to the base color 

	.set-lumafix(@action-base);
	@action: @lumafix;
}

.set-action() when (@base-color = white) { @action: white;}
.set-action() when (@base-color = black) { @action: black;}

.set-reaction() {
	// reaction is for responding, usually after an action
	// a good second step or confirmation color 
	// reaction is typically close to being a complement of action 

	.set-lumafix(@reaction-base; @strength: 75%;);
    @reaction: @lumafix;
}

.set-reaction() when (@base-color = white) { @reaction: black;}
.set-reaction() when (@base-color = black) { @reaction: white;}

.set-alternate() {

	.set-lumafix(@alt-alt-base; @strength: 50%);
	@alt-alt-base: spin(@alt-base, 180);
	@alt-alt: @lumafix;

	.set-distance-info() {
		.set-distance(@alt-base, @info-base);
		@distance-info: @distance;
	}

	.set-distance-success() {
		.set-distance(@alt-base, @success-base);
		@distance-success: @distance;
	}

	.set-alternate-base() {
		@alternate-base: @alt-base;
		@alternate-was-alternate: false;
	}

	.set-alternate-base() when (@distance-info < 100) or (@distance-success < 100) {
		@alternate-base: @alt-alt;
		@alternate-was-alternate: true;
	}

	.set-alternate-final() {
		.set-lumafix(@alternate-base; @strength: 67%;);
		@alternate: @lumafix;
	}

	.set-distance-info();
	.set-distance-success();
	.set-alternate-base();
	.set-alternate-final();
}

.set-alternate() when (@base-color = white) or (@base-color = black) { @alternate: average(white, black);}

.set-warning() {
	// warning is a high urgency version of its pairing, info
	// its orange/yellow is a complement to info's teal/blue
	// remember: warning comes before the failure, failure after

	@warning-orange: orange;
	@warning-yellow: yellow;

	.set-distance-action() {
		.set-distance(@warning-orange, @action-base);
		@distance-action: @distance;
	}

	.set-distance-reaction() {
		.set-distance(@warning-orange, @reaction-base);
		@distance-reaction: @distance;
	}

	.set-warning-base() when (@distance-action < 70) or (@distance-reaction < 70) {
		@warning-base: @warning-yellow;
		@warning-was-yellow: true;
	}

	.set-warning-base() when (default()) {
		@warning-base: @warning-orange;
		@warning-was-yellow: false;
	}

	.set-warning-final() when (@warning-was-yellow = true) {
		.set-lumafix(@warning-base; @strength: 12%;);
		@warning: mix(@warning-base, @lumafix, 12%);
	}

	.set-warning-final() when (default()) {
		.set-lumafix(@warning-base; @strength: 24%;);
		@warning: @lumafix;
	}

	.set-distance-action();
	.set-distance-reaction();
	.set-warning-base();
	.set-warning-final();
}

.set-success() {
	// success indicates that an action worked or a positive response came through
	// its green tells users they're good to go 

	@success-green: green;
	@success-lightgreen: chartreuse;

	.set-distance-action() {
		.set-distance(@success-green, @action-base);
		@distance-action: @distance;
	}

	.set-distance-reaction() {
		.set-distance(@success-green, @reaction-base);
		@distance-reaction: @distance;
	}

	.set-success-base() when (@distance-action < 100) or (@distance-reaction < 100) {
		@success-base: @success-lightgreen;
	}

	.set-success-base() when (default()) {
		@success-base: @success-green;
	}

	.set-success-final() {
		.set-lumafix(@success-base, @strength: 75%);
		@success: @lumafix;
	}

	.set-distance-action();
	.set-distance-reaction();

	.set-success-base();

	.set-success-final();
}

.set-failure() {
	// success's opposite and complement, failure's red tells the user something is wrong 
	// good for negative server responses, missing info, or drawing attention to faults

	@failure-red: tomato;
	@failuredarkred: crimson;

	.set-distance-action() {
		.set-distance(@failure-red, @action-base);
		@distance-action: @distance;
	}

	.set-distance-reaction() {
		.set-distance(@failure-red, @reaction-base);
		@distance-reaction: @distance;
	}

	.set-failure-base() when (@distance-action < 100) or (@distance-reaction < 100) {
		@failure-base: @failuredarkred;
	}

	.set-failure-base() when (default()) {
		@failure-base: @failure-red;
	}

	.set-failure-final() when (luma(@base-color) > 50%) {
		.set-lumafix(@failure-base, @success, 90%);
		@failure: @lumafix;
	}

	.set-failure-final() when (default()) {
		.set-lumafix(@failure-base, @success, 80%);
		@failure: @lumafix;
	}

	.set-distance-action();
	.set-distance-reaction();

	.set-failure-base();

	.set-failure-final();
}

.set-info() {
	// info is meant to be used sparingly with @action, @reaction and @alternate 
	// its extra saturation and lightness is good for drawing attention, like
	// a less urgent warning

	.set-lumafix(@alt-info-base; @strength: 50%);
	@alt-info-base: spin(@info-base, 180);
	@alt-info: @lumafix;

	.set-distance-warning() {
		.set-distance(@info-base, @warning-base);
		@distance-warning: @distance;
	}

	.set-distance-success() {
		.set-distance(@info-base, @success-base);
		@distance-success: @distance;
	}

	.set-new-info-base() {
		@new-info-base: @info-base;
		@info-was-alternate: false;
	}

	.set-new-info-base() when (@distance-warning < 150) or (@distance-success < 150) {
		@new-info-base: @alt-info;
		@info-was-alternate: true;
	}

	.set-info-final() {
		@bright-info-base: saturate(lighten(@new-info-base, 5%), 5%);
		.set-lumafix(@bright-info-base; @strength: 50%;);
		@info: @lumafix;
	}

	.set-distance-warning();
	.set-distance-success();
	.set-new-info-base();
	.set-info-final();
}

.set-default() {
	// default is an average of all of the other semantic colors
	// it functions as a plain, neutral color within a theme-- a good default

	.set-average(@action, @reaction, @alternate, @info, @warning, @success, @failure;);
	@default: @average;
}