.set-skyblue() {
    @base: skyblue;
    @modifier: 1/2;
    .set-color(~"skyblue", @base, @modifier);
    @skyblue: @color;

    & when (@output-color-classes = true) {
        .skyblue { .colorize(@skyblue);}
    }
}

.set-skyblue();