@success-reaction: contrast(@reaction, @green, @blue, 40%);
@success-info: contrast(@info, @green, @clover, 30%);

@success: contrast(@base-color, @success-info, @success-reaction, 50%);

.success { .colorize(@success);}