.set-teal() {
    @base: teal;
    @modifier: 1/2;
    .set-color(~"teal", @base, @modifier);
    @teal: @color;

    & when (@output-color-classes = true) {
        .teal { .colorize(@teal);}
    }
}

.set-teal();