.set-teal() {
    @base: teal;
    @modifier: 1/2;
    .set-color-base(@base, @modifier);
    @teal: @color-base;

    & when (@output-color-classes = true) {
        .teal { .colorize(@teal);}
    }
}

.set-teal();