.set-violet() {
    @base: violet;
    @modifier: 1/3;
    .set-color(~"violet", @base, @modifier);
    @violet: @color;

    & when (@output-color-classes = true) {
        .violet { .colorize(@violet);}
    }
}

.set-violet();