@warning-action: contrast(@action, @orange, @cyan, 10%);
@warning-info: contrast(@info, @orange, @violet, 10%);

@warning: contrast(@base-color, @warning-info, @warning-action, 80%);

.warning { .contrast(@warning); background: @warning;}