@warning-action: contrast(@action, @orange, @cyan, 20%);
@warning-info: contrast(@info, @orange, @violet, 20%);

@warning: contrast(@base-color, @warning-info, @warning-action, 80%);

.warning { .colorize(@warning);}