:root {
    --base-color: @base-color;
    --body-background: @action;
    --main-background: @white;

    each(@semantic-color-names, {
        --@{value}: @@value;
    });

    --text-contrast: @text-contrast;
    --ambient: @ambient;
    --shadow-color: @shadow-color;
    --shadow-position: @shadow-position;
    --shadow-blur: @shadow-blur;
    --text-measure: @text-measure;
    --text-padding: @text-padding;
    --text-padding-top: @text-padding-top;
    --text-padding-right: @text-padding-right;
    --text-padding-bottom: @text-padding-bottom;
    --text-padding-left: @text-padding-left;
    --gutter: @gutter;
    --page-width: @page-width;
    --aside-width: @aside-width;
    --column-width: @column-width;
    --avatar-width: @avatar-width;
    --icon-width: @icon-width;
    --full-width: @full-width;
    --grid-width: @grid-width;
    --tablet-width: @tablet-width;
    --desktop-width: @desktop-width;

    each(@palette-color-names, {
        --@{value}: @@value;
    });

    each(@gray-names, {
        --@{value}: @@value;
    });

    each(@css-property-names, { 
        --@{value}: @@value;
    });
}