// environment
// all of these files only output variables/mixins for the environment, no CSS rules

@import (reference) "properties";
@import (reference) "settings";

@import (reference) "viewports";
@import (reference) "targets";

@import (reference) "colors/grays";
@import (reference) "colors/palette";
@import (reference) "colors/semantic";

@import (reference) "patterns"; 
@import (reference) "mixins/mixins";

@import (reference) "random";

// css output
// edit these files directly to change the appearance of HTML elements

@import "reset";

@import "property-classes";

@import "elements/body";
@import "elements/main";
@import "elements/nav";
@import "elements/section";
@import "elements/aside";
@import "elements/footer";
@import "elements/headline";
@import "elements/p";
@import "elements/a";
@import "elements/form";
@import "elements/fieldset";
@import "elements/ol";
@import "elements/ul";
@import "elements/span";
@import "elements/mark";
@import "elements/kbd";
@import "elements/b";
@import "elements/button";
@import "elements/pre";
@import "elements/code";
@import "elements/blockquote";
@import "elements/textarea";
// TODO: support all HTML elements or have etc file

@import "components/hero";
@import "components/group";
@import "components/bar";
@import "components/feature";
@import "components/card";
@import "components/matte";
@import "components/well";
@import "components/island";
@import "components/badge";
@import "components/dropcap";
@import "components/copy";
@import "components/two-column";
@import "components/three-column";
@import "components/golden-column";

@import "utilities";
@import "no";
@import "debug";
@import "css-variables";

.set-closer-farther-hue(@teal, @blue, @cyan);

.cyan-before();

.cyan-before() when (@closer = @teal) { .cyan:before { content:"teal w";}}

.cyan-before() when (@closer = @cyan) { .cyan:before { content:"cyan w";}}

.cyan-before() when (@closer = @blue) { .cyan:before { content:"blue w";}}

// button.warning {
//     &:before {
//         content:"";
//         float: left;
//         margin-top: -2px;
//         margin-right: @padding*.6;
//         .icon(alert-triangle; @warning;);
//     }
// }

// button.failure {
//     &:before {
//         content:"";
//         float: left;
//         margin-top: -2px;
//         margin-right: @padding*.6;
//         .icon(alert-triangle; @failure;);
//     }
// }


.ambient { .colorize(@ambient);}
.base-color { .colorize(@base-color);}

// add any other Less/CSS here


.color-palette div {
    // color palette
    float: left;

    margin-right: @padding/3;
    margin-bottom: @padding/3;

    padding: @text-padding;

    min-width: @avatar-width;
    max-width: 100%;

    .default(border-width);
    .default(border-radius);

    width: @aside-width;

    &:last-child {
        .clearfix();
    }
}

.less_logo {
    // @logo: data-uri("less_logo.png");

    display: block;
    max-width: 100%;
    // height: image-height("less_logo.png")/4;
    // background: @logo;
    // background-size: 100% 100%;
    // margin: 0 auto;
    margin-right: 12px;
}

.powered-by {
    display: block;
    font-size: 90%;
    text-decoration: none;
    margin: 0 auto;
    max-width: 120px;
    padding: @padding/2;
    .contrast(color, @info);
}

.logo {
    text-align: center;
    display: block;
    margin: 0 auto;
    max-width: floor(@aside-width/2);
    // max-width: image-width("less_logo.png")/4;
  }

.pattern-example {
    width: 100%;
    height: 400px;
    .default(margin-bottom);

    &:after {
        .set-tone(@base-color);
        @color: mix(@base-color, @tone, 75%);
        .colorize(@color);
        padding: @text-padding;
    }
}

.icon {
    @width: @line-height;
    @spacer: 222px;

    float: left;
    display: block;
    position: relative;
    width: @width;
    height: @width;
    padding: @padding;
    margin: @padding;
    margin-right: @spacer;
    background: transparent;
    background-repeat: no-repeat;
    color: @action;

    &:after {
        width: @spacer;
        font-size: 85%;
        position: absolute;
        bottom: 0;
        left: @width + 10px;
    }

    &:last-child {
        .clearfix();
    }
}

#icon_library { display: none;}