// environment

@import "properties";
@import "settings";
@import "targets";
@import "colors";
@import "patterns"; 
@import "mixins/mixins";

@import "random"; // dev only

// css output

@import "css-variables";
@import "reset";
@import "property-classes";

@import "elements/body";
@import "elements/main";
@import "elements/nav";
@import "elements/section";
@import "elements/aside";
@import "elements/footer";
@import "elements/headline";
@import "elements/p";
@import "elements/a";
@import "elements/form";
@import "elements/fieldset";
@import "elements/ol";
@import "elements/ul";
@import "elements/span";
@import "elements/mark";
@import "elements/kbd";
@import "elements/b";
@import "elements/button";
@import "elements/pre";
@import "elements/code";
@import "elements/blockquote";
@import "elements/textarea";
// TODO: support all HTML elements or have etc file

@import "components/hero";
@import "components/group";
@import "components/bar";
@import "components/tray";
@import "components/feature";
@import "components/card";
@import "components/matte";
@import "components/well";
@import "components/island";
@import "components/badge";
@import "components/dropcap";
@import "components/copy";
@import "components/two-column";
@import "components/three-column";
@import "components/golden-column";

@import "utilities";
@import "no";
@import "debug";

// add any other Less/CSS here


// demo site CSS

.ambient { .colorize(@ambient);}
.base-color { .colorize(@base-color);}

.color-palette div {
    float: left;

    margin-right: @padding/3;
    margin-bottom: @padding/3;

    padding: @text-padding;

    width: 100%;

    .default(border-width, border-radius);

    &:last-child {
        .clearfix();
    }
}

.pattern-example {
    width: 100%;
    height: 400px;
    .default(margin-bottom);

    &:after {
        .set-tone(@base-color);
        @color: mix(@base-color, @tone, 75%);
        .colorize(@color);
        padding: @text-padding;
    }
}
