// environment

@import "properties";
@import "settings";

@import "colors/colors";
@import "mixins/mixins";
@import "patterns"; 

@import "targets";

// @import "random"; // dev only

// css output

@import "css-variables";
@import "reset";
@import "property-classes";

@import "elements/body";
@import "elements/main";
@import "elements/nav";
@import "elements/section";
@import "elements/aside";
@import "elements/footer";
@import "elements/headline";
@import "elements/p";
@import "elements/img";
@import "elements/a";
@import "elements/form";
@import "elements/fieldset";
@import "elements/ol";
@import "elements/ul";
@import "elements/span";
@import "elements/mark";
@import "elements/kbd";
@import "elements/b";
@import "elements/button";
@import "elements/pre";
@import "elements/code";
@import "elements/blockquote";
@import "elements/textarea";
// TODO: support all HTML elements or have etc file


@import "composables/matte";
@import "composables/well";
@import "composables/island";
@import "composables/overlay";
@import "composables/badge";
@import "composables/grid";
@import "composables/two-column";
@import "composables/three-column";
@import "composables/golden-column";
@import "composables/group";
@import "composables/bar";
@import "composables/tray";
@import "composables/stack";
@import "composables/feature";
@import "composables/card";
@import "composables/light";
@import "composables/dark";

@import "utilities";
@import "nullifiers";
@import "debug";

// add any other Less/CSS here


// demo site CSS

.base-color { .contrast(@base-color); background: @base-color;}

.text-on-blue {
    .contrast(color, blue); background: blue;
}

#blue_headline_example {
    .contrast(color, blue, 3); background: blue;
}

#blue_headline_example2 {
    .contrast(color, blue, 3);
    background: blue;
    p {
        border-style: solid;
        border-width: 1px;
        .contrast(border-color, blue, 9);
    }
}

#blue_headline_example3 {
    .contrast(color, blue, 3);
    background: blue;
    p {
        border-style: solid;
        border-width: 1px;
        .contrast(border-color, blue, 9, shade);
    }
}

.color-palette .color {

    margin-bottom: @padding/2;

    position: relative;
    padding: @text-padding;
    overflow: hidden;
    text-align: center;

    width: 100%;

    .default(border-width);
    .default(border-radius);

    // &::before {
    //     display: block;
    //     position: absolute;
    //     content:"";
    //     width: 100%;
    //     height: 16%;
    //     bottom: 0;
    //     right: 0;
    //     &:extend(.dark);
    // }

    // &::after {
    //     display: block;
    //     position: absolute;
    //     content:"";
    //     width: 100%;
    //     height: 16%;
    //     top: 0;
    //     left: 0;
    //     &:extend(.light);
    // }

    &:last-child {
        .clearfix();
    }
}

.pattern-example {
    width: 100%;
    height: 250px;
    .default(margin-bottom);

    &::after {
        .small;
        .set-tone(@base-color);
        @color: mix(@base-color, @tone, 75%);
        .contrast(@color);
        background: @color;
        padding: @text-padding;
    }
}
