.random-fontfamily();
@font-family: @font-family-random;
// .random-background();

.random-main-background();
@main-background: @main-background-random;
.random-padding();
@padding: @padding-random;
.random-margin();
@margin: @margin-random;
.random-textmeasure();
@text-measure: @text-measure-random;
.random-fontsize();
@font-size: @font-size-random;
.random-borderradius();
@border-radius: @border-radius-random;

.random-fontfamily() {
    
    @potentials:    @font-family-serif,
                    @font-family-sans-serif,
                    @font-family-sans-serif,
                    @font-family-monospace,
                    @font-family-monospace;

    @length: length(@potentials);

    @random: `Math.random()`;
    @ff: ceil(@length*@random);
    @font-family-random: extract(@potentials, @ff);
}


.random-background() {
    
    @potentials: @action, @reaction, average(@action, @gray-darker), @gray-darker, @gray-lighter,
     @info, average(@reaction, @gray-darker), @action, @action, @action, @action;

    @length: length(@potentials);

    @random: `Math.random()`;
    @bg: ceil(@length*@random);
    @background-random: extract(@potentials, @bg);
}

.random-main-background() {
    
    .set-potentials() {
                @potentials: @white,
                mix(@white, @ambient, 90%),
                mix(@white, @action, 90%),
                mix(@white, @reaction, 90%),
                mix(@white, @info, 90%),
                @gray-lighter,
                @white,
                @white,
                @white;
    }

    // .set-potentials() when (default()) {
    //     @potentials: @gray-dark,
    //             mix(@black, @ambient, 80%),
    //             mix(@black, @action, 80%),
    //             mix(@black, @reaction, 80%),
    //             @white;
    // }

    .set-potentials();

    @length: length(@potentials);

    @random: `Math.random()`;
    @bg: ceil(@length*@random);
    @main-background-random: extract(@potentials, @bg);
}


.random-base-color() {
    @randomColor: `Math.floor(Math.random()*16777215).toString(16)`;
    @escape: e(@randomColor);
    @base-color: color('#@{escape}');

    .correct-it() when not (isColor(@base-color)) {
        .random-base-color();
    }
    .correct-it();
}

.set-random-color() {
    @randomColor: `Math.floor(Math.random()*16777215).toString(16)`;
    @escape: e(@randomColor);
    @random-color: color('#@{escape}');
}

.random-padding() {
    @random: `Math.random()`;
    @plusPadding: floor(@random*15px);
    @basePadding: 10px;
    @padding-random: @plusPadding + @basePadding;
}

.random-margin() {
    @random: `Math.random()`;
    @plusMargin: floor(@random*30px);
    @baseMargin: 10px;
    @margin-random: @plusMargin + @baseMargin;
}

.random-textmeasure() {
    @random: `Math.random()`;
    @plustextmeasure: floor(@random*15);
    @basetextmeasure: 35;
    @text-measure-random: @plustextmeasure + @basetextmeasure;
}

.random-borderradius() {
    @random: `Math.random()`;
    @plusborderradius: floor(@random*12);
    @baseborderradius: 0px;
    @border-radius-random: @plusborderradius + @baseborderradius;
}

.random-fontsize() {
    @randomfontsize: `Math.random()`;
    @plusfontsize: floor(@randomfontsize*10);
    @basefontsize: 16px;
    @font-size-random: @basefontsize + @plusfontsize;
}

.random-shadowcolor() {
    @randomshadowfade: `Math.random()`;
    @shadow-color-random: fade(@black, 12% + @randomshadowfade*35);
}

.random-shadowposition() {
    
    @potentials:    0 1px,
                    1px 1px,
                    0 0,
                    1px 0,
                    2px 2px,
                    3px 5px,
                    1px 0,
                    0 1px,
                    0 1px;

    @length: length(@potentials);

    @random: `Math.random()`;
    @ff: ceil(@length*@random);
    @shadow-position-random: extract(@potentials, @ff);
}

.random-shadowblur() {
    @randomshadowblur: `Math.random()`;
    @shadow-blur-random: floor(@randomshadowblur*12px);
}


.random-shadowcolor();

.random-shadowposition();

.random-shadowblur();



@shadow-color: @shadow-color-random;
@shadow-position: @shadow-position-random;
@shadow-blur: @shadow-blur-random;