// dev
@debug: false;
@randomness: true; 
.set-random-color();
@base-color: @random-color;
@output-patterns: false;
@output-color-classes: true;



// basics
// @base-color: #83a9dd;
@body-background: @ambient;
@main-background: @white;
@margin: 3rem;
@padding: 2rem;
@font-size: 1.2em;
@line-height: 1.8;

// patterns
@body-pattern: anchors-away;
@well-pattern: texture;
@hero-pattern: charlie-brown;

// design variables
@text-contrast: 7; // 4.5 is level II, 7 is level III per WCAG standards for body text
@golden-ratio: 1.618;
@shadow-color: fade(difference(white, @ambient), 22.5%);
@shadow-position: 0 1px;
@shadow-blur: 2px;

// color mixing settings
@color-strength: 75% + 15%*(unit(luma(@base-color))/100);
@ambient-mix: 80%;
@compare-mix: 80%;
@compare-color: mix(screen(@ambient, @lumafix), overlay(@ambient, @lumafix), 50%);

// text settings
@text-measure: 55;
@text-padding: @text-padding-top @text-padding-right @text-padding-bottom @text-padding-left;
@text-padding-top: .18em;
@text-padding-right: .2em*@golden-ratio;
@text-padding-bottom: .22em;
@text-padding-left: @text-padding-right;
@gutter: @margin * @golden-ratio;

// widths
// these are based on @text-measure by default
@page-width: @column-width * @golden-ratio;
@aside-width: @column-width / @golden-ratio;
@column-width: @text-measure * 1rem;
@avatar-width: 10rem;
@icon-width: 2.4rem;
@full-width: 100%;
@grid-width: @page-width/12; 
@tablet-width:        ~"calc(@{column-width} + @{gutter})";
@desktop-width:       ~"calc(@{page-width} + @{gutter})";

// font stacks
@font-family-monospace: 
    "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    Menlo,
    Courier,
    monospace;

@font-family-serif: 
    Constantia, 
    "Lucida Bright", 
    Lucidabright, 
    "Lucida Serif", 
    Lucida, 
    "DejaVu Serif", 
    "Bitstream Vera Serif", 
    "Liberation Serif", 
    Georgia,
    serif;

@font-family-sans-serif:  
    "Helvetica Neue",
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen-Sans,
    Ubuntu,
    Cantarell,
    sans-serif;