// defaults for inline and block level elements
// these rules generate a lot of CSS but cover tons of HTML edge cases

// semantic color names .colorize() when used as a class
each(@semantic-color-names, { &.@{value} { .colorize(@@value);};});

// extended color names .colorize() when used as a class
each(@extended-color-names, { &.@{value} { .colorize(@@value);};});

// gray color names .colorize() when used as a class
each(@gray-names, { &.@{value} { .colorize(@@value);};});

.semantic-classes({
  .default(padding);
});

.inline-elements({

  .semantic-classes({
    background: transparent;
  });

  each(@semantic-color-names, { &.@{value} { .color-text(@@value; @background; 3;); background: transparent;};});
});

.block-level-elements({
  margin-bottom: @margin;

  
  
  // each(@extended-color-names, { 
  //   @replace: replace(e(@value), "var-", "");
  //   &.@{replace} { 
  //     .colorize(@@value);

  //     &:before {
  //       content: "@{replace}";
  //     }
  //   };
  // });

  
});


// utility classes

.dropcap {
  &:first-letter {
    float: left;
    font-size: 360%;
    line-height: 2;
    padding-top: .125em;
    padding-right: .15em;
    padding-left: .125em;
  }
}

.hero {
  @color: @ambient;

  .default(padding);
  min-height: 100vh / @golden-ratio;
  width: 100%;
  max-width: none;
  box-shadow: none;
  padding: @gutter;
  box-shadow: inset @box-shadow;

  .pattern(topography; @color;);
  .colorize(@color);

  > * {
    max-width: @max-width * @golden-ratio;
    margin-left: auto;
    margin-right: auto;
  }
}

.matte {
  .default(box-shadow);
  .default(border);
  .colorize(@white);
}

.feature {
  padding: @padding*2;
  font-size: @golden-ratio*100%;
  line-height: @golden-ratio;
}

.text-center {
  text-align: center;
}

.no-user-select {
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.hide, .hidden { display: none !important;}

.clearfix {
  clear: both;
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

