

// utility classes

.inner-max-width {
  @half-max-width: @max-width/2;
  @padding: ~"calc(50% - @{half-max-width})";
  position: relative;
  padding-left: @padding;
  padding-right: @padding;
}

.inner-page-width {
  @half-page-width: @page-width/2;
  @padding: ~"calc(50% - @{half-page-width})";
  position: relative;
  padding-left: @padding;
  padding-right: @padding;

  .right {
    right: @padding;
  }

  .left {
    left: @padding;
  }
}

.text-padding {
  padding: @text-padding;
}

.block {
  display: block;
}

.transparent {
  color: inherit;
  background: transparent;
}

.inverted {}

.disabled {}

.ascii {
  font-family: @font-family-monospace;
  padding: @text-padding;
  padding-left: 1ch;
  padding-right: 1ch;
}

.text-center {
  text-align: center;
}

.hide, .hidden { display: none !important;}

.clearfix {
  clear: both;
  &:after {
    display: block;
    clear: both;
    content: "";
  }
}

// semantic color names .colorize() when used as a class
each(@semantic-color-names, { 
  &.@{value} { .colorize(@@value);};
  &.color-@{value} { .color-text(@@value);};
});

// extended color names .colorize() when used as a class
each(@extended-color-names, { &.@{value} { .colorize(@@value);};});

// gray color names .colorize() when used as a class
each(@gray-names, { &.@{value} { .colorize(@@value);};});